internal/cte/schemas/v4_0/evento_ie/evIECTe_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Insucesso na Entrega do CT-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_dhTentativaEntrega_1">
    <restriction base="TDateTimeUTC"></restriction>
  </simpleType>
  <simpleType name="TAnon_nTentativa_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{3}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpMotivo_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
      <enumeration value="4"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xJustMotivo_1">
    <restriction base="TString">
      <minLength value="15"></minLength>
      <maxLength value="256"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_hashTentativaEntrega_1">
    <restriction base="xs:base64Binary">
      <length value="20"></length>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_dhHashTentativaEntrega_1">
    <restriction base="TDateTimeUTC"></restriction>
  </simpleType>
  <complexType name="TAnonComplex_infEntrega_1">
    <sequence>
      <element name="chNFe" type="TChDFe">
        <annotation>
          <documentation>Chave de acesso da NF-e com insucesso na tentativa de entrega</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_evIECTe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Insucesso na Entrega do CT-e”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de autorização do CT-e</documentation>
        </annotation>
      </element>
      <element name="dhTentativaEntrega" type="TAnon_dhTentativaEntrega_1">
        <annotation>
          <documentation>Data e hora da tentativa da entrega da NF-e</documentation>
          <documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</documentation>
        </annotation>
      </element>
      <element name="nTentativa" minOccurs="0" type="TAnon_nTentativa_1">
        <annotation>
          <documentation>Número da tentativa de entrega que não teve insucesso</documentation>
        </annotation>
      </element>
      <element name="tpMotivo" type="TAnon_tpMotivo_1">
        <annotation>
          <documentation>Motivo do insucesso</documentation>
          <documentation>1- Recebedor não encontrado;
2- Recusa do recebedor;
3- Endereço inexistente;
4- Outros (exige informar justificativa)</documentation>
        </annotation>
      </element>
      <element name="xJustMotivo" minOccurs="0" type="TAnon_xJustMotivo_1">
        <annotation>
          <documentation>Justificativa do Motivo de insucesso, informar apenas para tpMotivo = 4</documentation>
        </annotation>
      </element>
      <element name="latitude" type="TLatitude" minOccurs="0">
        <annotation>
          <documentation>Latitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element name="longitude" type="TLongitude" minOccurs="0">
        <annotation>
          <documentation>Longitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element name="hashTentativaEntrega" minOccurs="0" type="TAnon_hashTentativaEntrega_1">
        <annotation>
          <documentation>Hash (SHA1) no formato Base64 resultante da concatenação: Chave de acesso do CT-e + Base64 da imagem capturada da tentativa com insucesso da entrega (Exemplo: foto do local que não recebeu a entrega ou do local sem recebedor)</documentation>
          <documentation>O hashCSRT é o resultado das funções SHA-1 e base64 do token CSRT fornecido pelo fisco + chave de acesso do DF-e. (Implementação em futura NT)
Observação: 28 caracteres são representados no schema como 20 bytes do tipo base64Binary</documentation>
        </annotation>
      </element>
      <element name="dhHashTentativaEntrega" minOccurs="0" type="TAnon_dhHashTentativaEntrega_1">
        <annotation>
          <documentation>Data e hora de geração do hash tentativa entrega</documentation>
          <documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</documentation>
        </annotation>
      </element>
      <element name="infEntrega" minOccurs="0" maxOccurs="2000" type="TAnonComplex_infEntrega_1">
        <annotation>
          <documentation>Grupo de informações das NF-e que não tiveram sucesso na entrega ao Destinatário</documentation>
          <documentation>Informar o grupo apenas para CT-e com tipo de serviço Normal</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evIECTe" type="TAnonComplex_evIECTe_1">
    <annotation>
      <documentation>Schema XML de validação do evento insucesso na entrega eletrônico do CT-e 
110190</documentation>
    </annotation>
  </element>
</schema>