internal/nfe/schemas/v4_0/nfe_proc/xmldsig-core-schema_v1.01.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">
	<xs:complexType name="TAnonComplex_CanonicalizationMethod_1">
					<xs:attribute name="Algorithm" type="anyURI" use="required" fixed="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
				</xs:complexType>
			<xs:complexType name="TAnonComplex_SignatureMethod_1">
					<xs:attribute name="Algorithm" type="anyURI" use="required" fixed="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />
				</xs:complexType>
			<xs:complexType name="TAnonComplex_DigestMethod_1">
					<xs:attribute name="Algorithm" type="anyURI" use="required" fixed="http://www.w3.org/2000/09/xmldsig#sha1" />
				</xs:complexType>
			<xs:element name="Signature" type="ds:SignatureType" />
	<xs:complexType name="SignatureType">
		<xs:sequence>
			<xs:element name="SignedInfo" type="ds:SignedInfoType" />
			<xs:element name="SignatureValue" type="ds:SignatureValueType" />
			<xs:element name="KeyInfo" type="ds:KeyInfoType" />
		</xs:sequence>
		<xs:attribute name="Id" type="ID" use="optional" />
	</xs:complexType>
	<xs:complexType name="SignatureValueType">
		<xs:simpleContent>
			<xs:extension base="base64Binary">
				<xs:attribute name="Id" type="ID" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SignedInfoType">
		<xs:sequence>
			<xs:element name="CanonicalizationMethod" type="TAnonComplex_CanonicalizationMethod_1">
				</xs:element>
			<xs:element name="SignatureMethod" type="TAnonComplex_SignatureMethod_1">
				</xs:element>
			<xs:element name="Reference" type="ds:ReferenceType" />
		</xs:sequence>
		<xs:attribute name="Id" type="ID" use="optional" />
	</xs:complexType>
	<xs:complexType name="ReferenceType">
		<xs:sequence>
			<xs:element name="Transforms" type="ds:TransformsType">
				
				<xs:unique name="unique_Transf_Alg">
					<xs:selector xpath="./*" />
					<xs:field xpath="@Algorithm" />
				</xs:unique>
			</xs:element>
			<xs:element name="DigestMethod" type="TAnonComplex_DigestMethod_1">
				</xs:element>
			<xs:element name="DigestValue" type="ds:DigestValueType" />
		</xs:sequence>
		<xs:attribute name="Id" type="ID" use="optional" />
		<xs:attribute name="URI" use="required">
			<xs:simpleType>
				<xs:restriction base="anyURI">
					<xs:minLength value="2" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Type" type="anyURI" use="optional" />
	</xs:complexType>
	<xs:complexType name="TransformsType">
		<xs:sequence>
			<xs:element name="Transform" type="ds:TransformType" minOccurs="2" maxOccurs="2" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransformType">
		<xs:element name="XPath" type="string" minOccurs="0" />
		<xs:attribute name="Algorithm" type="ds:TTransformURI" use="required" />
	</xs:complexType>
	<xs:complexType name="KeyInfoType">
		<xs:sequence>
			<xs:element name="X509Data" type="ds:X509DataType" />
		</xs:sequence>
		<xs:attribute name="Id" type="ID" use="optional" />
	</xs:complexType>
	<xs:complexType name="X509DataType">
		<xs:sequence>
			<xs:element name="X509Certificate" type="base64Binary" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DigestValueType">
		<xs:restriction base="base64Binary" />
	</xs:simpleType>
	<xs:simpleType name="TTransformURI">
		<xs:restriction base="anyURI">
			<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#enveloped-signature" />
			<xs:enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>