internal/mdfe/schemas/v3_0/evento_inclusao_dfe/evInclusaoDFeMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoMDFeTiposBasico_v3.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Inclusão DF-e"></enumeration>
      <enumeration value="Inclusao DF-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMunCarrega_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMunDescarga_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infDoc_1">
    <sequence>
      <element name="cMunDescarga" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do Município de Descarregamento</documentation>
        </annotation>
      </element>
      <element name="xMunDescarga" type="TAnon_xMunDescarga_1">
        <annotation>
          <documentation>Nome do Município de Descarregamento</documentation>
        </annotation>
      </element>
      <element name="chNFe" type="TChNFe">
        <annotation>
          <documentation>Nota Fiscal Eletrônica</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_evIncDFeMDFe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Inclusão DF-e”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de Status do MDF-e. 
1 posição tipo de autorizador (9 - SEFAZ Nacional ); 
2 posições ano;
10 seqüencial no ano.</documentation>
        </annotation>
      </element>
      <element name="cMunCarrega" type="TCodMunIBGE">
        <annotation>
          <documentation source="Código do Munícpio de Carregamento">Código do Município de Carregamento</documentation>
        </annotation>
      </element>
      <element name="xMunCarrega" type="TAnon_xMunCarrega_1">
        <annotation>
          <documentation>Nome do Município de Carregamento</documentation>
        </annotation>
      </element>
      <element name="infDoc" maxOccurs="unbounded" type="TAnonComplex_infDoc_1">
        <annotation>
          <documentation>Informações dos Documentos fiscais vinculados ao manifesto</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evIncDFeMDFe" type="TAnonComplex_evIncDFeMDFe_1">
    <annotation>
      <documentation>Schema XML de validação do evento de inclusão de DFe 
110115</documentation>
    </annotation>
  </element>
</schema>