internal/mdfe/schemas/v3_0/consulta_situacao/consSitMDFeTiposBasico_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralMDFe_v3.00.xsd"></include>
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <complexType name="TAnonComplex_protMDFe_1">
    <sequence>
      <any processContents="skip">
        <annotation>
          <documentation>Retornar protMDFe da versão correspondente do MDF-e autorizado</documentation>
        </annotation>
      </any>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.00"></enumeration>
          <enumeration value="3.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TAnonComplex_procEventoMDFe_1">
    <sequence>
      <any processContents="skip">
        <annotation>
          <documentation>Retornar procEventoMDFe da versão correspondente do evento MDF-e autorizado</documentation>
        </annotation>
      </any>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.00"></enumeration>
          <enumeration value="3.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TAnonComplex_procInfraSA_1">
    <sequence>
      <element name="nProtDTe" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de geração do DTe</documentation>
        </annotation>
      </element>
      <element name="dhProt" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e hora de geração do protocolo, no formato AAAA-MM-DDTHH:MM:SS TZD.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TConsSitMDFe">
    <annotation>
      <documentation>Tipo Pedido de Consulta da Situação Atual do MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="xServ" type="TServ" fixed="CONSULTAR">
        <annotation>
          <documentation>Serviço Solicitado</documentation>
        </annotation>
      </element>
      <element name="chMDFe" type="TChNFe">
        <annotation>
          <documentation>Chaves de acesso do MDF-e, compostas por: UF do emitente, AAMM da emissão do MDF-e, CNPJ do emitente, modelo, série, tipo de emissão e número do MDF-e e código numérico + DV.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="TVerConsSitMDFe"></restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TRetConsSitMDFe">
    <annotation>
      <documentation>Tipo Retorno de Pedido de Consulta da Situação Atual do MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que processou o MDF-e</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da mensagem enviada.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do serviço solicitado.</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>código da UF de atendimento</documentation>
        </annotation>
      </element>
      <element name="protMDFe" minOccurs="0" type="TAnonComplex_protMDFe_1"></element>
      <element name="procEventoMDFe" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_procEventoMDFe_1"></element>
      <element name="procInfraSA" minOccurs="0" type="TAnonComplex_procInfraSA_1">
        <annotation>
          <documentation>Grupo de informações do compartilhamento do MDFe com InfraSA para geração do DTe</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerConsSitMDFe" use="required"></attribute>
  </complexType>
  <simpleType name="TVerConsSitMDFe">
    <annotation>
      <documentation>Tipo Versão do Consulta situação de MDF-e - 1.00</documentation>
    </annotation>
    <restriction base="xs:string">
      <pattern value="3\.00"></pattern>
    </restriction>
  </simpleType>
</schema>