internal/nfe/schemas/v1_0/evento_cancel_entrega/e110131_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposBasico_v1.03.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <enumeration value="Cancelamento Comprovante de Entrega da NF-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpAutor_1">
    <annotation>
      <documentation>1=Empresa Emitente; 2=Empresa Destinatária; 3=Empresa; 5=Fisco; 6=RFB; 9=Outros;</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_detEvento_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1"></element>
      <element name="cOrgaoAutor" type="TCOrgaoIBGE"></element>
      <element name="tpAutor" type="TAnon_tpAutor_1"></element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo do Autor do Evento</documentation>
        </annotation>
      </element>
      <element name="nProtEvento" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de Autorização do Evento da NF-e a que se refere este cancelamento.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <element name="detEvento" type="TAnonComplex_detEvento_1">
    <annotation>
      <documentation>Schema XML de validação do evento de Cancelamento do Comprovante de Entrega da NF-e</documentation>
    </annotation>
  </element>
</schema>