internal/cte/schemas/v4_0/consulta_situacao/consSitCTeTiposBasico_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralCTe_v4.00.xsd"></include>
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <complexType name="TAnonComplex_protCTe_1">
    <sequence>
      <any processContents="skip">
        <annotation>
          <documentation>Retornar protCTe da versão correspondente do CT-e autorizado</documentation>
        </annotation>
      </any>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.03"></enumeration>
          <enumeration value="1.04"></enumeration>
          <enumeration value="2.00"></enumeration>
          <enumeration value="3.00"></enumeration>
          <enumeration value="4.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TAnonComplex_procEventoCTe_1">
    <sequence>
      <any>
        <annotation>
          <documentation>Retornar procEventoCTe da versão correspondente do evento CT-e autorizado</documentation>
        </annotation>
      </any>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.04"></enumeration>
          <enumeration value="2.00"></enumeration>
          <enumeration value="3.00"></enumeration>
          <enumeration value="4.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TConsSitCTe">
    <annotation>
      <documentation>Tipo Pedido de Consulta da Situação Atual do Conhecimento de Transporte eletrônico</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="xServ" type="TServ" fixed="CONSULTAR">
        <annotation>
          <documentation>Serviço Solicitado</documentation>
        </annotation>
      </element>
      <element name="chCTe" type="TChDFe">
        <annotation>
          <documentation>Chaves de acesso da CT-e</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="TVerConsSitCTe"></restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TRetConsSitCTe">
    <annotation>
      <documentation>Tipo Retorno de Pedido de Consulta da Situação Atual do Conhecimento de Transporte eletrônico</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que processou o CT-e</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da mensagem enviada.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do serviço solicitado.</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>código da UF de atendimento</documentation>
        </annotation>
      </element>
      <element name="protCTe" minOccurs="0" type="TAnonComplex_protCTe_1"></element>
      <element name="procEventoCTe" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_procEventoCTe_1"></element>
    </sequence>
    <attribute name="versao" type="TVerConsSitCTe" use="required"></attribute>
  </complexType>
  <simpleType name="TVerConsSitCTe">
    <annotation>
      <documentation>Tipo Versão do Consulta situação de CT-e - 4.00</documentation>
    </annotation>
    <restriction base="xs:string">
      <pattern value="4\.00"></pattern>
    </restriction>
  </simpleType>
</schema>