internal/mdfe/schemas/v1_0/dist_dfe/retDistDFeInt_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposDistDFe_v1.00.xsd"></include>
  <simpleType name="TAnon_dhResp_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_docZip_1">
    <simpleContent>
      <extension base="xs:base64Binary">
        <attribute name="NSU" type="TNSU" use="required">
          <annotation>
            <documentation>NSU do documento fiscal</documentation>
          </annotation>
        </attribute>
        <attribute name="schema" type="xs:string" use="required">
          <annotation>
            <documentation>Identificação do Schema XML que será utilizado para validar o XML existente no conteúdo da tag docZip. Vai identificar o tipo do documento e sua versão. Exemplos: procMDFe_v2.00.xsd, procEventoMDFe_v2.00.xsd</documentation>
          </annotation>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="TAnonComplex_loteDistDFeInt_1">
    <sequence maxOccurs="50">
      <element name="docZip" type="TAnonComplex_docZip_1">
        <annotation>
          <documentation>Informação resumida ou documento fiscal eletrônico de interesse da pessoa ou empresa. O conteúdo desta tag estará compactado no padrão gZip. O tipo do campo é base64Binary.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_retDistDFeInt_1">
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Web Service MDFeDistribuicaoDFe</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status de processamento da requisição</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do processamento da requisição</documentation>
        </annotation>
      </element>
      <element name="dhResp" type="TAnon_dhResp_1">
        <annotation>
          <documentation>Data e Hora de processamento da requisição no formato AAAA-MM-DDTHH:MM:SS</documentation>
        </annotation>
      </element>
      <element name="ultNSU" type="TNSU">
        <annotation>
          <documentation>Último NSU pesquisado no Ambiente Nacional. Se for o caso, o solicitante pode continuar a consulta a partir deste NSU para obter novos resultados.</documentation>
        </annotation>
      </element>
      <element name="maxNSU" type="TNSU">
        <annotation>
          <documentation>Maior NSU existente no Ambiente Nacional para o CNPJ/CPF informado</documentation>
        </annotation>
      </element>
      <element name="loteDistDFeInt" minOccurs="0" type="TAnonComplex_loteDistDFeInt_1">
        <annotation>
          <documentation>Conjunto de informações resumidas e documentos fiscais eletrônicos de interesse da pessoa ou empresa.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerDistDFe" use="required"></attribute>
  </complexType>
  <element name="retDistDFeInt" type="TAnonComplex_retDistDFeInt_1">
    <annotation>
      <documentation>Schema do resultado do pedido de distribuição de DF-e de interesse</documentation>
    </annotation>
  </element>
</schema>