internal/mdfe/schemas/v1_0/dist_dfe/tiposDistDFe_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <simpleType name="TNSU">
    <annotation>
      <documentation>Tipo número sequencial único</documentation>
    </annotation>
    <restriction base="xs:token">
      <pattern value="[0-9]{15}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TQNSU">
    <annotation>
      <documentation>Tipo quantidade de NSU</documentation>
    </annotation>
    <restriction base="xs:unsignedShort">
      <minInclusive value="1"></minInclusive>
      <maxInclusive value="50"></maxInclusive>
    </restriction>
  </simpleType>
  <simpleType name="TVerDistDFe">
    <annotation>
      <documentation>Tipo Versão dos leiautes do Web Service MDFeDistribuicaoDFe</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1.00"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAmb">
    <annotation>
      <documentation>Tipo Ambiente</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TCodUfIBGE">
    <annotation>
      <documentation>Tipo Código da UF da tabela do IBGE</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="11"></enumeration>
      <enumeration value="12"></enumeration>
      <enumeration value="13"></enumeration>
      <enumeration value="14"></enumeration>
      <enumeration value="15"></enumeration>
      <enumeration value="16"></enumeration>
      <enumeration value="17"></enumeration>
      <enumeration value="21"></enumeration>
      <enumeration value="22"></enumeration>
      <enumeration value="23"></enumeration>
      <enumeration value="24"></enumeration>
      <enumeration value="25"></enumeration>
      <enumeration value="26"></enumeration>
      <enumeration value="27"></enumeration>
      <enumeration value="28"></enumeration>
      <enumeration value="29"></enumeration>
      <enumeration value="31"></enumeration>
      <enumeration value="32"></enumeration>
      <enumeration value="33"></enumeration>
      <enumeration value="35"></enumeration>
      <enumeration value="41"></enumeration>
      <enumeration value="42"></enumeration>
      <enumeration value="43"></enumeration>
      <enumeration value="50"></enumeration>
      <enumeration value="51"></enumeration>
      <enumeration value="52"></enumeration>
      <enumeration value="53"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TCOrgaoIBGE">
    <annotation>
      <documentation>Tipo Código de orgão (UF da tabela do IBGE + 90 RFB)</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="11"></enumeration>
      <enumeration value="12"></enumeration>
      <enumeration value="13"></enumeration>
      <enumeration value="14"></enumeration>
      <enumeration value="15"></enumeration>
      <enumeration value="16"></enumeration>
      <enumeration value="17"></enumeration>
      <enumeration value="21"></enumeration>
      <enumeration value="22"></enumeration>
      <enumeration value="23"></enumeration>
      <enumeration value="24"></enumeration>
      <enumeration value="25"></enumeration>
      <enumeration value="26"></enumeration>
      <enumeration value="27"></enumeration>
      <enumeration value="28"></enumeration>
      <enumeration value="29"></enumeration>
      <enumeration value="31"></enumeration>
      <enumeration value="32"></enumeration>
      <enumeration value="33"></enumeration>
      <enumeration value="35"></enumeration>
      <enumeration value="41"></enumeration>
      <enumeration value="42"></enumeration>
      <enumeration value="43"></enumeration>
      <enumeration value="50"></enumeration>
      <enumeration value="51"></enumeration>
      <enumeration value="52"></enumeration>
      <enumeration value="53"></enumeration>
      <enumeration value="90"></enumeration>
      <enumeration value="91"></enumeration>
      <enumeration value="92"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TCnpj">
    <annotation>
      <documentation>Tipo Número do CNPJ</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <maxLength value="14"></maxLength>
      <pattern value="[0-9]{14}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TCpf">
    <annotation>
      <documentation>Tipo Número do CPF</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <maxLength value="11"></maxLength>
      <pattern value="[0-9]{11}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TVerAplic">
    <annotation>
      <documentation>Tipo Versão do Aplicativo</documentation>
    </annotation>
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TStat">
    <annotation>
      <documentation>Tipo Código da Mensagem enviada</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <maxLength value="3"></maxLength>
      <pattern value="[0-9]{3}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TMotivo">
    <annotation>
      <documentation>Tipo Motivo</documentation>
    </annotation>
    <restriction base="TString">
      <maxLength value="255"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TString">
    <annotation>
      <documentation>Tipo string genérico</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TProt">
    <annotation>
      <documentation>Tipo Número do Protocolo de Status</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <maxLength value="15"></maxLength>
      <pattern value="[0-9]{15}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TIe">
    <annotation>
      <documentation>Tipo Inscrição Estadual do Emitente // alterado EM 24/10/08 para aceitar ISENTO</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <maxLength value="14"></maxLength>
      <pattern value="[0-9]{2,14}|ISENTO"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TDec_1302">
    <annotation>
      <documentation>Tipo Decimal com 15 dígitos, sendo 13 de corpo e 2 decimais</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,12}(\.[0-9]{2})?"></pattern>
    </restriction>
  </simpleType>
</schema>