internal/mdfe/schemas/v3_0/evento_confirma_serv/evConfirmaServMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoMDFeTiposBasico_v3.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Confirmação Serviço Transporte"></enumeration>
      <enumeration value="Confirmacao Servico Transporte"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evConfirmaServMDFe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Confirmação Serviço Transporte”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de Status do MDF-e. 
1 posição tipo de autorizador (9 - SEFAZ Nacional ); 
2 posições ano;
10 seqüencial no ano.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evConfirmaServMDFe" type="TAnonComplex_evConfirmaServMDFe_1">
    <annotation>
      <documentation>Schema XML de validação do evento de confirmação do serviço de transporte 110117</documentation>
    </annotation>
  </element>
</schema>