internal/cte/schemas/v4_0/modal_rodoviario_os/cteModalRodoviarioOS_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralCTe_v4.00.xsd"></include>
  <include schemaLocation="cteTiposBasico_v4.00.xsd"></include>
  <simpleType name="TTermoAutFreta">
    <annotation>
      <documentation>Tipo Termo  de Autorização de Fretamento – TAF</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <maxLength value="12"></maxLength>
      <pattern value="[0-9]{12}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TNroRegEstadual">
    <annotation>
      <documentation>Tipo Número de Registro Estadual</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <maxLength value="25"></maxLength>
      <pattern value="[0-9]{25}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_placa_1">
    <restriction base="TPlaca"></restriction>
  </simpleType>
  <simpleType name="TAnon_RENAVAM_1">
    <restriction base="TString">
      <minLength value="9"></minLength>
      <maxLength value="11"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_IE_1">
    <restriction base="TIeDest"></restriction>
  </simpleType>
  <simpleType name="TAnon_tpProp_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_prop_1">
    <sequence>
      <choice>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>Número do CPF</documentation>
            <documentation>Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
        <element name="CNPJ" type="TCnpjOpc">
          <annotation>
            <documentation>Número do CNPJ</documentation>
            <documentation>Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
      </choice>
      <choice>
        <element name="TAF" type="TTermoAutFreta">
          <annotation>
            <documentation>Termo de Autorização de Fretamento – TAF</documentation>
            <documentation>De acordo com a Resolução ANTT nº 4.777/2015</documentation>
          </annotation>
        </element>
        <element name="NroRegEstadual" type="TNroRegEstadual">
          <annotation>
            <documentation>Número do Registro Estadual</documentation>
            <documentation>Registro obrigatório do emitente do CT-e OS junto à Agência Reguladora  Estadual</documentation>
          </annotation>
        </element>
      </choice>
      <element name="xNome" type="TAnon_xNome_1">
        <annotation>
          <documentation>Razão Social ou Nome do proprietário</documentation>
        </annotation>
      </element>
      <element name="IE" minOccurs="0" type="TAnon_IE_1">
        <annotation>
          <documentation>Inscrição Estadual</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf" minOccurs="0">
        <annotation>
          <documentation>UF</documentation>
        </annotation>
      </element>
      <element name="tpProp" type="TAnon_tpProp_1">
        <annotation>
          <documentation>Tipo Proprietário ou possuidor</documentation>
          <documentation>Preencher com:
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;0-TAC – Agregado;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1-TAC Independente; ou 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2 – Outros.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_veic_1">
    <sequence>
      <element name="placa" type="TAnon_placa_1">
        <annotation>
          <documentation>Placa do veículo</documentation>
        </annotation>
      </element>
      <element name="RENAVAM" minOccurs="0" type="TAnon_RENAVAM_1">
        <annotation>
          <documentation>RENAVAM do veículo</documentation>
        </annotation>
      </element>
      <element name="prop" minOccurs="0" type="TAnonComplex_prop_1">
        <annotation>
          <documentation>Proprietário ou possuidor do Veículo.
Só preenchido quando o veículo não pertencer à empresa emitente do CT-e OS</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf" minOccurs="0">
        <annotation>
          <documentation>UF em que veículo está licenciado</documentation>
          <documentation>Sigla da UF de licenciamento do veículo.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_tpFretamento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infFretamento_1">
    <sequence>
      <element name="tpFretamento" type="TAnon_tpFretamento_1">
        <annotation>
          <documentation>Tipo Fretamento</documentation>
          <documentation>Preencher com:
 1 - Eventual 2 - Continuo</documentation>
        </annotation>
      </element>
      <element name="dhViagem" type="TDateTimeUTC" minOccurs="0">
        <annotation>
          <documentation>Data e hora da viagem (Apenas para fretamento eventual)</documentation>
          <documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_rodoOS_1">
    <sequence>
      <choice>
        <element name="TAF" type="TTermoAutFreta">
          <annotation>
            <documentation>Termo de Autorização de Fretamento – TAF</documentation>
            <documentation>Registro obrigatório do emitente do CT-e OS junto à ANTT, de acordo com a Resolução ANTT nº 4.777/2015</documentation>
          </annotation>
        </element>
        <element name="NroRegEstadual" type="TNroRegEstadual">
          <annotation>
            <documentation>Número do Registro Estadual</documentation>
            <documentation>Registro obrigatório do emitente do CT-e OS junto à Agência Reguladora  Estadual.</documentation>
          </annotation>
        </element>
      </choice>
      <element name="veic" minOccurs="0" type="TAnonComplex_veic_1">
        <annotation>
          <documentation>Dados do Veículo</documentation>
        </annotation>
      </element>
      <element name="infFretamento" minOccurs="0" type="TAnonComplex_infFretamento_1">
        <annotation>
          <documentation>Dados do fretamento (apenas para Transporte de Pessoas)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="rodoOS" type="TAnonComplex_rodoOS_1">
    <annotation>
      <documentation>Informações do modal Rodoviário</documentation>
    </annotation>
  </element>
</schema>