internal/cte/schemas/v4_0/modal_aereo/cteModalAereo_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralCTe_v4.00.xsd"></include>
  <simpleType name="TAnon_nMinu_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{9}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nOCA_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{11}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xDime_1">
    <restriction base="TString">
      <minLength value="5"></minLength>
      <maxLength value="14"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cInfManu_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="01"></enumeration>
      <enumeration value="02"></enumeration>
      <enumeration value="03"></enumeration>
      <enumeration value="04"></enumeration>
      <enumeration value="05"></enumeration>
      <enumeration value="06"></enumeration>
      <enumeration value="07"></enumeration>
      <enumeration value="08"></enumeration>
      <enumeration value="09"></enumeration>
      <enumeration value="10"></enumeration>
      <enumeration value="11"></enumeration>
      <enumeration value="12"></enumeration>
      <enumeration value="13"></enumeration>
      <enumeration value="14"></enumeration>
      <enumeration value="15"></enumeration>
      <enumeration value="99"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_natCarga_1">
    <sequence>
      <element name="xDime" minOccurs="0" type="TAnon_xDime_1">
        <annotation>
          <documentation>Dimensão</documentation>
          <documentation>Formato:1234X1234X1234 (cm). Esse campo deve sempre que possível ser preenchido. Entretanto, quando for impossível o preenchimento das dimensões, fica obrigatório o preenchimento da cubagem em metro cúbico do leiaute do CT-e da estrutura genérica (infQ).</documentation>
        </annotation>
      </element>
      <element name="cInfManu" minOccurs="0" maxOccurs="unbounded" type="TAnon_cInfManu_1">
        <annotation>
          <documentation>Informações de manuseio</documentation>
          <documentation>01 - certificado do expedidor para embarque de animal vivo;

02 - artigo perigoso conforme Declaração do Expedidor anexa;

03 - somente em aeronave cargueira; 

04 - artigo perigoso - declaração do expedidor não requerida; 

05 - artigo perigoso em quantidade isenta;

06 - gelo seco para refrigeração (especificar no campo observações a quantidade); 

07 - não restrito (especificar a Disposição Especial no campo observações);

08 - artigo perigoso em carga consolidada (especificar a quantidade no campo observações)
;
09 - autorização da autoridade governamental anexa (especificar no campo observações); 

10 – baterias de íons de lítio em conformidade com a Seção II da PI965 – CAO
; 
11 - baterias de íons de lítio em conformidade com a Seção II da PI966
; 
12 - baterias de íons de lítio em conformidade com a Seção II da PI967
; 
13 – baterias de metal lítio em conformidade com a Seção II da PI968 — CAO; 

14 - baterias de metal lítio em conformidade com a Seção II da PI969; 

15 - baterias de metal lítio em conformidade com a Seção II da PI970
; 
99 - outro (especificar no campo observações)
.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_CL_1">
    <restriction base="xs:string">
      <length value="1"></length>
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="M"></pattern>
      <pattern value="G"></pattern>
      <pattern value="E"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cTar_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="4"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_tarifa_1">
    <sequence>
      <element name="CL" type="TAnon_CL_1">
        <annotation>
          <documentation>Classe</documentation>
          <documentation>Preencher com:
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;M - Tarifa Mínima;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;G - Tarifa Geral;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;E - Tarifa Específica</documentation>
        </annotation>
      </element>
      <element name="cTar" minOccurs="0" type="TAnon_cTar_1">
        <annotation>
          <documentation>Código da Tarifa</documentation>
          <documentation>Deverão ser incluídos os códigos de três dígitos, correspondentes à tarifa.</documentation>
        </annotation>
      </element>
      <element name="vTar" type="TDec_1302">
        <annotation>
          <documentation>Valor da Tarifa</documentation>
          <documentation>Valor da tarifa por kg quando for o caso.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_nONU_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{4}|ND"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qTotEmb_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_uniAP_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="1"></maxLength>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
      <enumeration value="4"></enumeration>
      <enumeration value="5"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infTotAP_1">
    <sequence>
      <element name="qTotProd" type="TDec_1104">
        <annotation>
          <documentation>Quantidade total de artigos perigosos</documentation>
          <documentation>15 posições, sendo 11 inteiras e 4 decimais. 
Deve indicar a quantidade total do artigo perigoso, tendo como base a unidade referenciada na Tabela 3-1 do Doc 9284, por exemplo: litros; quilogramas; quilograma bruto etc. O preenchimento não deve, entretanto, incluir a unidade de medida. No caso de transporte de material radioativo, deve-se indicar o somatório dos Índices de Transporte (TI). Não indicar a quantidade do artigo perigoso por embalagem.</documentation>
        </annotation>
      </element>
      <element name="uniAP" type="TAnon_uniAP_1">
        <annotation>
          <documentation>Unidade de medida</documentation>
          <documentation>1 – KG; 
2 – KG G (quilograma bruto);
3 – LITROS;
4 – TI (índice de transporte para radioativos); 5- Unidades (apenas para artigos perigosos medidos em unidades que não se enquadram nos itens acima. Exemplo: baterias, celulares, equipamentos, veículos, dentre outros)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_peri_1">
    <sequence>
      <element name="nONU" type="TAnon_nONU_1">
        <annotation>
          <documentation>Número ONU/UN</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</documentation>
        </annotation>
      </element>
      <element name="qTotEmb" type="TAnon_qTotEmb_1">
        <annotation>
          <documentation>Quantidade total de volumes contendo artigos perigosos</documentation>
          <documentation>Preencher com o número de volumes (unidades) de artigos perigosos, ou seja, cada embalagem devidamente marcada e etiquetada (por ex.: número de caixas, de tambores, de bombonas, dentre outros). Não deve ser preenchido com o número de ULD, pallets ou containers.</documentation>
        </annotation>
      </element>
      <element name="infTotAP" type="TAnonComplex_infTotAP_1">
        <annotation>
          <documentation>Grupo de informações das quantidades totais de artigos perigosos</documentation>
          <documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_aereo_1">
    <sequence>
      <element name="nMinu" minOccurs="0" type="TAnon_nMinu_1">
        <annotation>
          <documentation>Número da Minuta</documentation>
          <documentation>Documento que precede o CT-e, assinado pelo expedidor, espécie de pedido de serviço</documentation>
        </annotation>
      </element>
      <element name="nOCA" minOccurs="0" type="TAnon_nOCA_1">
        <annotation>
          <documentation>Número Operacional do Conhecimento Aéreo</documentation>
          <documentation>Representa o número de controle comumente utilizado pelo conhecimento aéreo composto por uma sequência numérica de onze dígitos. Os três primeiros dígitos representam um código que os operadores de transporte aéreo associados à IATA possuem. Em seguida um número de série de sete dígitos determinados pelo operador de transporte aéreo. Para finalizar, um dígito verificador, que é um sistema de módulo sete imponderado o qual divide o número de série do conhecimento aéreo por sete e usa o resto como dígito de verificação.</documentation>
        </annotation>
      </element>
      <element name="dPrevAereo" type="TData">
        <annotation>
          <documentation>Data prevista da entrega</documentation>
          <documentation>Formato AAAA-MM-DD</documentation>
        </annotation>
      </element>
      <element name="natCarga" type="TAnonComplex_natCarga_1">
        <annotation>
          <documentation>Natureza da carga</documentation>
        </annotation>
      </element>
      <element name="tarifa" type="TAnonComplex_tarifa_1">
        <annotation>
          <documentation>Informações de tarifa</documentation>
        </annotation>
      </element>
      <element name="peri" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_peri_1">
        <annotation>
          <documentation>Preenchido quando for  transporte de produtos classificados pela ONU como perigosos.</documentation>
          <documentation>O preenchimento desses campos não desobriga a empresa aérea de emitir os demais documentos que constam na legislação vigente.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="aereo" type="TAnonComplex_aereo_1">
    <annotation>
      <documentation>Informações do modal Aéreo</documentation>
    </annotation>
  </element>
</schema>