internal/cte/schemas/v4_0/modal_dutoviario/cteModalDutoviario_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralCTe_v4.00.xsd"></include>
  <include schemaLocation="cteTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_classDuto_1">
    <restriction base="xs:string">
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpContratacao_1">
    <restriction base="xs:string">
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_codPontoEntrada_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_codPontoSaida_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nContrato_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_duto_1">
    <sequence>
      <element name="vTar" type="TDec_0906Opc" minOccurs="0">
        <annotation>
          <documentation>Valor da tarifa</documentation>
        </annotation>
      </element>
      <element name="dIni" type="TData">
        <annotation>
          <documentation>Data de Início da prestação do serviço</documentation>
        </annotation>
      </element>
      <element name="dFim" type="TData">
        <annotation>
          <documentation>Data de Fim da prestação do serviço</documentation>
        </annotation>
      </element>
      <element name="classDuto" minOccurs="0" type="TAnon_classDuto_1">
        <annotation>
          <documentation>Classificação do Dutoviário</documentation>
          <documentation>Informar: 1 - Gasoduto 2 - Mineroduto 3 - Oleoduto</documentation>
        </annotation>
      </element>
      <element name="tpContratacao" minOccurs="0" type="TAnon_tpContratacao_1">
        <annotation>
          <documentation>Tipo de contratação do serviço de transporte (apenas para gasoduto)</documentation>
          <documentation>Informar:
0 - Ponta a ponto
1 - Capacidade de Entrada 
2 - Capacidade de Saida</documentation>
        </annotation>
      </element>
      <element name="codPontoEntrada" minOccurs="0" type="TAnon_codPontoEntrada_1">
        <annotation>
          <documentation>Código do Ponto de Entrada</documentation>
        </annotation>
      </element>
      <element name="codPontoSaida" minOccurs="0" type="TAnon_codPontoSaida_1">
        <annotation>
          <documentation>Código do Ponto de Saída</documentation>
        </annotation>
      </element>
      <element name="nContrato" minOccurs="0" type="TAnon_nContrato_1">
        <annotation>
          <documentation>Número do Contrato de Capacidade</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="duto" type="TAnonComplex_duto_1">
    <annotation>
      <documentation>Informações do modal Dutoviário</documentation>
    </annotation>
  </element>
</schema>