internal/cte/schemas/v4_0/evento_prest_desacordo/evPrestDesacordo_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Prestação do Serviço em Desacordo"></enumeration>
      <enumeration value="Prestacao do Servico em Desacordo"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_indDesacordoOper_1">
    <restriction base="xs:string">
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xObs_1">
    <restriction base="xs:string">
      <minLength value="15"></minLength>
      <maxLength value="255"></maxLength>
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evPrestDesacordo_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Prestação do Serviço em Desacordo”</documentation>
        </annotation>
      </element>
      <element name="indDesacordoOper" type="TAnon_indDesacordoOper_1">
        <annotation>
          <documentation>Indicador de operação em desacordo</documentation>
        </annotation>
      </element>
      <element name="xObs" type="TAnon_xObs_1">
        <annotation>
          <documentation>Observações do tomador</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evPrestDesacordo" type="TAnonComplex_evPrestDesacordo_1">
    <annotation>
      <documentation>Schema XML de validação do evento Prestação do Serviço em Desacordo 610110</documentation>
    </annotation>
  </element>
</schema>