internal/mdfe/schemas/v3_0/cons_reci/consReciMDFeTiposBasico_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <include schemaLocation="tiposGeralMDFe_v3.00.xsd"></include>
  <simpleType name="TAnon_dhRecbto_1">
    <restriction base="TDateTimeUTC"></restriction>
  </simpleType>
  <simpleType name="TAnon_cStat_1">
    <restriction base="TStat"></restriction>
  </simpleType>
  <complexType name="TAnonComplex_infProt_1">
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que processou o MDF-e</documentation>
        </annotation>
      </element>
      <element name="chMDFe" type="TChMDFe">
        <annotation>
          <documentation>Chaves de acesso do MDF-e,</documentation>
        </annotation>
      </element>
      <element name="dhRecbto" type="TAnon_dhRecbto_1">
        <annotation>
          <documentation>Data e hora de processamento, no formato AAAA-MM-DDTHH:MM:SS TZD.</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt" minOccurs="0">
        <annotation>
          <documentation>Número do Protocolo de Status do MDF-e.</documentation>
        </annotation>
      </element>
      <element name="digVal" type="ds:DigestValueType" minOccurs="0">
        <annotation>
          <documentation>Digest Value do MDF-e processado. Utilizado para conferir a integridade do MDF-e original.</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TAnon_cStat_1">
        <annotation>
          <documentation>Código do status do MDF-e.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do MDF-e.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="Id" type="xs:ID" use="optional"></attribute>
  </complexType>
  <simpleType name="TAnon_cMsg_1">
    <restriction base="TStat"></restriction>
  </simpleType>
  <complexType name="TAnonComplex_infFisco_1">
    <sequence>
      <element name="cMsg" type="TAnon_cMsg_1">
        <annotation>
          <documentation>Código do status da mensagem do fisco</documentation>
        </annotation>
      </element>
      <element name="xMsg" type="TMotivo">
        <annotation>
          <documentation>Mensagem do Fisco</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TProtMDFe">
    <annotation>
      <documentation>Tipo Protocolo de status resultado do processamento do MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="infProt" type="TAnonComplex_infProt_1">
        <annotation>
          <documentation>Dados do protocolo de status</documentation>
        </annotation>
      </element>
      <element name="infFisco" minOccurs="0" type="TAnonComplex_infFisco_1">
        <annotation>
          <documentation>Mensagem do Fisco</documentation>
        </annotation>
      </element>
      <element ref="ds:Signature" minOccurs="0"></element>
    </sequence>
    <attribute name="versao" type="TVerConsReciMDFe" use="required"></attribute>
  </complexType>
  <complexType name="TConsReciMDFe">
    <annotation>
      <documentation>Tipo Pedido de Consulta do Recibo do MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="nRec" type="TRec">
        <annotation>
          <documentation>Número do Recibo do arquivo a ser consultado</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerConsReciMDFe" use="required"></attribute>
  </complexType>
  <complexType name="TRetConsReciMDFe">
    <annotation>
      <documentation>Tipo Retorno do Pedido de  Consulta do Recibo do MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que processou o MDF-e</documentation>
        </annotation>
      </element>
      <element name="nRec" type="TRec">
        <annotation>
          <documentation>Número do Recibo Consultado</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>código do status do retorno da consulta.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do do retorno da consulta.</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>Idntificação da UF</documentation>
        </annotation>
      </element>
      <element name="protMDFe" type="TProtMDFe" minOccurs="0">
        <annotation>
          <documentation>Resultado do processamento do MDF-e</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerConsReciMDFe" use="required"></attribute>
  </complexType>
  <simpleType name="TVerConsReciMDFe">
    <annotation>
      <documentation>Tipo Versão do Consulta de MDF-e - 3.00</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="3\.00"></pattern>
    </restriction>
  </simpleType>
</schema>