internal/cte/schemas/v4_0/evento_epec/evEPECCTe_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.portalfiscal.inf.br/cte" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="EPEC"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_toma_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
      <enumeration value="4"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_toma4_1">
    <sequence>
      <element name="toma" type="TAnon_toma_1">
        <annotation>
          <documentation>Tomador do Serviço</documentation>
          <documentation>Preencher com: 
0-Remetente;
1-Expedidor;2-Recebedor;3-Destinatário
;4 - Outros</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>UF do tomador do serviço</documentation>
          <documentation>Informar &#39;EX&#39; para operações com o exterior.</documentation>
        </annotation>
      </element>
      <choice>
        <element name="CNPJ" type="TCnpjOpc">
          <annotation>
            <documentation>Número do CNPJ</documentation>
            <documentation>Em caso de empresa não estabelecida no Brasil, será informado o CNPJ com zeros.&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>Número do CPF</documentation>
            <documentation>Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
      </choice>
      <element name="IE" type="TIeDest" minOccurs="0">
        <annotation>
          <documentation>Inscrição Estadual</documentation>
          <documentation>Informar a IE do tomador ou ISENTO se tomador é contribuinte do ICMS isento de inscrição no cadastro de contribuintes do ICMS. Caso o tomador não seja contribuinte do ICMS não informar o conteúdo.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_tpCTe_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <length value="1"></length>
      <enumeration value="0"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_dhEmi_1">
    <restriction base="TDateTimeUTC"></restriction>
  </simpleType>
  <complexType name="TAnonComplex_evEPECCTe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “EPEC”</documentation>
        </annotation>
      </element>
      <element name="xJust" type="TJust">
        <annotation>
          <documentation>Justificativa da Entrada em Contingencia</documentation>
        </annotation>
      </element>
      <element name="vICMS" type="TDec_1302">
        <annotation>
          <documentation>Valor do ICMS</documentation>
        </annotation>
      </element>
      <element name="vICMSST" type="TDec_1302" minOccurs="0">
        <annotation>
          <documentation>Valor do ICMS ST</documentation>
        </annotation>
      </element>
      <element name="vTPrest" type="TDec_1302">
        <annotation>
          <documentation>Valor Total da Prestação do Serviço</documentation>
          <documentation>Pode conter zeros quando o CT-e for de complemento de ICMS</documentation>
        </annotation>
      </element>
      <element name="vCarga" type="TDec_1302">
        <annotation>
          <documentation>Valor total da carga</documentation>
          <documentation>Dever ser informado para todos os modais, com exceção para o Dutoviário.</documentation>
        </annotation>
      </element>
      <element name="toma4" type="TAnonComplex_toma4_1">
        <annotation>
          <documentation>Indicador do &#34;papel&#34; do tomador do serviço no CT-e</documentation>
        </annotation>
      </element>
      <element name="modal" type="TModTransp">
        <annotation>
          <documentation>Modal</documentation>
          <documentation>Preencher com:
 
01-Rodoviário;

02-Aéreo;
03-Aquaviário;

04-Ferroviário;

05-Dutoviário;
06-Multimodal;</documentation>
        </annotation>
      </element>
      <element name="UFIni" type="TUf">
        <annotation>
          <documentation>UF do início da prestação</documentation>
          <documentation>Informar &#39;EX&#39; para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="UFFim" type="TUf">
        <annotation>
          <documentation>UF do término da prestação</documentation>
          <documentation>Informar &#39;EX&#39; para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="tpCTe" type="TAnon_tpCTe_1">
        <annotation>
          <documentation>Tipo do CT-e - Aceitar apenas Tipo Normal = 0</documentation>
          <documentation>Preencher com:
&#x9;0 - CT-e Normal;
 1 - CT-e de Complemento de Valores;&#x9;2 - CT-e de Anulação;
 3 - CT-e Substituto</documentation>
        </annotation>
      </element>
      <element name="dhEmi" type="TAnon_dhEmi_1">
        <annotation>
          <documentation>Data e hora de emissão do CT-e</documentation>
          <documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evEPECCTe" type="TAnonComplex_evEPECCTe_1">
    <annotation>
      <documentation>Schema XML de validação do evento de emissão prévia de emissão em contingência 
110113</documentation>
    </annotation>
  </element>
</schema>