internal/mdfe/schemas/v3_0/evento_inc_condutor/evIncCondutorMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoMDFeTiposBasico_v3.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Inclusao Condutor"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_condutor_1">
    <sequence>
      <element name="xNome" type="TAnon_xNome_1">
        <annotation>
          <documentation>Nome do Condutor</documentation>
        </annotation>
      </element>
      <element name="CPF" type="TCpf">
        <annotation>
          <documentation>CPF do Condutor</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_evIncCondutorMDFe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Inclusao Condutor”</documentation>
        </annotation>
      </element>
      <element name="condutor" type="TAnonComplex_condutor_1">
        <annotation>
          <documentation>Informações do(s) Condutor(s) do veículo</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evIncCondutorMDFe" type="TAnonComplex_evIncCondutorMDFe_1">
    <annotation>
      <documentation>Schema XML de validação do evento de inclusao de condutor 110114</documentation>
    </annotation>
  </element>
</schema>