internal/nfe/schemas/v4_0/inutilizacao/xmldsig-core-schema_v1.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">
  <complexType name="TAnonComplex_CanonicalizationMethod_1">
    <attribute name="Algorithm" type="anyURI" use="required" fixed="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"></attribute>
  </complexType>
  <complexType name="TAnonComplex_SignatureMethod_1">
    <attribute name="Algorithm" type="anyURI" use="required" fixed="http://www.w3.org/2000/09/xmldsig#rsa-sha1"></attribute>
  </complexType>
  <complexType name="TAnonComplex_DigestMethod_1">
    <attribute name="Algorithm" type="anyURI" use="required" fixed="http://www.w3.org/2000/09/xmldsig#sha1"></attribute>
  </complexType>
  <element name="Signature" type="ds:SignatureType"></element>
  <complexType name="SignatureType">
    <sequence>
      <element name="SignedInfo" type="ds:SignedInfoType"></element>
      <element name="SignatureValue" type="ds:SignatureValueType"></element>
      <element name="KeyInfo" type="ds:KeyInfoType"></element>
    </sequence>
    <attribute name="Id" type="ID" use="optional"></attribute>
  </complexType>
  <complexType name="SignatureValueType">
    <simpleContent>
      <extension base="base64Binary">
        <attribute name="Id" type="ID" use="optional"></attribute>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="SignedInfoType">
    <sequence>
      <element name="CanonicalizationMethod" type="TAnonComplex_CanonicalizationMethod_1"></element>
      <element name="SignatureMethod" type="TAnonComplex_SignatureMethod_1"></element>
      <element name="Reference" type="ds:ReferenceType"></element>
    </sequence>
    <attribute name="Id" type="ID" use="optional"></attribute>
  </complexType>
  <complexType name="ReferenceType">
    <sequence>
      <element name="Transforms" type="ds:TransformsType">
        <unique name="unique_Transf_Alg">
          <selector xpath="./*"></selector>
          <field xpath="@Algorithm"></field>
        </unique>
      </element>
      <element name="DigestMethod" type="TAnonComplex_DigestMethod_1"></element>
      <element name="DigestValue" type="ds:DigestValueType"></element>
    </sequence>
    <attribute name="Id" type="ID" use="optional"></attribute>
    <attribute name="URI" use="required">
      <simpleType>
        <restriction base="anyURI">
          <minLength value="2"></minLength>
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="Type" type="anyURI" use="optional"></attribute>
  </complexType>
  <complexType name="TransformsType">
    <sequence>
      <element name="Transform" type="ds:TransformType" minOccurs="2" maxOccurs="2"></element>
    </sequence>
  </complexType>
  <complexType name="TransformType">
    <element name="XPath" type="string" minOccurs="0"></element>
    <attribute name="Algorithm" type="ds:TTransformURI" use="required"></attribute>
  </complexType>
  <complexType name="KeyInfoType">
    <sequence>
      <element name="X509Data" type="ds:X509DataType"></element>
    </sequence>
    <attribute name="Id" type="ID" use="optional"></attribute>
  </complexType>
  <complexType name="X509DataType">
    <sequence>
      <element name="X509Certificate" type="base64Binary"></element>
    </sequence>
  </complexType>
  <simpleType name="DigestValueType">
    <restriction base="base64Binary"></restriction>
  </simpleType>
  <simpleType name="TTransformURI">
    <restriction base="anyURI">
      <enumeration value="http://www.w3.org/2000/09/xmldsig#enveloped-signature"></enumeration>
      <enumeration value="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"></enumeration>
    </restriction>
  </simpleType>
</schema>