internal/cte/schemas/v4_0/modal_rodoviario/cteModalRodoviario_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralCTe_v4.00.xsd"></include>
  <include schemaLocation="cteTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_RNTRC_1">
    <restriction base="TRNTRC"></restriction>
  </simpleType>
  <simpleType name="TAnon_serie_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="3"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nOcc_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[1-9]{1}[0-9]{0,5}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cInt_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="10"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_emiOcc_1">
    <sequence>
      <element name="CNPJ" type="TCnpj">
        <annotation>
          <documentation>Número do CNPJ</documentation>
          <documentation>Informar os zeros não significativos.</documentation>
        </annotation>
      </element>
      <element name="cInt" minOccurs="0" type="TAnon_cInt_1">
        <annotation>
          <documentation>Código interno de uso da transportadora</documentation>
          <documentation>Uso intermo das transportadoras.</documentation>
        </annotation>
      </element>
      <element name="IE" type="TIe">
        <annotation>
          <documentation>Inscrição Estadual</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF</documentation>
          <documentation>Informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="fone" type="TFone" minOccurs="0">
        <annotation>
          <documentation>Telefone</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_occ_1">
    <sequence>
      <element name="serie" minOccurs="0" type="TAnon_serie_1">
        <annotation>
          <documentation>Série da OCC</documentation>
        </annotation>
      </element>
      <element name="nOcc" type="TAnon_nOcc_1">
        <annotation>
          <documentation>Número da Ordem de coleta</documentation>
        </annotation>
      </element>
      <element name="dEmi" type="TData">
        <annotation>
          <documentation>Data de emissão da ordem de coleta</documentation>
          <documentation>Formato AAAA-MM-DD</documentation>
        </annotation>
      </element>
      <element name="emiOcc" type="TAnonComplex_emiOcc_1"></element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_rodo_1">
    <sequence>
      <element name="RNTRC" type="TAnon_RNTRC_1">
        <annotation>
          <documentation>Registro Nacional de Transportadores Rodoviários de Carga</documentation>
          <documentation>Registro obrigatório do emitente do CT-e junto à ANTT para exercer a atividade de transportador rodoviário de cargas por conta de terceiros e mediante remuneração.</documentation>
        </annotation>
      </element>
      <element name="occ" minOccurs="0" maxOccurs="10" type="TAnonComplex_occ_1">
        <annotation>
          <documentation>Ordens de Coleta associados</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="rodo" type="TAnonComplex_rodo_1">
    <annotation>
      <documentation>Informações do modal Rodoviário</documentation>
    </annotation>
  </element>
</schema>