internal/cte/schemas/v4_0/evento_reg_multimodal/evRegMultimodal_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Registro Multimodal"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xRegistro_1">
    <restriction base="xs:string">
      <minLength value="15"></minLength>
      <maxLength value="1000"></maxLength>
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nDoc_1">
    <restriction base="xs:string">
      <minLength value="1"></minLength>
      <maxLength value="44"></maxLength>
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{1,44}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evRegMultimodal_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Registro Multimodal”</documentation>
        </annotation>
      </element>
      <element name="xRegistro" type="TAnon_xRegistro_1">
        <annotation>
          <documentation>Informação complementar sobre o registro, indicação do tipo de documento utilizado e demais situações ocorridas no Multimodal (Texto Livre).</documentation>
        </annotation>
      </element>
      <element name="nDoc" minOccurs="0" type="TAnon_nDoc_1">
        <annotation>
          <documentation>Numero do Documento lançado no CT-e Multimodal</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evRegMultimodal" type="TAnonComplex_evRegMultimodal_1">
    <annotation>
      <documentation>Schema XML de validação do evento Registro Multimodal 110160</documentation>
    </annotation>
  </element>
</schema>