internal/nfe/schemas/v1_0/epec/leiauteEPEC_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <include schemaLocation="tiposBasico_v1.03.xsd"></include>
  <simpleType name="TAnon_tpEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{6}"></pattern>
      <enumeration value="110140"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nSeqEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[1-9]|[1][0-9]{0,1}|20"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_verEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1.00"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_idEstrangeiro_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="([!-ÿ]{0}|[!-ÿ]{5,20})?"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_dest_1">
    <sequence>
      <element ref="UF"></element>
      <choice>
        <element name="CNPJ" type="TCnpj"></element>
        <element name="CPF" type="TCpf"></element>
        <element name="idEstrangeiro" type="TAnon_idEstrangeiro_1">
          <annotation>
            <documentation>Identificador do destinatário, em caso de comprador estrangeiro</documentation>
          </annotation>
        </element>
      </choice>
      <element ref="IE" minOccurs="0"></element>
      <element ref="vNF"></element>
      <element ref="vICMS"></element>
      <element ref="vST"></element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_detEvento_1">
    <sequence>
      <element ref="descEvento"></element>
      <element ref="cOrgaoAutor"></element>
      <element ref="tpAutor"></element>
      <element ref="verAplic"></element>
      <element ref="dhEmi"></element>
      <element ref="tpNF"></element>
      <element ref="IE"></element>
      <element name="dest" type="TAnonComplex_dest_1"></element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TAnonComplex_infEvento_1">
    <sequence>
      <element name="cOrgao" type="TCOrgaoIBGE">
        <annotation>
          <documentation>Código do órgão de recepção do Evento. Utilizar a Tabela do IBGE extendida, utilizar 91 para identificar o Ambiente Nacional</documentation>
        </annotation>
      </element>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <choice>
        <annotation>
          <documentation>Identificação do  autor do evento</documentation>
        </annotation>
        <element name="CNPJ" type="TCnpjOpc">
          <annotation>
            <documentation>CNPJ</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>CPF</documentation>
          </annotation>
        </element>
      </choice>
      <element name="chNFe" type="TChNFe">
        <annotation>
          <documentation>Chave de Acesso da NF-e vinculada ao evento</documentation>
        </annotation>
      </element>
      <element name="dhEvento" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e Hora do Evento, formato UTC (AAAA-MM-DDThh:mm:ssTZD, onde TZD = +hh:mm ou -hh:mm)</documentation>
        </annotation>
      </element>
      <element name="tpEvento" type="TAnon_tpEvento_1">
        <annotation>
          <documentation>Tipo do Evento</documentation>
        </annotation>
      </element>
      <element name="nSeqEvento" type="TAnon_nSeqEvento_1">
        <annotation>
          <documentation>Seqüencial do evento para o mesmo tipo de evento.</documentation>
        </annotation>
      </element>
      <element name="verEvento" type="TAnon_verEvento_1">
        <annotation>
          <documentation>Versão do Tipo do Evento</documentation>
        </annotation>
      </element>
      <element name="detEvento" type="TAnonComplex_detEvento_1">
        <annotation>
          <documentation>Schema XML de validação do evento de emissão prévia em contingência - 110140</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="Id" use="required">
      <annotation>
        <documentation>Identificador da TAG a ser assinada, a regra de formação do Id é:
“ID” + tpEvento +  chave da NF-e + nSeqEvento</documentation>
      </annotation>
      <simpleType>
        <restriction base="xs:ID">
          <pattern value="ID[0-9]{52}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="EPEC"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpAutor_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpNF_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_IE_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{2,14}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpEvento_2">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{6}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xEvento_1">
    <restriction base="TString">
      <minLength value="5"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nSeqEvento_2">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[1-9][0-9]{0,1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_dhRegEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d[\-,\+](0[0-9]|10|11|12):00"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infEvento_2">
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que recebeu o Evento</documentation>
        </annotation>
      </element>
      <element name="cOrgao" type="TCOrgaoIBGE">
        <annotation>
          <documentation>Código do órgão de recepção do Evento. Utilizar a Tabela do IBGE extendida, utilizar 91 para identificar o Ambiente Nacional</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da registro do Evento</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do registro do Evento</documentation>
        </annotation>
      </element>
      <element name="chNFe" type="TChNFe" minOccurs="0">
        <annotation>
          <documentation>Chave de Acesso NF-e vinculada</documentation>
        </annotation>
      </element>
      <element name="tpEvento" minOccurs="0" type="TAnon_tpEvento_2">
        <annotation>
          <documentation>Tipo do Evento vinculado</documentation>
        </annotation>
      </element>
      <element name="xEvento" minOccurs="0" type="TAnon_xEvento_1">
        <annotation>
          <documentation>Descrição do Evento</documentation>
        </annotation>
      </element>
      <element name="nSeqEvento" minOccurs="0" type="TAnon_nSeqEvento_2">
        <annotation>
          <documentation>Seqüencial do evento</documentation>
        </annotation>
      </element>
      <element ref="cOrgaoAutor"></element>
      <element name="dhRegEvento" type="TAnon_dhRegEvento_1">
        <annotation>
          <documentation>Data e Hora de do recebimento do evento ou do registro do evento formato UTC AAAA-MM-DDThh:mm:ssTZD.</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt" minOccurs="0">
        <annotation>
          <documentation>Número do protocolo de registro do evento</documentation>
        </annotation>
      </element>
      <element name="chNFePend" type="TChNFe" minOccurs="0" maxOccurs="50">
        <annotation>
          <documentation>Relação de Chaves de Acesso de EPEC não conciliados (pendentes de conciliação) existentes no AN.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="Id" use="optional">
      <simpleType>
        <restriction base="xs:ID">
          <pattern value="ID[0-9]{15}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType name="TAnon_idLote_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{1,15}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_idLote_2">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{1,15}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TEvento">
    <annotation>
      <documentation>Tipo Evento</documentation>
    </annotation>
    <sequence>
      <element name="infEvento" type="TAnonComplex_infEvento_1"></element>
      <element ref="ds:Signature"></element>
    </sequence>
    <attribute name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <element name="descEvento" type="TAnon_descEvento_1"></element>
  <element name="tpAutor" type="TAnon_tpAutor_1">
    <annotation>
      <documentation>Neste evento, aceitar apenas 1. 1=Empresa Emitente; 2=Empresa Destinatária; 3=Empresa; 5=Fisco; 6=RFB; 9=Outros Órgãos</documentation>
    </annotation>
  </element>
  <element name="verAplic" type="TVerAplic">
    <annotation>
      <documentation>Versão do Aplicativo do Autor do Evento</documentation>
    </annotation>
  </element>
  <element name="dhEmi" type="TDateTimeUTC">
    <annotation>
      <documentation>Data de emissão no formato UTC.  AAAA-MM-DDThh:mm:ssTZD</documentation>
    </annotation>
  </element>
  <element name="tpNF" type="TAnon_tpNF_1">
    <annotation>
      <documentation>Tipo do Documento Fiscal (0 - entrada; 1 - saída)</documentation>
    </annotation>
  </element>
  <element name="cOrgaoAutor" type="TCodUfIBGE"></element>
  <element name="IE" type="TAnon_IE_1">
    <annotation>
      <documentation>Informar a IE. Para IE do destinatário somente quando o contribuinte possuir uma inscrição estadual</documentation>
    </annotation>
  </element>
  <element name="UF" type="TUf">
    <annotation>
      <documentation>Sigla UF do destinatário. Informar &#34;EX&#34; no caso de operação com o exterior</documentation>
    </annotation>
  </element>
  <element name="vNF" type="TDec_1302">
    <annotation>
      <documentation>Valor total da NF-e</documentation>
    </annotation>
  </element>
  <element name="vICMS" type="TDec_1302">
    <annotation>
      <documentation>Valor total do ICMS</documentation>
    </annotation>
  </element>
  <element name="vST" type="TDec_1302">
    <annotation>
      <documentation>Valor total do ICMS de Substituição Tributária</documentation>
    </annotation>
  </element>
  <complexType name="TRetEvento">
    <annotation>
      <documentation>Tipo retorno do Evento</documentation>
    </annotation>
    <sequence>
      <element name="infEvento" type="TAnonComplex_infEvento_2"></element>
      <element ref="ds:Signature" minOccurs="0"></element>
    </sequence>
    <attribute name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <complexType name="TEnvEvento">
    <annotation>
      <documentation>Tipo Lote de Envio</documentation>
    </annotation>
    <sequence>
      <element name="idLote" type="TAnon_idLote_1"></element>
      <element name="evento" type="TEvento" maxOccurs="20"></element>
    </sequence>
    <attribute name="versao" type="TVerEnvEvento" use="required"></attribute>
  </complexType>
  <complexType name="TRetEnvEvento">
    <annotation>
      <documentation>Tipo Retorno de Lote de Envio</documentation>
    </annotation>
    <sequence>
      <element name="idLote" type="TAnon_idLote_2"></element>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que recebeu o Evento</documentation>
        </annotation>
      </element>
      <element name="cOrgao" type="TCOrgaoIBGE">
        <annotation>
          <documentation>Código do òrgao que registrou o Evento</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da registro do Evento</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do registro do Evento</documentation>
        </annotation>
      </element>
      <element name="retEvento" type="TRetEvento" minOccurs="0" maxOccurs="20"></element>
    </sequence>
    <attribute name="versao" type="TVerEnvEvento" use="required"></attribute>
  </complexType>
  <complexType name="TProcEvento">
    <annotation>
      <documentation>Tipo procEvento</documentation>
    </annotation>
    <sequence>
      <element name="evento" type="TEvento"></element>
      <element name="retEvento" type="TRetEvento"></element>
    </sequence>
    <attribute name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <simpleType name="TVerEnvEvento">
    <annotation>
      <documentation>Tipo Versão do EnvEvento</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="1\.00"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TVerEvento">
    <annotation>
      <documentation>Tipo Versão do Evento</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="1\.00"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TCOrgaoIBGE">
    <annotation>
      <documentation>Tipo Código de orgão (UF da tabela do IBGE + 91 RFB)</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="11"></enumeration>
      <enumeration value="12"></enumeration>
      <enumeration value="13"></enumeration>
      <enumeration value="14"></enumeration>
      <enumeration value="15"></enumeration>
      <enumeration value="16"></enumeration>
      <enumeration value="17"></enumeration>
      <enumeration value="21"></enumeration>
      <enumeration value="22"></enumeration>
      <enumeration value="23"></enumeration>
      <enumeration value="24"></enumeration>
      <enumeration value="25"></enumeration>
      <enumeration value="26"></enumeration>
      <enumeration value="27"></enumeration>
      <enumeration value="28"></enumeration>
      <enumeration value="29"></enumeration>
      <enumeration value="31"></enumeration>
      <enumeration value="32"></enumeration>
      <enumeration value="33"></enumeration>
      <enumeration value="35"></enumeration>
      <enumeration value="41"></enumeration>
      <enumeration value="42"></enumeration>
      <enumeration value="43"></enumeration>
      <enumeration value="50"></enumeration>
      <enumeration value="51"></enumeration>
      <enumeration value="52"></enumeration>
      <enumeration value="53"></enumeration>
      <enumeration value="91"></enumeration>
    </restriction>
  </simpleType>
</schema>