internal/nfe/schemas/v1_0/epec/leiauteEPEC_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:_xmlns="xmlns" _xmlns:ds="http://www.w3.org/2000/09/xmldsig#" _xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfe" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import xmlns="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <include xmlns="http://www.w3.org/2001/XMLSchema" schemaLocation="tiposBasico_v1.03.xsd"></include>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{6}"></pattern>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="110140"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_nSeqEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[1-9]|[1][0-9]{0,1}|20"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_verEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1.00"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_idEstrangeiro_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="([!-ÿ]{0}|[!-ÿ]{5,20})?"></pattern>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_dest_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="UF"></element>
      <choice xmlns="http://www.w3.org/2001/XMLSchema">
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CNPJ" type="TCnpj"></element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CPF" type="TCpf"></element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="idEstrangeiro" type="TAnon_idEstrangeiro_1">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificador do destinatário, em caso de comprador estrangeiro</documentation>
          </annotation>
        </element>
      </choice>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="IE" minOccurs="0"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="vNF"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="vICMS"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="vST"></element>
    </sequence>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_detEvento_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="descEvento"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="cOrgaoAutor"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tpAutor"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="verAplic"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="dhEmi"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="tpNF"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="IE"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dest" type="TAnonComplex_dest_1"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" use="required">
      <simpleType xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
          <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
          <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_infEvento_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cOrgao" type="TCOrgaoIBGE">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do órgão de recepção do Evento. Utilizar a Tabela do IBGE extendida, utilizar 91 para identificar o Ambiente Nacional</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAmb" type="TAmb">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <choice xmlns="http://www.w3.org/2001/XMLSchema">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do  autor do evento</documentation>
        </annotation>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CNPJ" type="TCnpjOpc">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">CNPJ</documentation>
          </annotation>
        </element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CPF" type="TCpf">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">CPF</documentation>
          </annotation>
        </element>
      </choice>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="chNFe" type="TChNFe">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Chave de Acesso da NF-e vinculada ao evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhEvento" type="TDateTimeUTC">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data e Hora do Evento, formato UTC (AAAA-MM-DDThh:mm:ssTZD, onde TZD = +hh:mm ou -hh:mm)</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpEvento" type="TAnon_tpEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nSeqEvento" type="TAnon_nSeqEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Seqüencial do evento para o mesmo tipo de evento.</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="verEvento" type="TAnon_verEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Versão do Tipo do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="detEvento" type="TAnonComplex_detEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Schema XML de validação do evento de emissão prévia em contingência - 110140</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="Id" use="required">
      <annotation xmlns="http://www.w3.org/2001/XMLSchema">
        <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificador da TAG a ser assinada, a regra de formação do Id é:
“ID” + tpEvento +  chave da NF-e + nSeqEvento</documentation>
      </annotation>
      <simpleType xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:ID">
          <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="ID[0-9]{52}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_descEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="EPEC"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpAutor_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpNF_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="0"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_IE_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{2,14}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpEvento_2">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{6}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_xEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="5"></minLength>
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="60"></maxLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_nSeqEvento_2">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[1-9][0-9]{0,1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_dhRegEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d[\-,\+](0[0-9]|10|11|12):00"></pattern>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_infEvento_2">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAmb" type="TAmb">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="verAplic" type="TVerAplic">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Versão do Aplicativo que recebeu o Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cOrgao" type="TCOrgaoIBGE">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do órgão de recepção do Evento. Utilizar a Tabela do IBGE extendida, utilizar 91 para identificar o Ambiente Nacional</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cStat" type="TStat">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do status da registro do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xMotivo" type="TMotivo">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição literal do status do registro do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="chNFe" type="TChNFe" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Chave de Acesso NF-e vinculada</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpEvento" minOccurs="0" type="TAnon_tpEvento_2">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo do Evento vinculado</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xEvento" minOccurs="0" type="TAnon_xEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nSeqEvento" minOccurs="0" type="TAnon_nSeqEvento_2">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Seqüencial do evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="cOrgaoAutor"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhRegEvento" type="TAnon_dhRegEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data e Hora de do recebimento do evento ou do registro do evento formato UTC AAAA-MM-DDThh:mm:ssTZD.</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nProt" type="TProt" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do protocolo de registro do evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="chNFePend" type="TChNFe" minOccurs="0" maxOccurs="50">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Relação de Chaves de Acesso de EPEC não conciliados (pendentes de conciliação) existentes no AN.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="Id" use="optional">
      <simpleType xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:ID">
          <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="ID[0-9]{15}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_idLote_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{1,15}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_idLote_2">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{1,15}"></pattern>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Evento</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="infEvento" type="TAnonComplex_infEvento_1"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="ds:Signature"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="descEvento" type="TAnon_descEvento_1"></element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAutor" type="TAnon_tpAutor_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Neste evento, aceitar apenas 1. 1=Empresa Emitente; 2=Empresa Destinatária; 3=Empresa; 5=Fisco; 6=RFB; 9=Outros Órgãos</documentation>
    </annotation>
  </element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="verAplic" type="TVerAplic">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Versão do Aplicativo do Autor do Evento</documentation>
    </annotation>
  </element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhEmi" type="TDateTimeUTC">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data de emissão no formato UTC.  AAAA-MM-DDThh:mm:ssTZD</documentation>
    </annotation>
  </element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpNF" type="TAnon_tpNF_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo do Documento Fiscal (0 - entrada; 1 - saída)</documentation>
    </annotation>
  </element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="cOrgaoAutor" type="TCodUfIBGE"></element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="IE" type="TAnon_IE_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informar a IE. Para IE do destinatário somente quando o contribuinte possuir uma inscrição estadual</documentation>
    </annotation>
  </element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="UF" type="TUf">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Sigla UF do destinatário. Informar &#34;EX&#34; no caso de operação com o exterior</documentation>
    </annotation>
  </element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="vNF" type="TDec_1302">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Valor total da NF-e</documentation>
    </annotation>
  </element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="vICMS" type="TDec_1302">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Valor total do ICMS</documentation>
    </annotation>
  </element>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="vST" type="TDec_1302">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Valor total do ICMS de Substituição Tributária</documentation>
    </annotation>
  </element>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TRetEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo retorno do Evento</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="infEvento" type="TAnonComplex_infEvento_2"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="ds:Signature" minOccurs="0"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TEnvEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Lote de Envio</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="idLote" type="TAnon_idLote_1"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="evento" type="TEvento" maxOccurs="20"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEnvEvento" use="required"></attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TRetEnvEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Retorno de Lote de Envio</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="idLote" type="TAnon_idLote_2"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAmb" type="TAmb">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="verAplic" type="TVerAplic">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Versão do Aplicativo que recebeu o Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cOrgao" type="TCOrgaoIBGE">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do òrgao que registrou o Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cStat" type="TStat">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do status da registro do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xMotivo" type="TMotivo">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição literal do status do registro do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="retEvento" type="TRetEvento" minOccurs="0" maxOccurs="20"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEnvEvento" use="required"></attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TProcEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo procEvento</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="evento" type="TEvento"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="retEvento" type="TRetEvento"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TVerEnvEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Versão do EnvEvento</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="1\.00"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TVerEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Versão do Evento</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="1\.00"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TCOrgaoIBGE">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Código de orgão (UF da tabela do IBGE + 91 RFB)</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="11"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="12"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="13"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="14"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="15"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="16"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="17"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="21"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="22"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="23"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="24"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="25"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="26"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="27"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="28"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="29"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="31"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="32"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="33"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="35"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="41"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="42"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="43"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="50"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="51"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="52"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="53"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="91"></enumeration>
    </restriction>
  </simpleType>
</schema>