internal/cte/schemas/v4_0/evento_cancel_prest_desacordo/evCancPrestDesacordo_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Cancelamento Prestação do Serviço em Desacordo"></enumeration>
      <enumeration value="Cancelamento Prestacao do Servico em Desacordo"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evCancPrestDesacordo_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Cancelamento Prestação do Serviço em Desacordo”</documentation>
        </annotation>
      </element>
      <element name="nProtEvPrestDes" type="TProt">
        <annotation>
          <documentation>Protocolo do evento que será cancelado</documentation>
          <documentation>Informar o número do protocolo de autorização do evento de prestação de serviço em desacordo que será cancelado</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evCancPrestDesacordo" type="TAnonComplex_evCancPrestDesacordo_1">
    <annotation>
      <documentation>Schema XML de validação do evento Cancelamento Prestação do Serviço em Desacordo 610111</documentation>
    </annotation>
  </element>
</schema>