internal/nfe/schemas/v1_0/dist_dfe/resEvento_v1.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <include schemaLocation="tiposDistDFe_v1.01.xsd"></include>
  <simpleType name="TAnon_tpEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{6}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nSeqEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[1-9][0-9]{0,1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xEvento_1">
    <restriction base="TString">
      <minLength value="5"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_resEvento_1">
    <sequence>
      <element name="cOrgao" type="TCOrgaoIBGE">
        <annotation>
          <documentation>Código do órgão de recepção do Evento. Utilizar a Tabela do IBGE extendida, utilizar 91 para identificar o Ambiente Nacional</documentation>
        </annotation>
      </element>
      <choice>
        <element name="CNPJ" type="TCnpj">
          <annotation>
            <documentation>CNPJ do Emitente</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>CPF do Emitente</documentation>
          </annotation>
        </element>
      </choice>
      <element name="chNFe" type="TChNFe">
        <annotation>
          <documentation>Chave de acesso da NF-e</documentation>
        </annotation>
      </element>
      <element name="dhEvento" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e Hora do Evento, formato UTC (AAAA-MM-DDThh:mm:ssTZD, onde TZD = +hh:mm ou -hh:mm)</documentation>
        </annotation>
      </element>
      <element name="tpEvento" type="TAnon_tpEvento_1">
        <annotation>
          <documentation>Tipo do Evento</documentation>
        </annotation>
      </element>
      <element name="nSeqEvento" type="TAnon_nSeqEvento_1">
        <annotation>
          <documentation>Seqüencial do evento para o mesmo tipo de evento.  Para maioria dos eventos será 1, nos casos em que possa existir mais de um evento, como é o caso da carta de correção, o autor do evento deve numerar de forma seqüencial</documentation>
        </annotation>
      </element>
      <element name="xEvento" type="TAnon_xEvento_1">
        <annotation>
          <documentation>Descrição do Evento</documentation>
        </annotation>
      </element>
      <element name="dhRecbto" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e hora de autorização do evento no formato AAAA-MM-DDTHH:MM:SSTZD</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo do evento. 1 posição (1 – Secretaria de Fazenda Estadual 2 – Receita Federal); 2 - códiga da UF - 2 posições ano; 10 seqüencial no ano</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerResEvento" use="required"></attribute>
  </complexType>
  <element name="resEvento" type="TAnonComplex_resEvento_1">
    <annotation>
      <documentation>Schema da estrutura XML gerada pelo Ambiente Nacional com o conjunto de informações resumidas de um evento de NF-e</documentation>
    </annotation>
  </element>
  <simpleType name="TVerResEvento">
    <annotation>
      <documentation>Tipo Versão do leiate resNFe</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1.01"></enumeration>
    </restriction>
  </simpleType>
</schema>