internal/nfe/schemas/v1_0/dist_dfe/resNFe_v1.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:_xmlns="xmlns" _xmlns:ds="http://www.w3.org/2000/09/xmldsig#" _xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfe" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import xmlns="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <include xmlns="http://www.w3.org/2001/XMLSchema" schemaLocation="tiposDistDFe_v1.01.xsd"></include>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_xNome_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="60"></maxLength>
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpNF_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="0"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_cSitNFe_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="2"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="3"></enumeration>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_resNFe_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="chNFe" type="TChNFe">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Chave de acesso da NF-e</documentation>
        </annotation>
      </element>
      <choice xmlns="http://www.w3.org/2001/XMLSchema">
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CNPJ" type="TCnpj">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">CNPJ do Emitente</documentation>
          </annotation>
        </element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CPF" type="TCpf">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">CPF do Emitente</documentation>
          </annotation>
        </element>
      </choice>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xNome" type="TAnon_xNome_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Razão Social ou Nome do emitente</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="IE" type="TIe">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Inscrição Estadual do Emitente</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhEmi" type="TDateTimeUTC">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data e Hora de emissão do Documento Fiscal (AAAA-MM-DDThh:mm:ssTZD) ex.: 2012-09-01T13:00:00-03:00</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpNF" type="TAnon_tpNF_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo do Documento Fiscal (0 - entrada; 1 - saída)</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="vNF" type="TDec_1302">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Valor Total da NF-e</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="digVal" type="ds:DigestValueType" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Digest Value da NF-e processada. Utilizado para conferir a integridade da NF-e original</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhRecbto" type="TDateTimeUTC">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data e hora de autorização da NF-e, no formato AAAA-MM-DDTHH:MM:SSTZD</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nProt" type="TProt">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do Protocolo de Status da NF-e. 1 posição (1 – Secretaria de Fazenda Estadual 2 – Receita Federal); 2 - códiga da UF - 2 posições ano; 10 seqüencial no ano</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cSitNFe" type="TAnon_cSitNFe_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Situação da NF-e
            1-Uso autorizado no momento da consulta;
            2-Uso denegado;</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerResNFe" use="required"></attribute>
  </complexType>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="resNFe" type="TAnonComplex_resNFe_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Schema da estrutura XML gerada pelo Ambiente Nacional com o conjunto de informações resumidas de uma NF-e</documentation>
    </annotation>
  </element>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TVerResNFe">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Versão do leiate resNFe</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1.01"></enumeration>
    </restriction>
  </simpleType>
</schema>