internal/nfe/schemas/v1_0/dist_dfe/resNFe_v1.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <include schemaLocation="tiposDistDFe_v1.01.xsd"></include>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpNF_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cSitNFe_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_resNFe_1">
    <sequence>
      <element name="chNFe" type="TChNFe">
        <annotation>
          <documentation>Chave de acesso da NF-e</documentation>
        </annotation>
      </element>
      <choice>
        <element name="CNPJ" type="TCnpj">
          <annotation>
            <documentation>CNPJ do Emitente</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>CPF do Emitente</documentation>
          </annotation>
        </element>
      </choice>
      <element name="xNome" type="TAnon_xNome_1">
        <annotation>
          <documentation>Razão Social ou Nome do emitente</documentation>
        </annotation>
      </element>
      <element name="IE" type="TIe">
        <annotation>
          <documentation>Inscrição Estadual do Emitente</documentation>
        </annotation>
      </element>
      <element name="dhEmi" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e Hora de emissão do Documento Fiscal (AAAA-MM-DDThh:mm:ssTZD) ex.: 2012-09-01T13:00:00-03:00</documentation>
        </annotation>
      </element>
      <element name="tpNF" type="TAnon_tpNF_1">
        <annotation>
          <documentation>Tipo do Documento Fiscal (0 - entrada; 1 - saída)</documentation>
        </annotation>
      </element>
      <element name="vNF" type="TDec_1302">
        <annotation>
          <documentation>Valor Total da NF-e</documentation>
        </annotation>
      </element>
      <element name="digVal" type="ds:DigestValueType" minOccurs="0">
        <annotation>
          <documentation>Digest Value da NF-e processada. Utilizado para conferir a integridade da NF-e original</documentation>
        </annotation>
      </element>
      <element name="dhRecbto" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e hora de autorização da NF-e, no formato AAAA-MM-DDTHH:MM:SSTZD</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de Status da NF-e. 1 posição (1 – Secretaria de Fazenda Estadual 2 – Receita Federal); 2 - códiga da UF - 2 posições ano; 10 seqüencial no ano</documentation>
        </annotation>
      </element>
      <element name="cSitNFe" type="TAnon_cSitNFe_1">
        <annotation>
          <documentation>Situação da NF-e
            1-Uso autorizado no momento da consulta;
            2-Uso denegado;</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerResNFe" use="required"></attribute>
  </complexType>
  <element name="resNFe" type="TAnonComplex_resNFe_1">
    <annotation>
      <documentation>Schema da estrutura XML gerada pelo Ambiente Nacional com o conjunto de informações resumidas de uma NF-e</documentation>
    </annotation>
  </element>
  <simpleType name="TVerResNFe">
    <annotation>
      <documentation>Tipo Versão do leiate resNFe</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1.01"></enumeration>
    </restriction>
  </simpleType>
</schema>