internal/cte/schemas/v4_0/evento_cancel_ce/evCancCECTe_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Cancelamento do Comprovante de Entrega do CT-e"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evCancCECTe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Cancelamento do Comprovante de Entrega do CT-e”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de autorização do CT-e</documentation>
        </annotation>
      </element>
      <element name="nProtCE" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de autorização do evento a ser cancelado</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evCancCECTe" type="TAnonComplex_evCancCECTe_1">
    <annotation>
      <documentation>Schema XML de validação do evento cancelamento do comprovante de entrega eletrônico do CT-e 
110181</documentation>
    </annotation>
  </element>
</schema>