internal/nfe/schemas/v1_0/evento_mde/e210240_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Operacao nao Realizada"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xJust_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="15"></minLength>
      <maxLength value="255"></maxLength>
      <pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_detEvento_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento:&#34;Operação não Realizada&#34;</documentation>
        </annotation>
      </element>
      <element name="xJust" type="TAnon_xJust_1">
        <annotation>
          <documentation>Justificativa de recusa do recebimento da mercadoria</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <element name="detEvento" type="TAnonComplex_detEvento_1">
    <annotation>
      <documentation>Schema XML de validação do evento de Recusa de Recebimento (Operação não Realizada)</documentation>
    </annotation>
  </element>
</schema>