internal/mdfe/schemas/v3_0/cons_nao_enc/consMDFeNaoEncTiposBasico_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralMDFe_v3.00.xsd"></include>
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <complexType name="TAnonComplex_infMDFe_1">
    <sequence>
      <element name="chMDFe" type="TChMDFe">
        <annotation>
          <documentation>Chaves de acesso do MDF-e não encerrado</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de autorização do MDF-e não encerrado</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TConsMDFeNaoEnc">
    <annotation>
      <documentation>Tipo Pedido de Consulta MDF-e Não Encerrados</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="xServ" type="TServ" fixed="CONSULTAR NÃO ENCERRADOS">
        <annotation>
          <documentation>Serviço Solicitado</documentation>
        </annotation>
      </element>
      <choice>
        <annotation>
          <documentation>Identificação do emitente</documentation>
        </annotation>
        <element name="CNPJ" type="TCnpj">
          <annotation>
            <documentation>CNPJ do emitente do MDF-e</documentation>
            <documentation>Informar zeros não significativos</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>CPF do emitente do MDF-e</documentation>
            <documentation>Informar zeros não significativos
Usar com serie específica 920-969 para emitente pessoa física com inscrição estadual</documentation>
          </annotation>
        </element>
      </choice>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="TVerConsMDFeNaoEnc"></restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TRetConsMDFeNaoEnc">
    <annotation>
      <documentation>Tipo Retorno de Pedido de Consulta MDF-e não Encerrados</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que processou o MDF-e</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da mensagem enviada.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do serviço solicitado.</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>código da UF de atendimento</documentation>
        </annotation>
      </element>
      <element name="infMDFe" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_infMDFe_1"></element>
    </sequence>
    <attribute name="versao" type="TVerConsMDFeNaoEnc" use="required"></attribute>
  </complexType>
  <simpleType name="TVerConsMDFeNaoEnc">
    <annotation>
      <documentation>Tipo Versão do Consulta MDF-e não encerrados - 3.00</documentation>
    </annotation>
    <restriction base="xs:string">
      <pattern value="3\.00"></pattern>
    </restriction>
  </simpleType>
</schema>