internal/cte/schemas/v4_0/modal_multimodal/cteMultiModal_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralCTe_v4.00.xsd"></include>
  <include schemaLocation="cteTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_COTM_1">
    <restriction base="xs:string">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
      <pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_indNegociavel_1">
    <restriction base="xs:string">
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xSeg_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="30"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infSeg_1">
    <sequence>
      <element name="xSeg" type="TAnon_xSeg_1">
        <annotation>
          <documentation>Nome da Seguradora</documentation>
        </annotation>
      </element>
      <element name="CNPJ" type="TCnpjOpc">
        <annotation>
          <documentation>Número do CNPJ da seguradora</documentation>
          <documentation>Obrigatório apenas se responsável pelo seguro for (2) responsável pela contratação do transporte - pessoa jurídica</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_nApol_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nAver_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_seg_1">
    <sequence>
      <element name="infSeg" type="TAnonComplex_infSeg_1">
        <annotation>
          <documentation>Informações da seguradora</documentation>
        </annotation>
      </element>
      <element name="nApol" type="TAnon_nApol_1">
        <annotation>
          <documentation>Número da Apólice</documentation>
          <documentation>Obrigatório pela lei 11.442/07 (RCTRC)</documentation>
        </annotation>
      </element>
      <element name="nAver" type="TAnon_nAver_1">
        <annotation>
          <documentation>Número da Averbação</documentation>
          <documentation>Não é obrigatório, pois muitas averbações ocorrem aapós a emissão do CT, mensalmente, por exemplo.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_multimodal_1">
    <sequence>
      <element name="COTM" type="TAnon_COTM_1">
        <annotation>
          <documentation>Número do Certificado do Operador de Transporte Multimodal</documentation>
          <documentation></documentation>
        </annotation>
      </element>
      <element name="indNegociavel" type="TAnon_indNegociavel_1">
        <annotation>
          <documentation>Indicador Negociável
Preencher com: 0 - Não Negociável; 1 - Negociável</documentation>
          <documentation></documentation>
        </annotation>
      </element>
      <element name="seg" minOccurs="0" type="TAnonComplex_seg_1">
        <annotation>
          <documentation>Informações de Seguro do Multimodal</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="multimodal" type="TAnonComplex_multimodal_1">
    <annotation>
      <documentation>Informações do Multimodal</documentation>
    </annotation>
  </element>
</schema>