internal/cte/schemas/v4_0/modal_ferroviario/cteModalFerroviario_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralCTe_v4.00.xsd"></include>
  <include schemaLocation="cteTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_xLgr_1">
    <restriction base="TString">
      <maxLength value="255"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nro_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xCpl_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xBairro_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMun_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_CEP_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpTraf_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_respFat_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_ferrEmi_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cInt_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="10"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_ferroEnv_1">
    <sequence>
      <element name="CNPJ" type="TCnpj">
        <annotation>
          <documentation>Número do CNPJ</documentation>
          <documentation>Informar o CNPJ da Ferrovia Envolvida. Caso a Ferrovia envolvida não seja inscrita no CNPJ o campo deverá preenchido com zeros.
Informar os zeros não significativos.</documentation>
        </annotation>
      </element>
      <element name="cInt" minOccurs="0" type="TAnon_cInt_1">
        <annotation>
          <documentation>Código interno da Ferrovia envolvida</documentation>
          <documentation>Uso da transportadora</documentation>
        </annotation>
      </element>
      <element name="IE" type="TIe" minOccurs="0">
        <annotation>
          <documentation>Inscrição Estadual</documentation>
        </annotation>
      </element>
      <element name="xNome" type="TAnon_xNome_1">
        <annotation>
          <documentation>Razão Social ou Nome</documentation>
        </annotation>
      </element>
      <element name="enderFerro" type="TEnderFer">
        <annotation>
          <documentation>Dados do endereço da ferrovia envolvida</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_trafMut_1">
    <sequence>
      <element name="respFat" type="TAnon_respFat_1">
        <annotation>
          <documentation>Responsável pelo Faturamento</documentation>
          <documentation>Preencher com: 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1-Ferrovia de origem; 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2-Ferrovia de destino</documentation>
        </annotation>
      </element>
      <element name="ferrEmi" type="TAnon_ferrEmi_1">
        <annotation>
          <documentation>Ferrovia Emitente do CTe</documentation>
          <documentation>Preencher com: 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1-Ferrovia de origem; 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2-Ferrovia de destino</documentation>
        </annotation>
      </element>
      <element name="vFrete" type="TDec_1302">
        <annotation>
          <documentation>Valor do Frete do Tráfego Mútuo</documentation>
        </annotation>
      </element>
      <element name="chCTeFerroOrigem" type="TChDFe" minOccurs="0">
        <annotation>
          <documentation>Chave de acesso do CT-e emitido pelo ferrovia de origem</documentation>
        </annotation>
      </element>
      <element name="ferroEnv" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_ferroEnv_1">
        <annotation>
          <documentation>Informações das Ferrovias Envolvidas</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_fluxo_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="10"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_ferrov_1">
    <sequence>
      <element name="tpTraf" type="TAnon_tpTraf_1">
        <annotation>
          <documentation>Tipo de Tráfego</documentation>
          <documentation>Preencher com:
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;0-Próprio;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1-Mútuo;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2-Rodoferroviário;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;3-Rodoviário.</documentation>
        </annotation>
      </element>
      <element name="trafMut" minOccurs="0" type="TAnonComplex_trafMut_1">
        <annotation>
          <documentation>Detalhamento de informações para o tráfego mútuo</documentation>
        </annotation>
      </element>
      <element name="fluxo" type="TAnon_fluxo_1">
        <annotation>
          <documentation>Fluxo Ferroviário</documentation>
          <documentation>Trata-se de um número identificador do contrato firmado com o cliente</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TEnderFer">
    <annotation>
      <documentation>Tipo Dados do Endereço</documentation>
    </annotation>
    <sequence>
      <element name="xLgr" type="TAnon_xLgr_1">
        <annotation>
          <documentation>Logradouro</documentation>
        </annotation>
      </element>
      <element name="nro" minOccurs="0" type="TAnon_nro_1">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="xCpl" minOccurs="0" type="TAnon_xCpl_1">
        <annotation>
          <documentation>Complemento</documentation>
        </annotation>
      </element>
      <element name="xBairro" minOccurs="0" type="TAnon_xBairro_1">
        <annotation>
          <documentation>Bairro</documentation>
        </annotation>
      </element>
      <element name="cMun" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do município</documentation>
          <documentation>Utilizar a tabela do IBGE
&#x9;&#x9;&#x9;&#x9;&#x9;Informar 9999999 para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xMun" type="TAnon_xMun_1">
        <annotation>
          <documentation>Nome do município</documentation>
          <documentation>Informar EXTERIOR para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="CEP" type="TAnon_CEP_1">
        <annotation>
          <documentation>CEP</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF</documentation>
          <documentation>Informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="ferrov" type="TAnonComplex_ferrov_1">
    <annotation>
      <documentation>Informações do modal Ferroviário</documentation>
    </annotation>
  </element>
</schema>