internal/mdfe/schemas/v3_0/evento_pagto_oper/evPagtoOperMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:_xmlns="xmlns" _xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/mdfe" _xmlns:ds="http://www.w3.org/2000/09/xmldsig#" _xmlns:ns1="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include xmlns="http://www.w3.org/2001/XMLSchema" schemaLocation="eventoMDFeTiposBasico_v3.00.xsd"></include>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_descEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="Pagamento Operação MDF-e"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="Pagamento Operacao MDF-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_qtdViagens_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{5}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_nroViagem_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{5}"></pattern>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_infViagens_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="qtdViagens" type="TAnon_qtdViagens_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Quantidade total de viagens realizadas com o pagamento do Frete</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nroViagem" type="TAnon_nroViagem_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número de referência da viagem do MDFe referenciado.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_xNome_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="60"></maxLength>
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_idEstrangeiro_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="2"></minLength>
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="20"></maxLength>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="([!-ÿ]{0}|[!-ÿ]{5,20})?"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpComp_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="01"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="02"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="03"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="99"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_xComp_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="60"></maxLength>
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="2"></minLength>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_Comp_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpComp" type="TAnon_tpComp_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo do Componente</documentation>
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">
01 - Vale Pedágio; 
02 - Impostos, taxas e contribuições; 
03 - Despesas (bancárias, meios de pagamento, outras)
; 99 - Outros</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="vComp" type="TDec_1302">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Valor do componente</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xComp" minOccurs="0" type="TAnon_xComp_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição do componente do tipo Outros</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_indPag_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="0"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_indAntecipaAdiant_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_nParcela_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{3}"></pattern>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_infPrazo_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nParcela" type="TAnon_nParcela_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número da Parcela</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dVenc" type="TData">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data de vencimento da Parcela (AAAA-MM-DD)</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="vParcela" type="TDec_1302Opc">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Valor da Parcela</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpAntecip_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="0"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="2"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_codBanco_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="3"></minLength>
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="5"></maxLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_codAgencia_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="1"></minLength>
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="10"></maxLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_PIX_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="60"></maxLength>
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="2"></minLength>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_infBanc_1">
    <choice xmlns="http://www.w3.org/2001/XMLSchema">
      <sequence xmlns="http://www.w3.org/2001/XMLSchema">
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="codBanco" type="TAnon_codBanco_1">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do banco</documentation>
          </annotation>
        </element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="codAgencia" type="TAnon_codAgencia_1">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número da agência bancária </documentation>
          </annotation>
        </element>
      </sequence>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="CNPJIPEF" type="TCnpjOpc">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do CNPJ da Instituição de Pagamento Eletrônico do Frete</documentation>
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informar os zeros não significativos.</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="PIX" type="TAnon_PIX_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Chave PIX </documentation>
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informar a chave PIX para recebimento do frete. 
Pode ser email, CPF/ CNPJ (somente numeros), Telefone com a seguinte formatação (+5599999999999) ou a chave aleatória gerada pela instituição.</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_infPag_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xNome" minOccurs="0" type="TAnon_xNome_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Razão social ou Nome do responsavel pelo pagamento</documentation>
        </annotation>
      </element>
      <choice xmlns="http://www.w3.org/2001/XMLSchema">
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CPF" type="TCpf">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do CPF do responsável pelo pgto</documentation>
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CNPJ" type="TCnpjOpc">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do CNPJ do responsável pelo pgto</documentation>
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="idEstrangeiro" type="TAnon_idEstrangeiro_1">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificador do responsável pelo pgto em caso de ser estrangeiro</documentation>
          </annotation>
        </element>
      </choice>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="Comp" maxOccurs="unbounded" type="TAnonComplex_Comp_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Componentes do Pagamentoi do Frete</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="vContrato" type="TDec_1302">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Valor Total do Contrato</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="indPag" type="TAnon_indPag_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Indicador da Forma de Pagamento:0-Pagamento à Vista;1-Pagamento à Prazo;</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="vAdiant" type="TDec_1302" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Valor do Adiantamento (usar apenas em pagamento à Prazo</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="indAntecipaAdiant" minOccurs="0" type="TAnon_indAntecipaAdiant_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Indicador para declarar concordância em antecipar o adiantamento</documentation>
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Operação de transporte com utilização de veículos de frotas dedicadas ou fidelizadas.
Preencher com “1” para indicar operação de transporte de alto desempenho, demais casos não informar a tag
</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="infPrazo" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_infPrazo_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informações do pagamento a prazo. </documentation>
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informar somente se indPag for à Prazo</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAntecip" minOccurs="0" type="TAnon_tpAntecip_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo de Permissão em relação a antecipação das parcelas</documentation>
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">0 - Não permite antecipar
1 - Permite antecipar as parcelas
2 - Permite antecipar as parcelas mediante confirmação</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="infBanc" type="TAnonComplex_infBanc_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informações bancárias</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_evPagtoOperMDFe_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="descEvento" type="TAnon_descEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição do Evento - “Pagamento Operação MDF-e”</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nProt" type="TProt">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do Protocolo de Status do MDF-e. 
1 posição tipo de autorizador (9 - SEFAZ Nacional ); 
2 posições ano;
10 seqüencial no ano.</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="infViagens" type="TAnonComplex_infViagens_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informações do total de viagens acobertadas pelo Evento “pagamento do frete”</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="infPag" maxOccurs="unbounded" type="TAnonComplex_infPag_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Informações do Pagamento do Frete</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="evPagtoOperMDFe" type="TAnonComplex_evPagtoOperMDFe_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Schema XML de validação do evento de pagamento da operação de transporte 110116</documentation>
    </annotation>
  </element>
</schema>