internal/mdfe/schemas/v3_0/evento_pagto_oper/evPagtoOperMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoMDFeTiposBasico_v3.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Pagamento Operação MDF-e"></enumeration>
      <enumeration value="Pagamento Operacao MDF-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qtdViagens_1">
    <restriction base="xs:string">
      <pattern value="[0-9]{5}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nroViagem_1">
    <restriction base="xs:string">
      <pattern value="[0-9]{5}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infViagens_1">
    <sequence>
      <element name="qtdViagens" type="TAnon_qtdViagens_1">
        <annotation>
          <documentation>Quantidade total de viagens realizadas com o pagamento do Frete</documentation>
        </annotation>
      </element>
      <element name="nroViagem" type="TAnon_nroViagem_1">
        <annotation>
          <documentation>Número de referência da viagem do MDFe referenciado.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_idEstrangeiro_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="2"></minLength>
      <maxLength value="20"></maxLength>
      <pattern value="([!-ÿ]{0}|[!-ÿ]{5,20})?"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpComp_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="01"></enumeration>
      <enumeration value="02"></enumeration>
      <enumeration value="03"></enumeration>
      <enumeration value="99"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xComp_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_Comp_1">
    <sequence>
      <element name="tpComp" type="TAnon_tpComp_1">
        <annotation>
          <documentation>Tipo do Componente</documentation>
          <documentation>01 - Vale Pedágio; 
02 - Impostos, taxas e contribuições; 
03 - Despesas (bancárias, meios de pagamento, outras)
; 99 - Outros</documentation>
        </annotation>
      </element>
      <element name="vComp" type="TDec_1302">
        <annotation>
          <documentation>Valor do componente</documentation>
        </annotation>
      </element>
      <element name="xComp" minOccurs="0" type="TAnon_xComp_1">
        <annotation>
          <documentation>Descrição do componente do tipo Outros</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_indPag_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_indAntecipaAdiant_1">
    <restriction base="xs:string">
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nParcela_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{3}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infPrazo_1">
    <sequence>
      <element name="nParcela" type="TAnon_nParcela_1">
        <annotation>
          <documentation>Número da Parcela</documentation>
        </annotation>
      </element>
      <element name="dVenc" type="TData">
        <annotation>
          <documentation>Data de vencimento da Parcela (AAAA-MM-DD)</documentation>
        </annotation>
      </element>
      <element name="vParcela" type="TDec_1302Opc">
        <annotation>
          <documentation>Valor da Parcela</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_tpAntecip_1">
    <restriction base="xs:string">
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_codBanco_1">
    <restriction base="TString">
      <minLength value="3"></minLength>
      <maxLength value="5"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_codAgencia_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="10"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_PIX_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infBanc_1">
    <choice>
      <sequence>
        <element name="codBanco" type="TAnon_codBanco_1">
          <annotation>
            <documentation>Número do banco</documentation>
          </annotation>
        </element>
        <element name="codAgencia" type="TAnon_codAgencia_1">
          <annotation>
            <documentation>Número da agência bancária</documentation>
          </annotation>
        </element>
      </sequence>
      <element name="CNPJIPEF" type="TCnpjOpc">
        <annotation>
          <documentation>Número do CNPJ da Instituição de Pagamento Eletrônico do Frete</documentation>
          <documentation>Informar os zeros não significativos.</documentation>
        </annotation>
      </element>
      <element name="PIX" type="TAnon_PIX_1">
        <annotation>
          <documentation>Chave PIX</documentation>
          <documentation>Informar a chave PIX para recebimento do frete. 
Pode ser email, CPF/ CNPJ (somente numeros), Telefone com a seguinte formatação (+5599999999999) ou a chave aleatória gerada pela instituição.</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="TAnonComplex_infPag_1">
    <sequence>
      <element name="xNome" minOccurs="0" type="TAnon_xNome_1">
        <annotation>
          <documentation>Razão social ou Nome do responsavel pelo pagamento</documentation>
        </annotation>
      </element>
      <choice>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>Número do CPF do responsável pelo pgto</documentation>
            <documentation>Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
        <element name="CNPJ" type="TCnpjOpc">
          <annotation>
            <documentation>Número do CNPJ do responsável pelo pgto</documentation>
            <documentation>Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
        <element name="idEstrangeiro" type="TAnon_idEstrangeiro_1">
          <annotation>
            <documentation>Identificador do responsável pelo pgto em caso de ser estrangeiro</documentation>
          </annotation>
        </element>
      </choice>
      <element name="Comp" maxOccurs="unbounded" type="TAnonComplex_Comp_1">
        <annotation>
          <documentation>Componentes do Pagamentoi do Frete</documentation>
        </annotation>
      </element>
      <element name="vContrato" type="TDec_1302">
        <annotation>
          <documentation>Valor Total do Contrato</documentation>
        </annotation>
      </element>
      <element name="indPag" type="TAnon_indPag_1">
        <annotation>
          <documentation>Indicador da Forma de Pagamento:0-Pagamento à Vista;1-Pagamento à Prazo;</documentation>
        </annotation>
      </element>
      <element name="vAdiant" type="TDec_1302" minOccurs="0">
        <annotation>
          <documentation>Valor do Adiantamento (usar apenas em pagamento à Prazo</documentation>
        </annotation>
      </element>
      <element name="indAntecipaAdiant" minOccurs="0" type="TAnon_indAntecipaAdiant_1">
        <annotation>
          <documentation>Indicador para declarar concordância em antecipar o adiantamento</documentation>
          <documentation>Operação de transporte com utilização de veículos de frotas dedicadas ou fidelizadas.
Preencher com “1” para indicar operação de transporte de alto desempenho, demais casos não informar a tag</documentation>
        </annotation>
      </element>
      <element name="infPrazo" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_infPrazo_1">
        <annotation>
          <documentation>Informações do pagamento a prazo.</documentation>
          <documentation>Informar somente se indPag for à Prazo</documentation>
        </annotation>
      </element>
      <element name="tpAntecip" minOccurs="0" type="TAnon_tpAntecip_1">
        <annotation>
          <documentation>Tipo de Permissão em relação a antecipação das parcelas</documentation>
          <documentation>0 - Não permite antecipar
1 - Permite antecipar as parcelas
2 - Permite antecipar as parcelas mediante confirmação</documentation>
        </annotation>
      </element>
      <element name="infBanc" type="TAnonComplex_infBanc_1">
        <annotation>
          <documentation>Informações bancárias</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_evPagtoOperMDFe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Pagamento Operação MDF-e”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de Status do MDF-e. 
1 posição tipo de autorizador (9 - SEFAZ Nacional ); 
2 posições ano;
10 seqüencial no ano.</documentation>
        </annotation>
      </element>
      <element name="infViagens" type="TAnonComplex_infViagens_1">
        <annotation>
          <documentation>Informações do total de viagens acobertadas pelo Evento “pagamento do frete”</documentation>
        </annotation>
      </element>
      <element name="infPag" maxOccurs="unbounded" type="TAnonComplex_infPag_1">
        <annotation>
          <documentation>Informações do Pagamento do Frete</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evPagtoOperMDFe" type="TAnonComplex_evPagtoOperMDFe_1">
    <annotation>
      <documentation>Schema XML de validação do evento de pagamento da operação de transporte 110116</documentation>
    </annotation>
  </element>
</schema>