internal/nfe/schemas/v1_0/ator_interessado/110150_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposBasico_v1.03.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="TString">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Ator interessado na NF-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpAutor_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_autXML_1">
    <choice>
      <element name="CNPJ" type="TCnpj"></element>
      <element name="CPF" type="TCpf"></element>
    </choice>
  </complexType>
  <simpleType name="TAnon_tpAutorizacao_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xCondUso_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="O emitente ou destinatário da NF-e, declara que permite o transportador declarado no campo CNPJ/CPF deste evento a autorizar os transportadores subcontratados ou redespachados a terem acesso ao download da NF-e"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_detEvento_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - &#34;Ator interessado na NF-e”&#34;</documentation>
        </annotation>
      </element>
      <element name="cOrgaoAutor" type="TCodUfIBGE"></element>
      <element name="tpAutor" type="TAnon_tpAutor_1">
        <annotation>
          <documentation>Tipo do Órgão Autor do Evento. Informar uma das opções 1=Geração do Evento pelo Emitente; 2=Geração do Evento pelo Destinatário; 3=Geração do Evento pelo Transportador
Outros valores: 1=Empresa Emitente, 2=Empresa destinatária; 3=Empresa; 5=Fisco; 6=RFB; 9=Outros Órgãos;</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do aplicativo do Autor do Evento.</documentation>
        </annotation>
      </element>
      <element name="autXML" type="TAnonComplex_autXML_1">
        <annotation>
          <documentation>Pessoas autorizadas a acessar o XML da NF-e</documentation>
        </annotation>
      </element>
      <element name="tpAutorizacao" minOccurs="0" type="TAnon_tpAutorizacao_1">
        <annotation>
          <documentation>0 – Não permite; 1 – Permite o transportador autorizado pelo emitente ou destinatário autorizar outros transportadores para ter acesso ao download da NF-e</documentation>
        </annotation>
      </element>
      <element name="xCondUso" minOccurs="0" type="TAnon_xCondUso_1">
        <annotation>
          <documentation>Texto Fixo com as Condição de uso do tipo de autorização para o transportador:</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <element name="detEvento" type="TAnonComplex_detEvento_1">
    <annotation>
      <documentation>Schema XML de validação do evento de Ator Interessado na NF-e - Transportador (110150)”</documentation>
    </annotation>
  </element>
</schema>