internal/nfe/schemas/v1_0/evento_cce/leiauteCCe_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:_xmlns="xmlns" _xmlns:ds="http://www.w3.org/2000/09/xmldsig#" _xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfe" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import xmlns="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <include xmlns="http://www.w3.org/2001/XMLSchema" schemaLocation="tiposBasico_v1.03.xsd"></include>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{6}"></pattern>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="110110"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_nSeqEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[1-9]|[1][0-9]{0,1}|20"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_verEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1.00"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_descEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="Carta de Correção"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="Carta de Correcao"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_xCorrecao_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="15"></minLength>
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="1000"></maxLength>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_xCondUso_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="A Carta de Correção é disciplinada pelo § 1º-A do art. 7º do Convênio S/N, de 15 de dezembro de 1970 e pode ser utilizada para regularização de erro ocorrido na emissão de documento fiscal, desde que o erro não esteja relacionado com: I - as variáveis que determinam o valor do imposto tais como: base de cálculo, alíquota, diferença de preço, quantidade, valor da operação ou da prestação; II - a correção de dados cadastrais que implique mudança do remetente ou do destinatário; III - a data de emissão ou de saída."></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="A Carta de Correcao e disciplinada pelo paragrafo 1o-A do art. 7o do Convenio S/N, de 15 de dezembro de 1970 e pode ser utilizada para regularizacao de erro ocorrido na emissao de documento fiscal, desde que o erro nao esteja relacionado com: I - as variaveis que determinam o valor do imposto tais como: base de calculo, aliquota, diferenca de preco, quantidade, valor da operacao ou da prestacao; II - a correcao de dados cadastrais que implique mudanca do remetente ou do destinatario; III - a data de emissao ou de saida."></enumeration>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_detEvento_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="descEvento" type="TAnon_descEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição do Evento - “Carta de Correção”</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xCorrecao" type="TAnon_xCorrecao_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Correção a ser considerada</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xCondUso" type="TAnon_xCondUso_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Texto Fixo com as condições de uso da Carta de Correção</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" use="required">
      <simpleType xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
          <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
          <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_infEvento_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cOrgao" type="TCOrgaoIBGE">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do órgão de recepção do Evento. Utilizar a Tabela do IBGE extendida, utilizar 90 para identificar o Ambiente Nacional</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAmb" type="TAmb">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <choice xmlns="http://www.w3.org/2001/XMLSchema">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do  autor do evento</documentation>
        </annotation>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CNPJ" type="TCnpjOpc">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">CNPJ</documentation>
          </annotation>
        </element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CPF" type="TCpf">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">CPF</documentation>
          </annotation>
        </element>
      </choice>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="chNFe" type="TChNFe">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Chave de Acesso da NF-e vinculada ao evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhEvento" type="TDateTimeUTC">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data de emissão no formato UTC.  AAAA-MM-DDThh:mm:ssTZD</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpEvento" type="TAnon_tpEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nSeqEvento" type="TAnon_nSeqEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Seqüencial do evento para o mesmo tipo de evento.  Para maioria dos eventos será 1, nos casos em que possa existir mais de um evento, como é o caso da carta de correção, o autor do evento deve numerar de forma seqüencial.</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="verEvento" type="TAnon_verEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Versão do Tipo do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="detEvento" type="TAnonComplex_detEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Evento do carta de correção e1101110</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="Id" use="required">
      <annotation xmlns="http://www.w3.org/2001/XMLSchema">
        <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificador da TAG a ser assinada, a regra de formação do Id é:
“ID” + tpEvento +  chave da NF-e + nSeqEvento</documentation>
      </annotation>
      <simpleType xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:ID">
          <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="ID[0-9]{52}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpEvento_2">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{6}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_xEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="5"></minLength>
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="60"></maxLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_nSeqEvento_2">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[1-9][0-9]{0,1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_emailDest_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="1"></minLength>
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="60"></maxLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_dhRegEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))T(20|21|22|23|[0-1]\d):[0-5]\d:[0-5]\d-0[1-4]:00"></pattern>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_infEvento_2">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAmb" type="TAmb">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="verAplic" type="TVerAplic">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Versão do Aplicativo que recebeu o Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cOrgao" type="TCOrgaoIBGE">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do órgão de recepção do Evento. Utilizar a Tabela do IBGE extendida, utilizar 90 para identificar o Ambiente Nacional</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cStat" type="TStat">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do status da registro do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xMotivo" type="TMotivo">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição literal do status do registro do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="chNFe" type="TChNFe" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Chave de Acesso NF-e vinculada</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpEvento" minOccurs="0" type="TAnon_tpEvento_2">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo do Evento vinculado</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xEvento" minOccurs="0" type="TAnon_xEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nSeqEvento" minOccurs="0" type="TAnon_nSeqEvento_2">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Seqüencial do evento</documentation>
        </annotation>
      </element>
      <choice xmlns="http://www.w3.org/2001/XMLSchema" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do  destinatário da NF-e</documentation>
        </annotation>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CNPJDest" type="TCnpjOpc">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">CNPJ Destinatário</documentation>
          </annotation>
        </element>
        <element xmlns="http://www.w3.org/2001/XMLSchema" name="CPFDest" type="TCpf">
          <annotation xmlns="http://www.w3.org/2001/XMLSchema">
            <documentation xmlns="http://www.w3.org/2001/XMLSchema">CPF Destiantário</documentation>
          </annotation>
        </element>
      </choice>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="emailDest" minOccurs="0" type="TAnon_emailDest_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">email do destinatário</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhRegEvento" type="TAnon_dhRegEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data e Hora de do recebimento do evento ou do registro do evento formato UTC AAAA-MM-DDThh:mm:ssTZD.</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nProt" type="TProt" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do protocolo de registro do evento</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="Id" use="optional">
      <simpleType xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:ID">
          <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="ID[0-9]{15}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_idLote_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{1,15}"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_idLote_2">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{1,15}"></pattern>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Evento</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="infEvento" type="TAnonComplex_infEvento_1"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="ds:Signature"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TretEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo retorno do Evento</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="infEvento" type="TAnonComplex_infEvento_2"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" ref="ds:Signature" minOccurs="0"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TEnvEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Lote de Envio</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="idLote" type="TAnon_idLote_1"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="evento" type="TEvento" maxOccurs="20"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEnvEvento" use="required"></attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TRetEnvEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Retorno de Lote de Envio</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="idLote" type="TAnon_idLote_2"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAmb" type="TAmb">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="verAplic" type="TVerAplic">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Versão do Aplicativo que recebeu o Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cOrgao" type="TCOrgaoIBGE">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do òrgao que registrou o Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cStat" type="TStat">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Código do status da registro do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xMotivo" type="TMotivo">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição literal do status do registro do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="retEvento" type="TretEvento" minOccurs="0" maxOccurs="20"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEnvEvento" use="required"></attribute>
  </complexType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TProcEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo procEvento</documentation>
    </annotation>
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="evento" type="TEvento"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="retEvento" type="TretEvento"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerEvento" use="required"></attribute>
  </complexType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TVerEnvEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Versão do EnvEvento</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="1\.00"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TVerEvento">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Versão do Evento</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="1\.00"></pattern>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TCOrgaoIBGE">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Tipo Código de orgão (UF da tabela do IBGE + 90 RFB)</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="11"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="12"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="13"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="14"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="15"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="16"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="17"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="21"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="22"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="23"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="24"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="25"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="26"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="27"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="28"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="29"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="31"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="32"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="33"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="35"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="41"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="42"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="43"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="50"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="51"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="52"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="53"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="90"></enumeration>
    </restriction>
  </simpleType>
</schema>