internal/cte/schemas/v4_0/status_servico/consStatServTiposBasico_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralCTe_v4.00.xsd"></include>
  <simpleType name="TAnon_verAplic_1">
    <restriction base="TVerAplic">
      <whiteSpace value="collapse"></whiteSpace>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tMed_1">
    <restriction base="xs:integer">
      <pattern value="[0-9]{1,4}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xObs_1">
    <restriction base="xs:string">
      <minLength value="1"></minLength>
      <maxLength value="255"></maxLength>
      <whiteSpace value="collapse"></whiteSpace>
    </restriction>
  </simpleType>
  <complexType name="TConsStatServ">
    <annotation>
      <documentation>Tipo Pedido de Consulta do Status do Serviço CTe</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>Código da UF a ser verificado o status</documentation>
          <documentation>Utilizar a Tabela do IBGE.</documentation>
        </annotation>
      </element>
      <element name="xServ" type="TServ" fixed="STATUS">
        <annotation>
          <documentation>Serviço Solicitado</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="TVerConsStat"></restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="TRetConsStatServ">
    <annotation>
      <documentation>Tipo Resultado da Consulta do Status do Serviço CTe</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TAnon_verAplic_1">
        <annotation>
          <documentation>Versão do Aplicativo que processou o CT-e</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da mensagem enviada.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do serviço solicitado.</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>Código da UF responsável pelo serviço</documentation>
        </annotation>
      </element>
      <element name="dhRecbto" type="TDateTimeUTC">
        <annotation>
          <documentation>AAAA-MM-DDTHH:MM:SS TZD</documentation>
        </annotation>
      </element>
      <element name="tMed" minOccurs="0" type="TAnon_tMed_1">
        <annotation>
          <documentation>Tempo médio de resposta do serviço (em segundos) dos últimos 5 minutos</documentation>
        </annotation>
      </element>
      <element name="dhRetorno" type="TDateTimeUTC" minOccurs="0">
        <annotation>
          <documentation>AAAA-MM-DDTHH:MM:SSDeve ser preenchida com data e hora previstas para o retorno dos serviços prestados.</documentation>
        </annotation>
      </element>
      <element name="xObs" minOccurs="0" type="TAnon_xObs_1">
        <annotation>
          <documentation>Campo observação utilizado para incluir informações ao contribuinte</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerConsStat" use="required"></attribute>
  </complexType>
  <simpleType name="TVerConsStat">
    <annotation>
      <documentation>Tipo Versão do Consulta do Status do Serviço CTe</documentation>
    </annotation>
    <restriction base="xs:string">
      <pattern value="4\.00"></pattern>
    </restriction>
  </simpleType>
</schema>