internal/mdfe/schemas/v3_0/dist_mdfe/leiauteDistMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralMDFe_v3.00.xsd"></include>
  <simpleType name="TVerDFe">
    <annotation>
      <documentation>Tipo Versão</documentation>
    </annotation>
    <restriction base="xs:string">
      <pattern value="3\.00"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_indDFe_1">
    <restriction base="xs:unsignedInt">
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
      <enumeration value="8"></enumeration>
      <enumeration value="9"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_indCompRet_1">
    <restriction base="xs:unsignedInt">
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_proc_1">
    <sequence>
      <any processContents="skip">
        <annotation>
          <documentation>informação do proc</documentation>
        </annotation>
      </any>
    </sequence>
    <attribute name="schema" type="xs:string" use="required">
      <annotation>
        <documentation>Identificação do Schema XML de validação do proc, Ex. procMDFe_v1.00.xsd.</documentation>
      </annotation>
    </attribute>
    <attribute name="NSU" type="TNSU" use="required">
      <annotation>
        <documentation>número sequencial único do Ambiente Autorizador</documentation>
      </annotation>
    </attribute>
    <attribute name="ipTransmissor" type="TIPv4" use="optional"></attribute>
  </complexType>
  <complexType name="TDistDFe">
    <annotation>
      <documentation>Schema XML de validação da área de dados da mensagem da solicitação de distribuição de DF-e</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:  1 - Produção  2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que solicitou a distribuição de DF-e</documentation>
        </annotation>
      </element>
      <element name="indDFe" type="TAnon_indDFe_1">
        <annotation>
          <documentation>Indicador de DF-e solicitados: 
0 - DF-e autorizados pela UF; 
1 - DF-e com carregamento na UF; 
2 – DF-e com descarregamento na UF;
3 – DF-e com percurso pela UF; 
8 – DF-e carregados  (1), descarregados (2)  e que tiveram percurso na UF (3);
9 - Todos DF-e que fazem referência a UF.</documentation>
        </annotation>
      </element>
      <element name="indCompRet" type="TAnon_indCompRet_1">
        <annotation>
          <documentation>Indicador de Compactação da Mensagem de retorno:  0 - sem compactação;  1 - compactação padrão gZip</documentation>
        </annotation>
      </element>
      <element name="ultNSU" type="TNSU">
        <annotation>
          <documentation>último NSU recebido, caso seja informado com zero, o Ambiente Autorizador tentará localizar o primeiro DF-e existente.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerDFe" use="required"></attribute>
  </complexType>
  <complexType name="TRetDistDFe">
    <annotation>
      <documentation>Schema XML de validação do lote de retorno de documentos ficais eletronicos</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:  1 - Produção  2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que atendeu a pedido de distribuição de DF-e</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>código do status de resultado da pesquisa</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>descrição do resultado do pesquisa</documentation>
        </annotation>
      </element>
      <element name="ultNSU" type="TNSU" minOccurs="0">
        <annotation>
          <documentation>último NSU</documentation>
        </annotation>
      </element>
      <choice minOccurs="0">
        <element name="loteDistMDFeComp" type="xs:base64Binary"></element>
        <element name="loteDistMDFe" type="TLoteDistDFe"></element>
      </choice>
    </sequence>
    <attribute name="versao" type="TVerDFe" use="required"></attribute>
  </complexType>
  <complexType name="TLoteDistDFe">
    <annotation>
      <documentation>Schema XML de validação da área de dados descompactada</documentation>
    </annotation>
    <sequence maxOccurs="50">
      <element name="proc" type="TAnonComplex_proc_1"></element>
    </sequence>
    <attribute name="versao" type="TVerDFe" use="required"></attribute>
  </complexType>
</schema>