internal/bpe/schemas/v1_0/evento_excesso_bagagem/evExcessoBagagem_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/bpe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoBPeTiposBasico_v1.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Excesso Bagagem"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qBagagem_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evExcessoBagagem_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Excesso Bagagem”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de Status do BP-e.</documentation>
        </annotation>
      </element>
      <element name="qBagagem" type="TAnon_qBagagem_1">
        <annotation>
          <documentation>Quantidade de volumes de bagagem carregados</documentation>
        </annotation>
      </element>
      <element name="vTotBag" type="TDec_1302">
        <annotation>
          <documentation>Valor total do serviço</documentation>
          <documentation>Pode conter zeros quando o BP-e for de complemento de ICMS</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evExcessoBagagem" type="TAnonComplex_evExcessoBagagem_1">
    <annotation>
      <documentation>Schema XML de validação do evento de excesso de bagagem 
110117</documentation>
    </annotation>
  </element>
</schema>