internal/bpe/schemas/v1_0/evento_nao_emb/evNaoEmbBPe_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/bpe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoBPeTiposBasico_v1.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Não Embarque"></enumeration>
      <enumeration value="Nao Embarque"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evNaoEmbBPe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Não Embarque”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de Status do BP-e.</documentation>
        </annotation>
      </element>
      <element name="xJust" type="TJust">
        <annotation>
          <documentation>Justificativa do Não Embarque</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evNaoEmbBPe" type="TAnonComplex_evNaoEmbBPe_1">
    <annotation>
      <documentation>Schema XML de validação do evento do não embarque 
110115</documentation>
    </annotation>
  </element>
</schema>