internal/bpe/schemas/v1_0/evento_nao_emb/evNaoEmbBPe_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:_xmlns="xmlns" _xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/bpe" _xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/bpe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include xmlns="http://www.w3.org/2001/XMLSchema" schemaLocation="eventoBPeTiposBasico_v1.00.xsd"></include>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_descEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="Não Embarque"></enumeration>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="Nao Embarque"></enumeration>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_evNaoEmbBPe_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="descEvento" type="TAnon_descEvento_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Descrição do Evento - “Não Embarque”</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nProt" type="TProt">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do Protocolo de Status do BP-e.</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xJust" type="TJust">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Justificativa do Não Embarque</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="evNaoEmbBPe" type="TAnonComplex_evNaoEmbBPe_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Schema XML de validação do evento do não embarque 
110115</documentation>
    </annotation>
  </element>
</schema>