internal/mdfe/schemas/v3_0/consulta_dfe/mdfeConsultaDFeTiposBasico_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralMDFe_v3.00.xsd"></include>
  <complexType name="TAnonComplex_procMDFe_1">
    <sequence minOccurs="2" maxOccurs="2">
      <any>
        <annotation>
          <documentation>Autorização de Uso do MDF-e</documentation>
        </annotation>
      </any>
    </sequence>
    <attribute name="versao" type="TVerMDFeConsultaDFe" use="required"></attribute>
  </complexType>
  <complexType name="TAnonComplex_procEventoMDFe_1">
    <sequence minOccurs="2" maxOccurs="2">
      <any>
        <annotation>
          <documentation>Demais eventos vinculados ao MDF-e</documentation>
        </annotation>
      </any>
    </sequence>
    <attribute name="versao" type="TVerMDFeConsultaDFe" use="required"></attribute>
  </complexType>
  <complexType name="TMDFeConsultaDFe">
    <annotation>
      <documentation>Tipo Pedido de Consulta do Manifesto Eletrônico de Documentos Fiscais</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="xServ" type="TServ" fixed="CONSULTAR">
        <annotation>
          <documentation>Serviço Solicitado</documentation>
        </annotation>
      </element>
      <element name="chMDFe" type="TChNFe">
        <annotation>
          <documentation>Chaves de acesso do MDF-e, compostas por: UF do emitente, AAMM da emissão do MDF-e, CNPJ do emitente, modelo, série e número do MDF-e e código numérico + DV.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerMDFeConsultaDFe" use="required"></attribute>
  </complexType>
  <complexType name="TRetMDFeConsultaDFe">
    <annotation>
      <documentation>Tipo Retorno de Pedido de Consulta do Manifesto Eletrônico de Documentos Fiscais</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que processou a consulta do MDF-e</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da consulta do MDF-e</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status da consulta do MDF-e</documentation>
        </annotation>
      </element>
      <element name="MDFeDFe" type="TMDFeDFe" minOccurs="0"></element>
    </sequence>
    <attribute name="versao" type="TVerMDFeConsultaDFe" use="required"></attribute>
  </complexType>
  <complexType name="TMDFeDFe">
    <annotation>
      <documentation>Tipo Documento Fiscal Eletrônico MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="procMDFe" type="TAnonComplex_procMDFe_1"></element>
      <element name="procEventoMDFe" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_procEventoMDFe_1"></element>
    </sequence>
  </complexType>
  <simpleType name="TVerMDFeConsultaDFe">
    <annotation>
      <documentation>Tipo Versão do Consulta DFe de MDF-e - 3.00</documentation>
    </annotation>
    <restriction base="xs:string">
      <pattern value="3\.00"></pattern>
    </restriction>
  </simpleType>
</schema>