internal/nfe/schemas/v1_0/evento_insucesso/e110192_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposBasico_v1.03.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <enumeration value="Insucesso na Entrega da NF-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nTentativa_1">
    <annotation>
      <documentation>Número da tentativa de entrega que não teve sucesso</documentation>
    </annotation>
    <restriction base="xs:string">
      <pattern value="[0-9]{1,3}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpMotivo_1">
    <annotation>
      <documentation>Motivo do insucesso - 1 – Recebedor não encontrado 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2 – Recusa do recebedor 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;3 – Endereço inexistente 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4 – Outros (exige informar justificativa)</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
      <enumeration value="4"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xJustMotivo_1">
    <restriction base="TString">
      <maxLength value="250"></maxLength>
      <minLength value="25"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_hashTentativaEntrega_1">
    <restriction base="xs:base64Binary">
      <length value="20"></length>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_detEvento_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1"></element>
      <element name="cOrgaoAutor" type="TCOrgaoIBGE"></element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo do Autor do Evento</documentation>
        </annotation>
      </element>
      <element name="dhTentativaEntrega" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e hora do final da tentativa entrega. Formato AAAA-MMDDThh:mm:ssTZD</documentation>
        </annotation>
      </element>
      <element name="nTentativa" minOccurs="0" type="TAnon_nTentativa_1"></element>
      <element name="tpMotivo" type="TAnon_tpMotivo_1"></element>
      <element name="xJustMotivo" minOccurs="0" type="TAnon_xJustMotivo_1">
        <annotation>
          <documentation>Justificativa do motivo do insucesso. Informar apenas para tpMotivo=4</documentation>
        </annotation>
      </element>
      <element name="latGPS" type="TLatitude" minOccurs="0">
        <annotation>
          <documentation>Latitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element name="longGPS" type="TLongitude" minOccurs="0">
        <annotation>
          <documentation>Longitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element name="hashTentativaEntrega" type="TAnon_hashTentativaEntrega_1">
        <annotation>
          <documentation>Hash (SHA1) no formato Base64 resultante da concatenação: Chave de acesso da NFe + Base64 da imagem capturada da entrega (Exemplo: imagem capturada da assinatura eletrônica, digital do recebedor, foto, etc)
Observação: 28 caracteres são representados no schema como 20 bytes do tipo base64Binary</documentation>
        </annotation>
      </element>
      <element name="dhHashTentativaEntrega" type="TDateTimeUTC" minOccurs="0">
        <annotation>
          <documentation>Data e hora da geração do hash da tentativa de entrega. Formato AAAA-MMDDThh:mm:ssTZD.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <element name="detEvento" type="TAnonComplex_detEvento_1">
    <annotation>
      <documentation>Schema XML de validação do evento de Comprovante de Entrega da NF-e</documentation>
    </annotation>
  </element>
</schema>