internal/cte/schemas/v4_0/evento_ce/evCECTe_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Comprovante de Entrega do CT-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_dhEntrega_1">
    <restriction base="TDateTimeUTC"></restriction>
  </simpleType>
  <simpleType name="TAnon_nDoc_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_hashEntrega_1">
    <restriction base="xs:base64Binary">
      <length value="20"></length>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_dhHashEntrega_1">
    <restriction base="TDateTimeUTC"></restriction>
  </simpleType>
  <complexType name="TAnonComplex_infEntrega_1">
    <sequence>
      <element name="chNFe" type="TChDFe">
        <annotation>
          <documentation>Chave de acesso da NF-e entregue</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_evCECTe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Comprovante de Entrega do CT-e”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de autorização do CT-e</documentation>
        </annotation>
      </element>
      <element name="dhEntrega" type="TAnon_dhEntrega_1">
        <annotation>
          <documentation>Data e hora de conclusão da entrega da NF-e</documentation>
          <documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</documentation>
        </annotation>
      </element>
      <element name="nDoc" type="TAnon_nDoc_1">
        <annotation>
          <documentation>Número do Documento de identificação da pessoa que recebeu a entrega</documentation>
        </annotation>
      </element>
      <element name="xNome" type="TAnon_xNome_1">
        <annotation>
          <documentation>Nome da pessoa que recebeu a entrega</documentation>
        </annotation>
      </element>
      <element name="latitude" type="TLatitude" minOccurs="0">
        <annotation>
          <documentation>Latitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element name="longitude" type="TLongitude" minOccurs="0">
        <annotation>
          <documentation>Longitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element name="hashEntrega" type="TAnon_hashEntrega_1">
        <annotation>
          <documentation>Hash (SHA1) no formato Base64 resultante da concatenação: Chave de acesso do CT-e + Base64 da imagem capturada da entrega (Exemplo: imagem capturada da assinatura eletrônica, digital do recebedor, foto, etc)</documentation>
          <documentation>O hashCSRT é o resultado das funções SHA-1 e base64 do token CSRT fornecido pelo fisco + chave de acesso do DF-e. (Implementação em futura NT)
Observação: 28 caracteres são representados no schema como 20 bytes do tipo base64Binary</documentation>
        </annotation>
      </element>
      <element name="dhHashEntrega" type="TAnon_dhHashEntrega_1">
        <annotation>
          <documentation>Data e hora de geração do hash entrega</documentation>
          <documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</documentation>
        </annotation>
      </element>
      <element name="infEntrega" minOccurs="0" maxOccurs="2000" type="TAnonComplex_infEntrega_1">
        <annotation>
          <documentation>Grupo de informações das NF-e que foram entregues ao Destinatário</documentation>
          <documentation>Informar o grupo apenas para CT-e com tipo de serviço Normal</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evCECTe" type="TAnonComplex_evCECTe_1">
    <annotation>
      <documentation>Schema XML de validação do evento comprovante de entrega eletrônico do CT-e 
110180</documentation>
    </annotation>
  </element>
</schema>