internal/cte/schemas/v4_0/modal_aquaviario/cteModalAquaviario_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="cteTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_xNavio_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xBalsa_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_balsa_1">
    <sequence>
      <element name="xBalsa" type="TAnon_xBalsa_1">
        <annotation>
          <documentation>Identificador da Balsa</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_nViag_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[1-9]{1}[0-9]{0,9}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_direc_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="N"></enumeration>
      <enumeration value="S"></enumeration>
      <enumeration value="L"></enumeration>
      <enumeration value="O"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_irin_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <maxLength value="10"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nLacre_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_lacre_1">
    <sequence>
      <element name="nLacre" type="TAnon_nLacre_1">
        <annotation>
          <documentation>Lacre</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_serie_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="3"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nDoc_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infNF_1">
    <sequence>
      <element name="serie" type="TAnon_serie_1">
        <annotation>
          <documentation>Série</documentation>
        </annotation>
      </element>
      <element name="nDoc" type="TAnon_nDoc_1">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="unidRat" type="TDec_0302_0303" minOccurs="0">
        <annotation>
          <documentation>Unidade de medida rateada (Peso,Volume)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infNFe_1">
    <sequence>
      <element name="chave" type="TChDFe">
        <annotation>
          <documentation>Chave de acesso da NF-e</documentation>
        </annotation>
      </element>
      <element name="unidRat" type="TDec_0302_0303" minOccurs="0">
        <annotation>
          <documentation>Unidade de medida rateada (Peso,Volume)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infDoc_1">
    <choice>
      <element name="infNF" maxOccurs="unbounded" type="TAnonComplex_infNF_1">
        <annotation>
          <documentation>Informações das NF</documentation>
        </annotation>
      </element>
      <element name="infNFe" maxOccurs="unbounded" type="TAnonComplex_infNFe_1">
        <annotation>
          <documentation>Informações das NFe</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="TAnonComplex_detCont_1">
    <sequence>
      <element name="nCont" type="TContainer">
        <annotation>
          <documentation>Identificação do Container</documentation>
        </annotation>
      </element>
      <element name="lacre" minOccurs="0" maxOccurs="3" type="TAnonComplex_lacre_1">
        <annotation>
          <documentation>Grupo de informações dos lacres dos cointainers da qtde da carga</documentation>
        </annotation>
      </element>
      <element name="infDoc" minOccurs="0" type="TAnonComplex_infDoc_1">
        <annotation>
          <documentation>Informações dos documentos dos conteiners</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_tpNav_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_aquav_1">
    <sequence>
      <element name="vPrest" type="TDec_1302">
        <annotation>
          <documentation>Valor da Prestação Base de Cálculo do AFRMM</documentation>
        </annotation>
      </element>
      <element name="vAFRMM" type="TDec_1302">
        <annotation>
          <documentation>AFRMM (Adicional de Frete para Renovação da Marinha Mercante)</documentation>
        </annotation>
      </element>
      <element name="xNavio" type="TAnon_xNavio_1">
        <annotation>
          <documentation>Identificação do Navio</documentation>
        </annotation>
      </element>
      <element name="balsa" minOccurs="0" maxOccurs="3" type="TAnonComplex_balsa_1">
        <annotation>
          <documentation>Grupo de informações das balsas</documentation>
        </annotation>
      </element>
      <element name="nViag" minOccurs="0" type="TAnon_nViag_1">
        <annotation>
          <documentation>Número da Viagem</documentation>
        </annotation>
      </element>
      <element name="direc" type="TAnon_direc_1">
        <annotation>
          <documentation>Direção</documentation>
          <documentation>Preencher com: N-Norte, L-Leste, S-Sul, O-Oeste</documentation>
        </annotation>
      </element>
      <element name="irin" type="TAnon_irin_1">
        <annotation>
          <documentation>Irin do navio sempre deverá ser informado</documentation>
        </annotation>
      </element>
      <element name="detCont" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_detCont_1">
        <annotation>
          <documentation>Grupo de informações de detalhamento dos conteiners 
(Somente para Redespacho Intermediário e Serviço Vinculado a Multimodal)</documentation>
        </annotation>
      </element>
      <element name="tpNav" minOccurs="0" type="TAnon_tpNav_1">
        <annotation>
          <documentation>Tipo de Navegação</documentation>
          <documentation>Preencher com: 
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;0 - Interior;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1 - Cabotagem</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="aquav" type="TAnonComplex_aquav_1">
    <annotation>
      <documentation>Informações do modal Aquaviário</documentation>
    </annotation>
  </element>
</schema>