internal/bpe/schemas/v1_0/evento_alteracao_poltrona/evAlteracaoPoltrona_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/bpe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoBPeTiposBasico_v1.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Alteração Poltrona"></enumeration>
      <enumeration value="Alteracao Poltrona"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_poltrona_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="1"></minLength>
      <maxLength value="3"></maxLength>
      <pattern value="0|[1-9]{1}[0-9]{0,2}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evAlteracaoPoltrona_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Alteração de Poltrona”</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt">
        <annotation>
          <documentation>Número do Protocolo de Status do BP-e.</documentation>
        </annotation>
      </element>
      <element name="poltrona" type="TAnon_poltrona_1">
        <annotation>
          <documentation>Número da Poltrona / assento / cabine</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evAlteracaoPoltrona" type="TAnonComplex_evAlteracaoPoltrona_1">
    <annotation>
      <documentation>Schema XML de validação do evento de alteração de poltrona 
110116</documentation>
    </annotation>
  </element>
</schema>