internal/nfe/schemas/v1_0/evento_entrega/e110130_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:_xmlns="xmlns" _xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfe" _xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include xmlns="http://www.w3.org/2001/XMLSchema" schemaLocation="tiposBasico_v1.03.xsd"></include>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_descEvento_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="Comprovante de Entrega da NF-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_tpAutor_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">1=Empresa Emitente; 2=Empresa Destinatária; 3=Empresa; 5=Fisco; 6=RFB; 9=Outros;</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
      <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_nDoc_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Número do documento de identificação da pessoa que assinou o Comprovante de Entrega da NF-e</documentation>
    </annotation>
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="2"></minLength>
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_xNome_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="TString">
      <maxLength xmlns="http://www.w3.org/2001/XMLSchema" value="60"></maxLength>
      <minLength xmlns="http://www.w3.org/2001/XMLSchema" value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnon_hashComprovante_1">
    <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:base64Binary">
      <length xmlns="http://www.w3.org/2001/XMLSchema" value="20"></length>
    </restriction>
  </simpleType>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_detEvento_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="descEvento" type="TAnon_descEvento_1"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="cOrgaoAutor" type="TCOrgaoIBGE"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="tpAutor" type="TAnon_tpAutor_1"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="verAplic" type="TVerAplic">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Versão do Aplicativo do Autor do Evento</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhEntrega" type="TDateTimeUTC">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data e hora do final da entrega. Formato AAAA-MMDDThh:mm:ssTZD</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="nDoc" type="TAnon_nDoc_1"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="xNome" type="TAnon_xNome_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Nome da pessoa que assinou o Comprovante de Entrega da NF-e</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="latGPS" type="TLatitude" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Latitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="longGPS" type="TLongitude" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Longitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="hashComprovante" type="TAnon_hashComprovante_1">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Hash (SHA1) no formato Base64 resultante da concatenação: Chave de acesso da NFe + Base64 da imagem capturada da entrega (Exemplo: imagem capturada da assinatura eletrônica, digital do recebedor, foto, etc)</documentation>
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">O hashCSRT é o resultado das funções SHA-1 e base64 do token CSRT fornecido pelo fisco + chave de acesso do DF-e. (Implementação em futura NT)
Observação: 28 caracteres são representados no schema como 20 bytes do tipo base64Binary</documentation>
        </annotation>
      </element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="dhHashComprovante" type="TDateTimeUTC" minOccurs="0">
        <annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data e hora da geração do hash do Comprovante de Entrega da NF-e. Formato AAAA-MMDDThh:mm:ssTZD.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" use="required">
      <simpleType xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
          <whiteSpace xmlns="http://www.w3.org/2001/XMLSchema" value="preserve"></whiteSpace>
          <enumeration xmlns="http://www.w3.org/2001/XMLSchema" value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="detEvento" type="TAnonComplex_detEvento_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema">Schema XML de validação do evento de Comprovante de Entrega da NF-e</documentation>
    </annotation>
  </element>
</schema>