internal/nfe/schemas/v1_0/evento_entrega/e110130_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposBasico_v1.03.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <enumeration value="Comprovante de Entrega da NF-e"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpAutor_1">
    <annotation>
      <documentation>1=Empresa Emitente; 2=Empresa Destinatária; 3=Empresa; 5=Fisco; 6=RFB; 9=Outros;</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nDoc_1">
    <annotation>
      <documentation>Número do documento de identificação da pessoa que assinou o Comprovante de Entrega da NF-e</documentation>
    </annotation>
    <restriction base="xs:string">
      <minLength value="2"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_hashComprovante_1">
    <restriction base="xs:base64Binary">
      <length value="20"></length>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_detEvento_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1"></element>
      <element name="cOrgaoAutor" type="TCOrgaoIBGE"></element>
      <element name="tpAutor" type="TAnon_tpAutor_1"></element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo do Autor do Evento</documentation>
        </annotation>
      </element>
      <element name="dhEntrega" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e hora do final da entrega. Formato AAAA-MMDDThh:mm:ssTZD</documentation>
        </annotation>
      </element>
      <element name="nDoc" type="TAnon_nDoc_1"></element>
      <element name="xNome" type="TAnon_xNome_1">
        <annotation>
          <documentation>Nome da pessoa que assinou o Comprovante de Entrega da NF-e</documentation>
        </annotation>
      </element>
      <element name="latGPS" type="TLatitude" minOccurs="0">
        <annotation>
          <documentation>Latitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element name="longGPS" type="TLongitude" minOccurs="0">
        <annotation>
          <documentation>Longitude do ponto de entrega</documentation>
        </annotation>
      </element>
      <element name="hashComprovante" type="TAnon_hashComprovante_1">
        <annotation>
          <documentation>Hash (SHA1) no formato Base64 resultante da concatenação: Chave de acesso da NFe + Base64 da imagem capturada da entrega (Exemplo: imagem capturada da assinatura eletrônica, digital do recebedor, foto, etc)</documentation>
          <documentation>O hashCSRT é o resultado das funções SHA-1 e base64 do token CSRT fornecido pelo fisco + chave de acesso do DF-e. (Implementação em futura NT)
Observação: 28 caracteres são representados no schema como 20 bytes do tipo base64Binary</documentation>
        </annotation>
      </element>
      <element name="dhHashComprovante" type="TDateTimeUTC" minOccurs="0">
        <annotation>
          <documentation>Data e hora da geração do hash do Comprovante de Entrega da NF-e. Formato AAAA-MMDDThh:mm:ssTZD.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" use="required">
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <enumeration value="1.00"></enumeration>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <element name="detEvento" type="TAnonComplex_detEvento_1">
    <annotation>
      <documentation>Schema XML de validação do evento de Comprovante de Entrega da NF-e</documentation>
    </annotation>
  </element>
</schema>