internal/cte/schemas/v4_0/evento_cce/evCCeCTe_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Carta de Correção"></enumeration>
      <enumeration value="Carta de Correcao"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_grupoAlterado_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_campoAlterado_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_valorAlterado_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="1"></minLength>
      <maxLength value="500"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nroItemAlterado_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[1-9][0-9]|0?[1-9]"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infCorrecao_1">
    <sequence>
      <element name="grupoAlterado" type="TAnon_grupoAlterado_1">
        <annotation>
          <documentation>Indicar o grupo de informações que pertence o campoAlterado. Ex: ide</documentation>
        </annotation>
      </element>
      <element name="campoAlterado" type="TAnon_campoAlterado_1">
        <annotation>
          <documentation>Nome do campo modificado do CT-e Original.</documentation>
        </annotation>
      </element>
      <element name="valorAlterado" type="TAnon_valorAlterado_1">
        <annotation>
          <documentation>Valor correspondente à alteração.</documentation>
        </annotation>
      </element>
      <element name="nroItemAlterado" minOccurs="0" type="TAnon_nroItemAlterado_1">
        <annotation>
          <documentation>Preencher com o indice do item alterado caso a alteração ocorra em uma lista. 
OBS: O indice inicia sempre  em 1</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_xCondUso_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="A Carta de Correção é disciplinada pelo Art. 58-B do CONVÊNIO/SINIEF 06/89: Fica permitida a utilização de carta de correção, para regularização de erro ocorrido na emissão de documentos fiscais relativos à prestação de serviço de transporte, desde que o erro não esteja relacionado com: I - as variáveis que determinam o valor do imposto tais como: base de cálculo, alíquota, diferença de preço, quantidade, valor da prestação;II - a correção de dados cadastrais que implique mudança do emitente, tomador, remetente ou do destinatário;III - a data de emissão ou de saída."></enumeration>
      <enumeration value="A Carta de Correcao e disciplinada pelo Art. 58-B do CONVENIO/SINIEF 06/89: Fica permitida a utilizacao de carta de correcao, para regularizacao de erro ocorrido na emissao de documentos fiscais relativos a prestacao de servico de transporte, desde que o erro nao esteja relacionado com: I - as variaveis que determinam o valor do imposto tais como: base de calculo, aliquota, diferenca de preco, quantidade, valor da prestacao;II - a correcao de dados cadastrais que implique mudanca do emitente, tomador, remetente ou do destinatario;III - a data de emissao ou de saida."></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_evCCeCTe_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Carta de Correção”</documentation>
        </annotation>
      </element>
      <element name="infCorrecao" maxOccurs="unbounded" type="TAnonComplex_infCorrecao_1">
        <annotation>
          <documentation>Grupo de Informações de Correção</documentation>
        </annotation>
      </element>
      <element name="xCondUso" type="TAnon_xCondUso_1">
        <annotation>
          <documentation>Condições de uso da Carta de Correção,</documentation>
          <documentation>informar a literal :Condições de uso da Carta de Correção, informar a literal:
“A Carta de Correção é disciplinada pelo Art. 58-B do CONVÊNIO/SINIEF 06/89: Fica permitida a utilização de carta de correção, para regularização de erro ocorrido na emissão de documentos fiscais relativos à prestação de serviço de transporte, desde que o erro não esteja relacionado com: I - as variáveis que determinam o valor do imposto tais como: base de cálculo, alíquota, diferença de preço, quantidade, valor da prestação;II - a correção de dados cadastrais que implique mudança do emitente, tomador, remetente ou do destinatário;III - a data de emissão ou de saída.” (texto com acentuação)  ou “A Carta de Correcao e disciplinada pelo Art. 58-B do CONVENIO/SINIEF 06/89: Fica permitida a utilizacao de carta de correcao, para regularizacao de erro ocorrido na emissao de documentos fiscais relativos a prestacao de servico de transporte, desde que o erro nao esteja relacionado com: I - as variaveis que determinam o valor do imposto tais como: base de calculo, aliquota, diferenca de preco, quantidade, valor da prestacao;II - a correcao de dados cadastrais que implique mudança do emitente, tomador, remetente ou do destinatario;III - a data de emissao ou de saida.” (texto sem acentuação)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evCCeCTe" type="TAnonComplex_evCCeCTe_1">
    <annotation>
      <documentation>Schema XML de validação do evento carta de correção 
110110</documentation>
    </annotation>
  </element>
</schema>