internal/cte/schemas/v1_0/dist_dfe/distDFeInt_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposDistDFe_v1.00.xsd"></include>
  <complexType name="TAnonComplex_distNSU_1">
    <sequence>
      <element name="ultNSU" type="TNSU">
        <annotation>
          <documentation>Último NSU recebido pelo ator. Caso seja informado com zero, ou com um NSU muito antigo, a consulta retornará unicamente as informações resumidas e documentos fiscais eletrônicos que tenham sido recepcionados pelo Ambiente Nacional nos últimos 3 meses.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_consNSU_1">
    <sequence>
      <element name="NSU" type="TNSU">
        <annotation>
          <documentation>Número Sequencial Único. Geralmente esta consulta será utilizada quando identificado pelo interessado um NSU faltante. O Web Service retornará o documento ou informará que o NSU não existe no Ambiente Nacional. Assim, esta consulta fechará a lacuna do NSU identificado como faltante.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_distDFeInt_1">
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
            1 - Produção
            2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="cUFAutor" type="TCodUfIBGE">
        <annotation>
          <documentation>Código da UF do Autor</documentation>
        </annotation>
      </element>
      <choice>
        <element name="CNPJ" type="TCnpj">
          <annotation>
            <documentation>CNPJ do interessado no DF-e</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>CPF do interessado no DF-e</documentation>
          </annotation>
        </element>
      </choice>
      <choice>
        <element name="distNSU" type="TAnonComplex_distNSU_1">
          <annotation>
            <documentation>Grupo para distribuir DF-e de interesse</documentation>
          </annotation>
        </element>
        <element name="consNSU" type="TAnonComplex_consNSU_1">
          <annotation>
            <documentation>Grupo para consultar um DF-e a partir de um NSU específico</documentation>
          </annotation>
        </element>
      </choice>
    </sequence>
    <attribute name="versao" type="TVerDistDFe" use="required"></attribute>
  </complexType>
  <element name="distDFeInt" type="TAnonComplex_distDFeInt_1">
    <annotation>
      <documentation>Schema de pedido de distribuição de DF-e de interesse</documentation>
    </annotation>
  </element>
</schema>