internal/mdfe/schemas/v3_0/mdfe/mdfeTiposBasico_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <include schemaLocation="tiposGeralMDFe_v3.00.xsd"></include>
  <simpleType name="TAnon_cMDF_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cDV_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{1}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpEmis_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_procEmi_1">
    <restriction base="TProcEmi"></restriction>
  </simpleType>
  <simpleType name="TAnon_verProc_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMunCarrega_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infMunCarrega_1">
    <sequence>
      <element name="cMunCarrega" type="TCodMunIBGE">
        <annotation>
          <documentation source="Código do Munícpio de Carregamento">Código do Município de Carregamento</documentation>
        </annotation>
      </element>
      <element name="xMunCarrega" type="TAnon_xMunCarrega_1">
        <annotation>
          <documentation>Nome do Município de Carregamento</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infPercurso_1">
    <sequence>
      <element name="UFPer" type="TUf">
        <annotation>
          <documentation>Sigla das Unidades da Federação do percurso do veículo.</documentation>
          <documentation>Não é necessário repetir as UF de Início e Fim</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_indCanalVerde_1">
    <restriction base="xs:string">
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_indCarregaPosterior_1">
    <restriction base="xs:string">
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_ide_1">
    <sequence>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>Código da UF do emitente do MDF-e</documentation>
          <documentation>Código da UF do emitente do Documento Fiscal. Utilizar a
Tabela do IBGE de código de unidades da federação.</documentation>
        </annotation>
      </element>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Tipo do Ambiente</documentation>
          <documentation>1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="tpEmit" type="TEmit">
        <annotation>
          <documentation>Tipo do Emitente</documentation>
          <documentation>1 - Prestador de serviço de transporte 
2 - Transportador de Carga Própria 3 - Prestador de serviço de transporte que emitirá CT-e Globalizado 

OBS: Deve ser preenchido com 2 para emitentes de NF-e e pelas transportadoras quando estiverem fazendo transporte de carga própria. Deve ser preenchido com 3 para transportador de carga que emitirá à posteriori CT-e Globalizado relacionando as NF-e.</documentation>
        </annotation>
      </element>
      <element name="tpTransp" type="TTransp" minOccurs="0">
        <annotation>
          <documentation>Tipo do Transportador</documentation>
          <documentation>1 - ETC

2 - TAC

3 - CTC</documentation>
        </annotation>
      </element>
      <element name="mod" type="TModMD">
        <annotation>
          <documentation>Modelo do Manifesto Eletrônico</documentation>
          <documentation>Utilizar o código 58 para identificação do MDF-e</documentation>
        </annotation>
      </element>
      <element name="serie" type="TSerie">
        <annotation>
          <documentation>Série do Manifesto</documentation>
          <documentation>Informar a série do documento fiscal (informar zero se inexistente).
Série na faixa [920-969]: Reservada para emissão por contribuinte pessoa física com inscrição estadual.</documentation>
        </annotation>
      </element>
      <element name="nMDF" type="TNF">
        <annotation>
          <documentation>Número do Manifesto</documentation>
          <documentation>Número que identifica o Manifesto. 1 a 999999999.</documentation>
        </annotation>
      </element>
      <element name="cMDF" type="TAnon_cMDF_1">
        <annotation>
          <documentation>Código numérico que compõe a Chave de Acesso.</documentation>
          <documentation>Código aleatório gerado pelo emitente, com o objetivo de evitar acessos indevidos ao documento.</documentation>
        </annotation>
      </element>
      <element name="cDV" type="TAnon_cDV_1">
        <annotation>
          <documentation>Digito verificador da chave de acesso do Manifesto</documentation>
          <documentation>Informar o dígito  de controle da chave de acesso do MDF-e, que deve ser calculado com a aplicação do algoritmo módulo 11 (base 2,9) da chave de acesso.</documentation>
        </annotation>
      </element>
      <element name="modal" type="TModalMD">
        <annotation>
          <documentation>Modalidade de transporte</documentation>
          <documentation>1 - Rodoviário;
2 - Aéreo; 3 - Aquaviário; 4 - Ferroviário.</documentation>
        </annotation>
      </element>
      <element name="dhEmi" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e hora de emissão do Manifesto</documentation>
          <documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</documentation>
        </annotation>
      </element>
      <element name="tpEmis" type="TAnon_tpEmis_1">
        <annotation>
          <documentation>Forma de emissão do Manifesto</documentation>
          <documentation>1 - Normal
; 2 - Contingência; 3-Regime Especial NFF</documentation>
        </annotation>
      </element>
      <element name="procEmi" type="TAnon_procEmi_1">
        <annotation>
          <documentation>Identificação do processo de emissão do Manifesto</documentation>
          <documentation>0 - emissão de MDF-e com aplicativo do contribuinte</documentation>
        </annotation>
      </element>
      <element name="verProc" type="TAnon_verProc_1">
        <annotation>
          <documentation>Versão do processo de emissão</documentation>
          <documentation>Informar a versão do aplicativo emissor de MDF-e.</documentation>
        </annotation>
      </element>
      <element name="UFIni" type="TUf">
        <annotation>
          <documentation>Sigla da UF do Carregamento</documentation>
          <documentation>Utilizar a Tabela do IBGE de código de unidades da federação.
Informar &#39;EX&#39; para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="UFFim" type="TUf">
        <annotation>
          <documentation>Sigla da UF do Descarregamento</documentation>
          <documentation>Utilizar a Tabela do IBGE de código de unidades da federação.
Informar &#39;EX&#39; para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="infMunCarrega" maxOccurs="50" type="TAnonComplex_infMunCarrega_1">
        <annotation>
          <documentation source=" Municípios onde ocorreram os carregamentos">Informações dos Municípios de Carregamento</documentation>
        </annotation>
      </element>
      <element name="infPercurso" minOccurs="0" maxOccurs="25" type="TAnonComplex_infPercurso_1">
        <annotation>
          <documentation source=" Municípios onde ocorreram os carregamentos">Informações do Percurso do MDF-e</documentation>
        </annotation>
      </element>
      <element name="dhIniViagem" type="TDateTimeUTC" minOccurs="0">
        <annotation>
          <documentation>Data e hora previstos de inicio da viagem</documentation>
          <documentation>Formato AAAA-MM-DDTHH:MM:DD TZD</documentation>
        </annotation>
      </element>
      <element name="indCanalVerde" minOccurs="0" type="TAnon_indCanalVerde_1">
        <annotation>
          <documentation>Indicador de participação do Canal Verde</documentation>
        </annotation>
      </element>
      <element name="indCarregaPosterior" minOccurs="0" type="TAnon_indCarregaPosterior_1">
        <annotation>
          <documentation>Indicador de MDF-e com inclusão da Carga posterior a emissão por evento de inclusão de DF-e</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_IE_1">
    <restriction base="TIe"></restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xFant_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_emit_1">
    <sequence>
      <choice>
        <element name="CNPJ" type="TCnpj">
          <annotation>
            <documentation>CNPJ do emitente</documentation>
            <documentation>Informar zeros não significativos</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>CPF do emitente</documentation>
            <documentation>Informar zeros não significativos.

Usar com série específica 920-969 para emitente pessoa física com inscrição estadual.
Poderá ser usado também para emissão do Regime Especial da Nota Fiscal Fácil</documentation>
          </annotation>
        </element>
      </choice>
      <element name="IE" minOccurs="0" type="TAnon_IE_1">
        <annotation>
          <documentation>Inscrição Estadual do emitemte</documentation>
        </annotation>
      </element>
      <element name="xNome" type="TAnon_xNome_1">
        <annotation>
          <documentation>Razão social ou Nome do emitente</documentation>
        </annotation>
      </element>
      <element name="xFant" minOccurs="0" type="TAnon_xFant_1">
        <annotation>
          <documentation>Nome fantasia do emitente</documentation>
        </annotation>
      </element>
      <element name="enderEmit" type="TEndeEmi">
        <annotation>
          <documentation>Endereço do emitente</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infModal_1">
    <sequence>
      <any processContents="skip">
        <annotation>
          <documentation>XML do modal
Insira neste local o XML específico do modal (rodoviário, aéreo, ferroviário ou aquaviário).</documentation>
          <documentation>O elemento do tipo -any- permite estender o documento XML com elementos não especificados pelo schema.
&#x9;&#x9;&#x9;&#x9;&#x9;Insira neste local - any- o XML específico do modal (rodoviário, aéreo, ferroviário ou aquaviário). A especificação do schema XML para cada modal pode ser encontrada nos arquivos que acompanham este pacote de liberação:
&#x9;
Rodoviário - ver arquivo MDFeModalRodoviario_v9.99
&#x9;&#x9;&#x9;Aéreo - ver arquivo MDFeModalAereo_v9.99
&#x9;&#x9;&#x9;&#x9;Aquaviário - arquivo MDFeModalAquaviario_v9.99
&#x9;&#x9;&#x9;Ferroviário - arquivo MDFeModalFerroviario_v9.99


Onde v9.99 é a a designação genérica para a versão do arquivo. 
Por exemplo, o arquivo para o schema do modal Rodoviário na versão 1.00 será denominado &#34;MDFeModalRodoviario_v1.00&#34;.</documentation>
        </annotation>
      </any>
    </sequence>
    <attribute name="versaoModal" use="required">
      <annotation>
        <documentation>Versão do leiaute específico para o Modal</documentation>
      </annotation>
      <simpleType>
        <restriction base="xs:string">
          <whiteSpace value="preserve"></whiteSpace>
          <pattern value="3\.(0[0-9]|[1-9][0-9])"></pattern>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType name="TAnon_xMunDescarga_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_indReentrega_1">
    <restriction base="xs:string">
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nONU_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{4}|ND"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNomeAE_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="150"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xClaRisco_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="40"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_grEmb_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="6"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qTotProd_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qVolTipo_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_peri_1">
    <sequence>
      <element name="nONU" type="TAnon_nONU_1">
        <annotation>
          <documentation>Número ONU/UN</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</documentation>
        </annotation>
      </element>
      <element name="xNomeAE" minOccurs="0" type="TAnon_xNomeAE_1">
        <annotation>
          <documentation>Nome apropriado para embarque do produto</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicada ao modo de transporte</documentation>
        </annotation>
      </element>
      <element name="xClaRisco" minOccurs="0" type="TAnon_xClaRisco_1">
        <annotation>
          <documentation>Classe ou subclasse/divisão, e risco subsidiário/risco secundário</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</documentation>
        </annotation>
      </element>
      <element name="grEmb" minOccurs="0" type="TAnon_grEmb_1">
        <annotation>
          <documentation>Grupo de Embalagem</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Preenchimento obrigatório para o modal aéreo.
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;A legislação para o modal rodoviário e ferroviário não atribui grupo de embalagem para todos os produtos, portanto haverá casos de não preenchimento desse campo.</documentation>
        </annotation>
      </element>
      <element name="qTotProd" type="TAnon_qTotProd_1">
        <annotation>
          <documentation>Quantidade total por produto</documentation>
          <documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</documentation>
        </annotation>
      </element>
      <element name="qVolTipo" minOccurs="0" type="TAnon_qVolTipo_1">
        <annotation>
          <documentation>Quantidade e Tipo de volumes</documentation>
          <documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infEntregaParcial_1">
    <sequence>
      <element name="qtdTotal" type="TDec_1104">
        <annotation>
          <documentation>Quantidade total de volumes</documentation>
        </annotation>
      </element>
      <element name="qtdParcial" type="TDec_1104">
        <annotation>
          <documentation>Quantidade de volumes enviados no MDF-e</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_indPrestacaoParcial_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infNFePrestParcial_1">
    <sequence>
      <element name="chNFe" type="TChCTe">
        <annotation>
          <documentation>Nota Fiscal Eletrônica</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infCTe_1">
    <sequence>
      <element name="chCTe" type="TChCTe">
        <annotation>
          <documentation>Conhecimento Eletrônico - Chave de Acesso</documentation>
        </annotation>
      </element>
      <element name="SegCodBarra" type="TSegCodBarra" minOccurs="0">
        <annotation>
          <documentation>Segundo código de barras</documentation>
        </annotation>
      </element>
      <element name="indReentrega" minOccurs="0" type="TAnon_indReentrega_1">
        <annotation>
          <documentation>Indicador de Reentrega</documentation>
        </annotation>
      </element>
      <element name="infUnidTransp" type="TUnidadeTransp" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>Informações das Unidades de Transporte (Carreta/Reboque/Vagão)</documentation>
          <documentation>Deve ser preenchido com as informações das unidades de transporte utilizadas.</documentation>
        </annotation>
      </element>
      <element name="peri" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_peri_1">
        <annotation>
          <documentation>Preenchido quando for  transporte de produtos classificados pela ONU como perigosos.</documentation>
        </annotation>
      </element>
      <element name="infEntregaParcial" minOccurs="0" type="TAnonComplex_infEntregaParcial_1">
        <annotation>
          <documentation>Grupo de informações da Entrega Parcial (Corte de Voo)</documentation>
        </annotation>
      </element>
      <element name="indPrestacaoParcial" minOccurs="0" type="TAnon_indPrestacaoParcial_1">
        <annotation>
          <documentation>Indicador de Prestação parcial</documentation>
        </annotation>
      </element>
      <element name="infNFePrestParcial" maxOccurs="unbounded" minOccurs="0" type="TAnonComplex_infNFePrestParcial_1">
        <annotation>
          <documentation>Grupo de informações das NFe que foram entregues do CTe relacionado</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_indReentrega_2">
    <restriction base="xs:string">
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nONU_2">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{4}|ND"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNomeAE_2">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="150"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xClaRisco_2">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="40"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_grEmb_2">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="6"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qTotProd_2">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qVolTipo_2">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_peri_2">
    <sequence>
      <element name="nONU" type="TAnon_nONU_2">
        <annotation>
          <documentation>Número ONU/UN</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</documentation>
        </annotation>
      </element>
      <element name="xNomeAE" minOccurs="0" type="TAnon_xNomeAE_2">
        <annotation>
          <documentation>Nome apropriado para embarque do produto</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicada ao modo de transporte</documentation>
        </annotation>
      </element>
      <element name="xClaRisco" minOccurs="0" type="TAnon_xClaRisco_2">
        <annotation>
          <documentation>Classe ou subclasse/divisão, e risco subsidiário/risco secundário</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</documentation>
        </annotation>
      </element>
      <element name="grEmb" minOccurs="0" type="TAnon_grEmb_2">
        <annotation>
          <documentation>Grupo de Embalagem</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Preenchimento obrigatório para o modal aéreo.
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;A legislação para o modal rodoviário e ferroviário não atribui grupo de embalagem para todos os produtos, portanto haverá casos de não preenchimento desse campo.</documentation>
        </annotation>
      </element>
      <element name="qTotProd" type="TAnon_qTotProd_2">
        <annotation>
          <documentation>Quantidade total por produto</documentation>
          <documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</documentation>
        </annotation>
      </element>
      <element name="qVolTipo" minOccurs="0" type="TAnon_qVolTipo_2">
        <annotation>
          <documentation>Quantidade e Tipo de volumes</documentation>
          <documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infNFe_1">
    <sequence>
      <element name="chNFe" type="TChNFe">
        <annotation>
          <documentation>Nota Fiscal Eletrônica</documentation>
        </annotation>
      </element>
      <element name="SegCodBarra" type="TSegCodBarra" minOccurs="0">
        <annotation>
          <documentation>Segundo código de barras</documentation>
        </annotation>
      </element>
      <element name="indReentrega" minOccurs="0" type="TAnon_indReentrega_2">
        <annotation>
          <documentation>Indicador de Reentrega</documentation>
        </annotation>
      </element>
      <element name="infUnidTransp" type="TUnidadeTransp" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>Informações das Unidades de Transporte (Carreta/Reboque/Vagão)</documentation>
          <documentation>Deve ser preenchido com as informações das unidades de transporte utilizadas.</documentation>
        </annotation>
      </element>
      <element name="peri" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_peri_2">
        <annotation>
          <documentation>Preenchido quando for  transporte de produtos classificados pela ONU como perigosos.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_indReentrega_3">
    <restriction base="xs:string">
      <enumeration value="1"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nONU_3">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{4}|ND"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNomeAE_3">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="150"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xClaRisco_3">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="40"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_grEmb_3">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="6"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qTotProd_3">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qVolTipo_3">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_peri_3">
    <sequence>
      <element name="nONU" type="TAnon_nONU_3">
        <annotation>
          <documentation>Número ONU/UN</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</documentation>
        </annotation>
      </element>
      <element name="xNomeAE" minOccurs="0" type="TAnon_xNomeAE_3">
        <annotation>
          <documentation>Nome apropriado para embarque do produto</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicada ao modo de transporte</documentation>
        </annotation>
      </element>
      <element name="xClaRisco" minOccurs="0" type="TAnon_xClaRisco_3">
        <annotation>
          <documentation>Classe ou subclasse/divisão, e risco subsidiário/risco secundário</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal</documentation>
        </annotation>
      </element>
      <element name="grEmb" minOccurs="0" type="TAnon_grEmb_3">
        <annotation>
          <documentation>Grupo de Embalagem</documentation>
          <documentation>Ver a legislação de transporte de produtos perigosos aplicadas ao modal
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Preenchimento obrigatório para o modal aéreo.
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;A legislação para o modal rodoviário e ferroviário não atribui grupo de embalagem para todos os produtos, portanto haverá casos de não preenchimento desse campo.</documentation>
        </annotation>
      </element>
      <element name="qTotProd" type="TAnon_qTotProd_3">
        <annotation>
          <documentation>Quantidade total por produto</documentation>
          <documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</documentation>
        </annotation>
      </element>
      <element name="qVolTipo" minOccurs="0" type="TAnon_qVolTipo_3">
        <annotation>
          <documentation>Quantidade e Tipo de volumes</documentation>
          <documentation>Preencher conforme a legislação de transporte de produtos perigosos aplicada ao modal</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infMDFeTransp_1">
    <sequence>
      <element name="chMDFe" type="TChNFe">
        <annotation>
          <documentation>Manifesto Eletrônico de Documentos Fiscais</documentation>
        </annotation>
      </element>
      <element name="indReentrega" minOccurs="0" type="TAnon_indReentrega_3">
        <annotation>
          <documentation>Indicador de Reentrega</documentation>
        </annotation>
      </element>
      <element name="infUnidTransp" type="TUnidadeTransp" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>Informações das Unidades de Transporte (Carreta/Reboque/Vagão)</documentation>
          <documentation>Dispositivo de carga utilizada (Unit Load Device - ULD) significa todo tipo de contêiner de carga, vagão, contêiner de avião, palete de aeronave com rede ou palete de aeronave com rede sobre um iglu.</documentation>
        </annotation>
      </element>
      <element name="peri" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_peri_3">
        <annotation>
          <documentation>Preenchido quando for  transporte de produtos classificados pela ONU como perigosos.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infMunDescarga_1">
    <sequence>
      <element name="cMunDescarga" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do Município de Descarregamento</documentation>
        </annotation>
      </element>
      <element name="xMunDescarga" type="TAnon_xMunDescarga_1">
        <annotation>
          <documentation>Nome do Município de Descarregamento</documentation>
        </annotation>
      </element>
      <element name="infCTe" minOccurs="0" maxOccurs="20000" type="TAnonComplex_infCTe_1">
        <annotation>
          <documentation>Conhecimentos de Tranporte - usar este grupo quando for prestador de serviço de transporte</documentation>
        </annotation>
      </element>
      <element name="infNFe" minOccurs="0" maxOccurs="20000" type="TAnonComplex_infNFe_1">
        <annotation>
          <documentation>Nota Fiscal Eletronica</documentation>
        </annotation>
      </element>
      <element name="infMDFeTransp" minOccurs="0" maxOccurs="20000" type="TAnonComplex_infMDFeTransp_1">
        <annotation>
          <documentation>Manifesto Eletrônico de Documentos Fiscais. Somente para modal Aquaviário (vide regras MOC)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infDoc_1">
    <sequence>
      <element name="infMunDescarga" maxOccurs="1000" type="TAnonComplex_infMunDescarga_1">
        <annotation>
          <documentation>Informações dos Municípios de descarregamento</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_respSeg_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="1"></minLength>
      <maxLength value="1"></maxLength>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infResp_1">
    <sequence>
      <element name="respSeg" type="TAnon_respSeg_1">
        <annotation>
          <documentation>Responsável pelo seguro</documentation>
          <documentation>Preencher com:
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1- Emitente do MDF-e;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
22 - Responsável pela contratação do serviço de transporte (contratante)&#x9;


Dados obrigatórios apenas no modal Rodoviário, depois da lei 11.442/07. Para os demais modais esta informação é opcional.</documentation>
        </annotation>
      </element>
      <choice minOccurs="0">
        <element name="CNPJ" type="TCnpj">
          <annotation>
            <documentation>Número do CNPJ do responsável pelo seguro</documentation>
            <documentation>Obrigatório apenas se responsável pelo seguro for (2) responsável pela contratação do transporte - pessoa jurídica</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>Número do CPF do responsável pelo seguro</documentation>
            <documentation>Obrigatório apenas se responsável pelo seguro for (2) responsável pela contratação do transporte - pessoa física</documentation>
          </annotation>
        </element>
      </choice>
    </sequence>
  </complexType>
  <simpleType name="TAnon_xSeg_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="30"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infSeg_1">
    <sequence>
      <element name="xSeg" type="TAnon_xSeg_1">
        <annotation>
          <documentation>Nome da Seguradora</documentation>
        </annotation>
      </element>
      <element name="CNPJ" type="TCnpjOpc">
        <annotation>
          <documentation>Número do CNPJ da seguradora</documentation>
          <documentation>Obrigatório apenas se responsável pelo seguro for (2) responsável pela contratação do transporte - pessoa jurídica</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_nApol_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nAver_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="40"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_seg_1">
    <sequence>
      <element name="infResp" type="TAnonComplex_infResp_1">
        <annotation>
          <documentation>Informações do responsável pelo seguro da carga</documentation>
        </annotation>
      </element>
      <element name="infSeg" minOccurs="0" type="TAnonComplex_infSeg_1">
        <annotation>
          <documentation>Informações da seguradora</documentation>
        </annotation>
      </element>
      <element name="nApol" minOccurs="0" type="TAnon_nApol_1">
        <annotation>
          <documentation>Número da Apólice</documentation>
          <documentation>Obrigatório pela lei 11.442/07 (RCTRC)</documentation>
        </annotation>
      </element>
      <element name="nAver" minOccurs="0" maxOccurs="unbounded" type="TAnon_nAver_1">
        <annotation>
          <documentation>Número da Averbação</documentation>
          <documentation>Informar as averbações do seguro</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_tpCarga_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="01"></enumeration>
      <enumeration value="02"></enumeration>
      <enumeration value="03"></enumeration>
      <enumeration value="04"></enumeration>
      <enumeration value="05"></enumeration>
      <enumeration value="06"></enumeration>
      <enumeration value="07"></enumeration>
      <enumeration value="08"></enumeration>
      <enumeration value="09"></enumeration>
      <enumeration value="10"></enumeration>
      <enumeration value="11"></enumeration>
      <enumeration value="12"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xProd_1">
    <restriction base="TString">
      <maxLength value="120"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cEAN_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="SEM GTIN|[0-9]{0}|[0-9]{8}|[0-9]{12,14}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_NCM_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{2}|[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_CEP_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infLocalCarrega_1">
    <choice>
      <element name="CEP" type="TAnon_CEP_1">
        <annotation>
          <documentation>CEP onde foi carregado o MDF-e</documentation>
          <documentation>Informar zeros não significativos</documentation>
        </annotation>
      </element>
      <sequence>
        <element name="latitude" type="TLatitude">
          <annotation>
            <documentation>Latitude do ponto geográfico onde foi carregado o MDF-e</documentation>
          </annotation>
        </element>
        <element name="longitude" type="TLongitude">
          <annotation>
            <documentation>Latitude do ponto geográfico onde foi carregado o MDF-e</documentation>
          </annotation>
        </element>
      </sequence>
    </choice>
  </complexType>
  <simpleType name="TAnon_CEP_2">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infLocalDescarrega_1">
    <choice>
      <element name="CEP" type="TAnon_CEP_2">
        <annotation>
          <documentation>CEP onde foi descarregado o MDF-e</documentation>
          <documentation>Informar zeros não significativos</documentation>
        </annotation>
      </element>
      <sequence>
        <element name="latitude" type="TLatitude">
          <annotation>
            <documentation>Latitude do ponto geográfico onde foi descarregado o MDF-e</documentation>
          </annotation>
        </element>
        <element name="longitude" type="TLongitude">
          <annotation>
            <documentation>Latitude do ponto geográfico onde foi descarregado o MDF-e</documentation>
          </annotation>
        </element>
      </sequence>
    </choice>
  </complexType>
  <complexType name="TAnonComplex_infLotacao_1">
    <sequence>
      <element name="infLocalCarrega" type="TAnonComplex_infLocalCarrega_1">
        <annotation>
          <documentation>Informações da localização de carregamento do MDF-e de carga lotação</documentation>
        </annotation>
      </element>
      <element name="infLocalDescarrega" type="TAnonComplex_infLocalDescarrega_1">
        <annotation>
          <documentation>Informações da localização de descarregamento do MDF-e de carga lotação</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_prodPred_1">
    <sequence>
      <element name="tpCarga" type="TAnon_tpCarga_1">
        <annotation>
          <documentation>Tipo de Carga</documentation>
          <documentation>Conforme Resolução ANTT nº.  5.849/2019.

01-Granel sólido;
02-Granel líquido;
03-Frigorificada;
04-Conteinerizada;
05-Carga Geral;
06-Neogranel;
07-Perigosa (granel sólido);
08-Perigosa (granel líquido);
09-Perigosa (carga frigorificada);
10-Perigosa (conteinerizada);
11-Perigosa (carga geral).
12-Granel pressurizada</documentation>
        </annotation>
      </element>
      <element name="xProd" type="TAnon_xProd_1">
        <annotation>
          <documentation>Descrição do produto</documentation>
        </annotation>
      </element>
      <element name="cEAN" minOccurs="0" type="TAnon_cEAN_1">
        <annotation>
          <documentation>GTIN (Global Trade Item Number) do produto, antigo código EAN ou código de barras</documentation>
        </annotation>
      </element>
      <element name="NCM" minOccurs="0" type="TAnon_NCM_1">
        <annotation>
          <documentation>Código NCM</documentation>
        </annotation>
      </element>
      <element name="infLotacao" minOccurs="0" type="TAnonComplex_infLotacao_1">
        <annotation>
          <documentation>Informações da carga lotação. Informar somente quando MDF-e for de carga lotação</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_qCTe_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{1,6}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qNFe_1">
    <restriction base="xs:string">
      <pattern value="[0-9]{1,6}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_qMDFe_1">
    <restriction base="xs:string">
      <pattern value="[0-9]{1,6}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cUnid_1">
    <restriction base="xs:string">
      <enumeration value="01"></enumeration>
      <enumeration value="02"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_tot_1">
    <sequence>
      <element name="qCTe" minOccurs="0" type="TAnon_qCTe_1">
        <annotation>
          <documentation>Quantidade total de CT-e relacionados no Manifesto</documentation>
        </annotation>
      </element>
      <element name="qNFe" minOccurs="0" type="TAnon_qNFe_1">
        <annotation>
          <documentation>Quantidade total de NF-e relacionadas no Manifesto</documentation>
        </annotation>
      </element>
      <element name="qMDFe" minOccurs="0" type="TAnon_qMDFe_1">
        <annotation>
          <documentation>Quantidade total de MDF-e relacionados no Manifesto Aquaviário</documentation>
        </annotation>
      </element>
      <element name="vCarga" type="TDec_1302">
        <annotation>
          <documentation>Valor total da carga / mercadorias transportadas</documentation>
        </annotation>
      </element>
      <element name="cUnid" type="TAnon_cUnid_1">
        <annotation>
          <documentation>Código da unidade de medida do Peso Bruto da Carga / Mercadorias transportadas</documentation>
          <documentation>01 – KG;  02 - TON</documentation>
        </annotation>
      </element>
      <element name="qCarga" type="TDec_1104">
        <annotation>
          <documentation>Peso Bruto Total da Carga / Mercadorias transportadas</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_nLacre_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="60"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_lacres_1">
    <sequence>
      <element name="nLacre" type="TAnon_nLacre_1">
        <annotation>
          <documentation>número do lacre</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_autXML_1">
    <sequence>
      <choice>
        <element name="CNPJ" type="TCnpj">
          <annotation>
            <documentation>CNPJ do autorizado</documentation>
            <documentation>Informar zeros não significativos</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>CPF do autorizado</documentation>
            <documentation>Informar zeros não significativos</documentation>
          </annotation>
        </element>
      </choice>
    </sequence>
  </complexType>
  <simpleType name="TAnon_infAdFisco_1">
    <restriction base="TString">
      <maxLength value="2000"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_infCpl_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="5000"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infAdic_1">
    <sequence>
      <element name="infAdFisco" minOccurs="0" type="TAnon_infAdFisco_1">
        <annotation>
          <documentation>Informações adicionais de interesse do Fisco</documentation>
          <documentation>Norma referenciada, informações complementares, etc</documentation>
        </annotation>
      </element>
      <element name="infCpl" minOccurs="0" type="TAnon_infCpl_1">
        <annotation>
          <documentation>Informações complementares de interesse do Contribuinte</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_xSolic_1">
    <restriction base="TString">
      <minLength value="2"></minLength>
      <maxLength value="8000"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infSolicNFF_1">
    <sequence>
      <element name="xSolic" type="TAnon_xSolic_1">
        <annotation>
          <documentation>Solicitação do pedido de emissão da NFF.</documentation>
          <documentation>Será preenchido com a totalidade de campos informados no aplicativo emissor serializado.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_PAASignature_1">
    <sequence>
      <element name="SignatureValue" type="xs:base64Binary">
        <annotation>
          <documentation>Assinatura digital padrão RSA</documentation>
          <documentation>Converter o atributo Id do DFe para array de bytes e assinar com a chave privada do RSA com algoritmo SHA1 gerando um valor no formato base64.</documentation>
        </annotation>
      </element>
      <element name="RSAKeyValue" type="TRSAKeyValueType">
        <annotation>
          <documentation>Chave Publica no padrão XML RSA Key</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infPAA_1">
    <sequence>
      <element name="CNPJPAA" type="TCnpj">
        <annotation>
          <documentation>CNPJ do Provedor de Assinatura e Autorização</documentation>
        </annotation>
      </element>
      <element name="PAASignature" type="TAnonComplex_PAASignature_1">
        <annotation>
          <documentation>Assinatura RSA do Emitente para DFe gerados por PAA</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_infMDFe_1">
    <sequence>
      <element name="ide" type="TAnonComplex_ide_1">
        <annotation>
          <documentation>Identificação do MDF-e</documentation>
        </annotation>
      </element>
      <element name="emit" type="TAnonComplex_emit_1">
        <annotation>
          <documentation>Identificação do Emitente do Manifesto</documentation>
        </annotation>
      </element>
      <element name="infModal" type="TAnonComplex_infModal_1">
        <annotation>
          <documentation>Informações do modal</documentation>
        </annotation>
      </element>
      <element name="infDoc" type="TAnonComplex_infDoc_1">
        <annotation>
          <documentation>Informações dos Documentos fiscais vinculados ao manifesto</documentation>
        </annotation>
      </element>
      <element name="seg" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_seg_1">
        <annotation>
          <documentation>Informações de Seguro da Carga</documentation>
        </annotation>
      </element>
      <element name="prodPred" minOccurs="0" type="TAnonComplex_prodPred_1">
        <annotation>
          <documentation>Produto predominante</documentation>
          <documentation>Informar a descrição do produto predominante, conforme o item de maior valor financeiro conforme Resolução ANTT n° 5.867 de 2020).</documentation>
        </annotation>
      </element>
      <element name="tot" type="TAnonComplex_tot_1">
        <annotation>
          <documentation>Totalizadores da carga transportada e seus documentos fiscais</documentation>
        </annotation>
      </element>
      <element name="lacres" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_lacres_1">
        <annotation>
          <documentation>Lacres do MDF-e</documentation>
          <documentation>Preechimento opcional para os modais Rodoviário e Ferroviário</documentation>
        </annotation>
      </element>
      <element name="autXML" minOccurs="0" maxOccurs="10" type="TAnonComplex_autXML_1">
        <annotation>
          <documentation>Autorizados para download do XML do DF-e</documentation>
          <documentation>Informar CNPJ ou CPF. Preencher os zeros não significativos.</documentation>
        </annotation>
      </element>
      <element name="infAdic" minOccurs="0" type="TAnonComplex_infAdic_1">
        <annotation>
          <documentation>Informações Adicionais</documentation>
        </annotation>
      </element>
      <element name="infRespTec" type="TRespTec" minOccurs="0">
        <annotation>
          <documentation>Informações do Responsável Técnico pela emissão do DF-e</documentation>
        </annotation>
      </element>
      <element name="infSolicNFF" minOccurs="0" type="TAnonComplex_infSolicNFF_1">
        <annotation>
          <documentation>Grupo de informações do pedido de emissão da Nota Fiscal Fácil</documentation>
        </annotation>
      </element>
      <element name="infPAA" minOccurs="0" type="TAnonComplex_infPAA_1">
        <annotation>
          <documentation>Grupo de Informação do Provedor de Assinatura e Autorização</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerMDe" use="required">
      <annotation>
        <documentation>Versão do leiaute</documentation>
        <documentation>Ex: &#34;3.00&#34;</documentation>
      </annotation>
    </attribute>
    <attribute name="Id" use="required">
      <annotation>
        <documentation>Identificador da tag a ser assinada</documentation>
        <documentation>Informar a chave de acesso do MDF-e e precedida do literal &#34;MDFe&#34;</documentation>
      </annotation>
      <simpleType>
        <restriction base="xs:ID">
          <pattern value="MDFe[0-9]{44}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType name="TAnon_qrCodMDFe_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="50"></minLength>
      <maxLength value="1000"></maxLength>
      <pattern value="((HTTPS?|https?)://.*\?chMDFe=[0-9]{44}&amp;tpAmb=[1-2](&amp;sign=[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1})?)"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infMDFeSupl_1">
    <sequence>
      <element name="qrCodMDFe" type="TAnon_qrCodMDFe_1">
        <annotation>
          <documentation>Texto com o QR-Code para consulta do MDF-e</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_tMed_1">
    <restriction base="xs:integer">
      <pattern value="[0-9]{1,4}"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infRec_1">
    <sequence>
      <element name="nRec" type="TRec">
        <annotation>
          <documentation>Número do Recibo</documentation>
        </annotation>
      </element>
      <element name="dhRecbto" type="xs:dateTime">
        <annotation>
          <documentation>Data e hora do recebimento, no formato AAAA-MM-DDTHH:MM:SS</documentation>
        </annotation>
      </element>
      <element name="tMed" type="TAnon_tMed_1">
        <annotation>
          <documentation>Tempo médio de resposta do serviço (em segundos) dos últimos 5 minutos</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_xLgr_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nro_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xCpl_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xBairro_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMun_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_CEP_3">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_fone_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{7,12}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xLgr_2">
    <restriction base="TString">
      <maxLength value="255"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nro_2">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xCpl_2">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xBairro_2">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMun_2">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_CEP_4">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cPais_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{1,4}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xPais_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xLgr_3">
    <restriction base="TString">
      <maxLength value="255"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nro_3">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xCpl_3">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xBairro_3">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMun_3">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_CEP_5">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xLgr_4">
    <restriction base="TString">
      <maxLength value="255"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nro_4">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xCpl_4">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xBairro_4">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMun_4">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_CEP_6">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xLgr_5">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nro_5">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xCpl_5">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xBairro_5">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMun_5">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_CEP_7">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cPais_2">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{1,4}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xPais_2">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_fone_2">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{7,10}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMun_6">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_2">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xLgr_6">
    <restriction base="TString">
      <maxLength value="255"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nro_6">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xCpl_6">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xBairro_6">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_xMun_7">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infNFe_2">
    <sequence>
      <element name="chNFe" type="TChNFe">
        <annotation>
          <documentation>Chave de acesso da NF-e</documentation>
        </annotation>
      </element>
      <element name="PIN" type="TPIN" minOccurs="0">
        <annotation>
          <documentation>PIN SUFRAMA</documentation>
          <documentation>PIN atribuído pela SUFRAMA para a operação.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_xNome_3">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_emi_1">
    <sequence>
      <element name="CNPJ" type="TCnpj">
        <annotation>
          <documentation>CNPJ do emitente</documentation>
          <documentation></documentation>
        </annotation>
      </element>
      <element name="xNome" type="TAnon_xNome_3">
        <annotation>
          <documentation>Razão Social ou Nome</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>UF do Emitente</documentation>
          <documentation>Informar &#39;EX&#39; para operações com o exterior.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_xNome_4">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="1"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_dest_1">
    <sequence>
      <choice>
        <element name="CNPJ" type="TCnpjOpc">
          <annotation>
            <documentation>CNPJ do Destinatário</documentation>
            <documentation>Informar o CNPJ ou o CPF do destinatário, preenchendo os
zeros não significativos.
Não informar o conteúdo da TAG se a operação for realizada com o Exterior.</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>CPF do Destinatário</documentation>
            <documentation>Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
      </choice>
      <element name="xNome" type="TAnon_xNome_4">
        <annotation>
          <documentation>Razão Social ou Nome</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>UF do Destinatário</documentation>
          <documentation>Informar &#39;EX&#39; para operações com o exterior.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_serie_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="3"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nNF_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infNF_1">
    <sequence>
      <element name="emi" type="TAnonComplex_emi_1">
        <annotation>
          <documentation>Informações do Emitente da NF</documentation>
        </annotation>
      </element>
      <element name="dest" type="TAnonComplex_dest_1">
        <annotation>
          <documentation>Informações do Destinatário da NF</documentation>
        </annotation>
      </element>
      <element name="serie" type="TAnon_serie_1">
        <annotation>
          <documentation>Série</documentation>
        </annotation>
      </element>
      <element name="nNF" type="TAnon_nNF_1">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="dEmi" type="TData">
        <annotation>
          <documentation>Data de Emissão</documentation>
          <documentation>Formato AAAA-MM-DD</documentation>
        </annotation>
      </element>
      <element name="vNF" type="TDec_1302">
        <annotation>
          <documentation>Valor Total da NF</documentation>
        </annotation>
      </element>
      <element name="PIN" type="TPIN" minOccurs="0">
        <annotation>
          <documentation>PIN SUFRAMA</documentation>
          <documentation>PIN atribuído pela SUFRAMA para a operação.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_nLacre_2">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_lacUnidTransp_1">
    <sequence>
      <element name="nLacre" type="TAnon_nLacre_2">
        <annotation>
          <documentation>Número do lacre</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_nLacre_3">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_lacUnidCarga_1">
    <sequence>
      <element name="nLacre" type="TAnon_nLacre_3">
        <annotation>
          <documentation>Número do lacre</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_qtdRat_1">
    <restriction base="TDec_0302_0303"></restriction>
  </simpleType>
  <simpleType name="TAnon_xContato_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_fone_3">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{7,12}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_idCSRT_1">
    <restriction base="xs:string">
      <pattern value="[0-9]{3}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_hashCSRT_1">
    <restriction base="xs:base64Binary">
      <length value="20"></length>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_cStat_1">
    <restriction base="TStat"></restriction>
  </simpleType>
  <complexType name="TAnonComplex_infProt_1">
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que processou a NF-3e</documentation>
        </annotation>
      </element>
      <element name="chMDFe" type="TChMDFe">
        <annotation>
          <documentation>Chave de acesso do MDF-e</documentation>
        </annotation>
      </element>
      <element name="dhRecbto" type="TDateTimeUTC">
        <annotation>
          <documentation>Data e hora de processamento, no formato AAAA-MM-DDTHH:MM:SS TZD.</documentation>
        </annotation>
      </element>
      <element name="nProt" type="TProt" minOccurs="0">
        <annotation>
          <documentation>Número do Protocolo de Status do MDF-e</documentation>
        </annotation>
      </element>
      <element name="digVal" type="ds:DigestValueType" minOccurs="0">
        <annotation>
          <documentation>Digest Value do MDF-e processado. Utilizado para conferir a integridade do MDF-e original.</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TAnon_cStat_1">
        <annotation>
          <documentation>Código do status do MDF-e</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do MDF-e.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="Id" type="xs:ID" use="optional"></attribute>
  </complexType>
  <simpleType name="TAnon_cMsg_1">
    <restriction base="TStat"></restriction>
  </simpleType>
  <complexType name="TAnonComplex_infFisco_1">
    <sequence>
      <element name="cMsg" type="TAnon_cMsg_1">
        <annotation>
          <documentation>Código do status da mensagem do fisco</documentation>
        </annotation>
      </element>
      <element name="xMsg" type="TMotivo">
        <annotation>
          <documentation>Mensagem do Fisco</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TMDFe">
    <annotation>
      <documentation>Tipo Manifesto de Documentos Fiscais Eletrônicos</documentation>
    </annotation>
    <sequence>
      <element name="infMDFe" type="TAnonComplex_infMDFe_1">
        <annotation>
          <documentation>Informações do MDF-e</documentation>
        </annotation>
      </element>
      <element name="infMDFeSupl" minOccurs="0" type="TAnonComplex_infMDFeSupl_1">
        <annotation>
          <documentation>Informações suplementares do MDF-e</documentation>
        </annotation>
      </element>
      <element ref="ds:Signature"></element>
    </sequence>
  </complexType>
  <complexType name="TEnviMDFe">
    <annotation>
      <documentation>Tipo Pedido de Autorização Assíncrona de MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="idLote" type="TIdLote"></element>
      <element name="MDFe" type="TMDFe"></element>
    </sequence>
    <attribute name="versao" type="TVerMDe" use="required"></attribute>
  </complexType>
  <complexType name="TRetMDFe">
    <annotation>
      <documentation>Tipo Retorno do Pedido de Autorização do MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>Identificação da UF</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que recebeu o Arquivo.</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da mensagem enviada.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do serviço solicitado.</documentation>
        </annotation>
      </element>
      <element name="protMDFe" type="TProtMDFe" minOccurs="0">
        <annotation>
          <documentation>Dados do Recibo do Arquivo</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerMDe" use="required"></attribute>
  </complexType>
  <complexType name="TRetEnviMDFe">
    <annotation>
      <documentation>Tipo Retorno do Recibo do Pedido de Autorização do MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>Identificação da UF</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que recebeu o Arquivo.</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da mensagem enviada.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do serviço solicitado.</documentation>
        </annotation>
      </element>
      <element name="infRec" minOccurs="0" type="TAnonComplex_infRec_1">
        <annotation>
          <documentation>Dados do Recibo do Arquivo</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerMDe" use="required"></attribute>
  </complexType>
  <complexType name="TEndeEmi">
    <annotation>
      <documentation>Tipo Dados do Endereço</documentation>
    </annotation>
    <sequence>
      <element name="xLgr" type="TAnon_xLgr_1">
        <annotation>
          <documentation>Logradouro</documentation>
        </annotation>
      </element>
      <element name="nro" type="TAnon_nro_1">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="xCpl" minOccurs="0" type="TAnon_xCpl_1">
        <annotation>
          <documentation>Complemento</documentation>
        </annotation>
      </element>
      <element name="xBairro" type="TAnon_xBairro_1">
        <annotation>
          <documentation>Bairro</documentation>
        </annotation>
      </element>
      <element name="cMun" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xMun" type="TAnon_xMun_1">
        <annotation>
          <documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="CEP" minOccurs="0" type="TAnon_CEP_3">
        <annotation>
          <documentation>CEP</documentation>
          <documentation>Informar zeros não significativos</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF, , informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="fone" minOccurs="0" type="TAnon_fone_1">
        <annotation>
          <documentation>Telefone</documentation>
        </annotation>
      </element>
      <element name="email" type="TEmail" minOccurs="0">
        <annotation>
          <documentation>Endereço de E-mail</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TEndereco">
    <annotation>
      <documentation>Tipo Dados do Endereço</documentation>
    </annotation>
    <sequence>
      <element name="xLgr" type="TAnon_xLgr_2">
        <annotation>
          <documentation>Logradouro</documentation>
        </annotation>
      </element>
      <element name="nro" type="TAnon_nro_2">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="xCpl" minOccurs="0" type="TAnon_xCpl_2">
        <annotation>
          <documentation>Complemento</documentation>
        </annotation>
      </element>
      <element name="xBairro" type="TAnon_xBairro_2">
        <annotation>
          <documentation>Bairro</documentation>
        </annotation>
      </element>
      <element name="cMun" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xMun" type="TAnon_xMun_2">
        <annotation>
          <documentation>Nome do município, informar EXTERIOR para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="CEP" minOccurs="0" type="TAnon_CEP_4">
        <annotation>
          <documentation>CEP</documentation>
          <documentation>Informar os zeros não significativos</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF, informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="cPais" minOccurs="0" type="TAnon_cPais_1">
        <annotation>
          <documentation>Código do país</documentation>
          <documentation>Utilizar a tabela do BACEN</documentation>
        </annotation>
      </element>
      <element name="xPais" minOccurs="0" type="TAnon_xPais_1">
        <annotation>
          <documentation>Nome do país</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TEndernac">
    <annotation>
      <documentation>Tipo Dados do Endereço</documentation>
    </annotation>
    <sequence>
      <element name="xLgr" type="TAnon_xLgr_3">
        <annotation>
          <documentation>Logradouro</documentation>
        </annotation>
      </element>
      <element name="nro" type="TAnon_nro_3">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="xCpl" minOccurs="0" type="TAnon_xCpl_3">
        <annotation>
          <documentation>Complemento</documentation>
        </annotation>
      </element>
      <element name="xBairro" type="TAnon_xBairro_3">
        <annotation>
          <documentation>Bairro</documentation>
        </annotation>
      </element>
      <element name="cMun" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xMun" type="TAnon_xMun_3">
        <annotation>
          <documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="CEP" minOccurs="0" type="TAnon_CEP_5">
        <annotation>
          <documentation>CEP</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF, , informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TEnderFer">
    <annotation>
      <documentation>Tipo Dados do Endereço</documentation>
    </annotation>
    <sequence>
      <element name="xLgr" type="TAnon_xLgr_4">
        <annotation>
          <documentation>Logradouro</documentation>
        </annotation>
      </element>
      <element name="nro" minOccurs="0" type="TAnon_nro_4">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="xCpl" minOccurs="0" type="TAnon_xCpl_4">
        <annotation>
          <documentation>Complemento</documentation>
        </annotation>
      </element>
      <element name="xBairro" minOccurs="0" type="TAnon_xBairro_4">
        <annotation>
          <documentation>Bairro</documentation>
        </annotation>
      </element>
      <element name="cMun" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xMun" type="TAnon_xMun_4">
        <annotation>
          <documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="CEP" type="TAnon_CEP_6">
        <annotation>
          <documentation>CEP</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF, , informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TEndOrg">
    <annotation>
      <documentation>Tipo Dados do Endereço</documentation>
    </annotation>
    <sequence>
      <element name="xLgr" type="TAnon_xLgr_5">
        <annotation>
          <documentation>Logradouro</documentation>
        </annotation>
      </element>
      <element name="nro" type="TAnon_nro_5">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="xCpl" minOccurs="0" type="TAnon_xCpl_5">
        <annotation>
          <documentation>Complemento</documentation>
        </annotation>
      </element>
      <element name="xBairro" type="TAnon_xBairro_5">
        <annotation>
          <documentation>Bairro</documentation>
        </annotation>
      </element>
      <element name="cMun" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xMun" type="TAnon_xMun_5">
        <annotation>
          <documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="CEP" minOccurs="0" type="TAnon_CEP_7">
        <annotation>
          <documentation>CEP</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF, , informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="cPais" minOccurs="0" type="TAnon_cPais_2">
        <annotation>
          <documentation>Código do país</documentation>
        </annotation>
      </element>
      <element name="xPais" minOccurs="0" type="TAnon_xPais_2">
        <annotation>
          <documentation>Nome do país</documentation>
        </annotation>
      </element>
      <element name="fone" minOccurs="0" type="TAnon_fone_2">
        <annotation>
          <documentation>Telefone</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TLocal">
    <annotation>
      <documentation>Tipo Dados do Local de Origem ou Destino</documentation>
    </annotation>
    <sequence>
      <element name="cMun" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do município (utilizar a tabela do IBGE)</documentation>
        </annotation>
      </element>
      <element name="xMun" type="TAnon_xMun_6">
        <annotation>
          <documentation>Nome do município</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TEndReEnt">
    <annotation>
      <documentation>Tipo Dados do Local de Retirada ou Entrega</documentation>
    </annotation>
    <sequence>
      <choice>
        <element name="CNPJ" type="TCnpj">
          <annotation>
            <documentation>Número do CNPJ</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>Número do CPF</documentation>
          </annotation>
        </element>
      </choice>
      <element name="xNome" type="TAnon_xNome_2">
        <annotation>
          <documentation>Razão Social ou Nome</documentation>
        </annotation>
      </element>
      <element name="xLgr" type="TAnon_xLgr_6">
        <annotation>
          <documentation>Logradouro</documentation>
        </annotation>
      </element>
      <element name="nro" type="TAnon_nro_6">
        <annotation>
          <documentation>Número</documentation>
        </annotation>
      </element>
      <element name="xCpl" minOccurs="0" type="TAnon_xCpl_6">
        <annotation>
          <documentation>Complemento</documentation>
        </annotation>
      </element>
      <element name="xBairro" type="TAnon_xBairro_6">
        <annotation>
          <documentation>Bairro</documentation>
        </annotation>
      </element>
      <element name="cMun" type="TCodMunIBGE">
        <annotation>
          <documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xMun" type="TAnon_xMun_7">
        <annotation>
          <documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF, , informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TNFeNF">
    <annotation>
      <documentation>Tipo  de Dados das Notas Fiscais Papel e Eletrônica</documentation>
    </annotation>
    <choice>
      <element name="infNFe" type="TAnonComplex_infNFe_2">
        <annotation>
          <documentation>Informações da NF-e</documentation>
        </annotation>
      </element>
      <element name="infNF" type="TAnonComplex_infNF_1">
        <annotation>
          <documentation>Informações da NF mod 1 e 1A</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="TUnidadeTransp">
    <annotation>
      <documentation>Tipo Dados Unidade de Transporte</documentation>
    </annotation>
    <sequence>
      <element name="tpUnidTransp" type="TtipoUnidTransp">
        <annotation>
          <documentation>Tipo da Unidade de Transporte</documentation>
          <documentation>1 - Rodoviário Tração;

2 - Rodoviário Reboque;

3 - Navio;

4 - Balsa;

5 - Aeronave;

6 - Vagão;

7 - Outros</documentation>
        </annotation>
      </element>
      <element name="idUnidTransp" type="TContainer">
        <annotation>
          <documentation>Identificação da Unidade de Transporte</documentation>
          <documentation>Informar a identificação conforme o tipo de unidade de transporte.
Por exemplo: para rodoviário tração ou reboque deverá preencher com a placa do veículo.</documentation>
        </annotation>
      </element>
      <element name="lacUnidTransp" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_lacUnidTransp_1">
        <annotation>
          <documentation>Lacres das Unidades de Transporte</documentation>
        </annotation>
      </element>
      <element name="infUnidCarga" type="TUnidCarga" minOccurs="0" maxOccurs="unbounded">
        <annotation>
          <documentation>Informações das Unidades de Carga (Containeres/ULD/Outros)</documentation>
          <documentation>Dispositivo de carga utilizada (Unit Load Device - ULD) significa todo tipo de contêiner de carga, vagão, contêiner de avião, palete de aeronave com rede ou palete de aeronave com rede sobre um iglu.</documentation>
        </annotation>
      </element>
      <element name="qtdRat" type="TDec_0302_0303" minOccurs="0">
        <annotation>
          <documentation>Quantidade rateada (Peso,Volume)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TUnidCarga">
    <annotation>
      <documentation>Tipo Dados Unidade de Carga</documentation>
    </annotation>
    <sequence>
      <element name="tpUnidCarga" type="TtipoUnidCarga">
        <annotation>
          <documentation>Tipo da Unidade de Carga</documentation>
          <documentation>1 - Container;

2 - ULD;

3 - Pallet;

4 - Outros;</documentation>
        </annotation>
      </element>
      <element name="idUnidCarga" type="TContainer">
        <annotation>
          <documentation>Identificação da Unidade de Carga</documentation>
          <documentation>Informar a identificação da unidade de carga, por exemplo: número do container.</documentation>
        </annotation>
      </element>
      <element name="lacUnidCarga" minOccurs="0" maxOccurs="unbounded" type="TAnonComplex_lacUnidCarga_1">
        <annotation>
          <documentation>Lacres das Unidades de Carga</documentation>
        </annotation>
      </element>
      <element name="qtdRat" minOccurs="0" type="TAnon_qtdRat_1">
        <annotation>
          <documentation>Quantidade rateada (Peso,Volume)</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TRespTec">
    <annotation>
      <documentation>Tipo Dados da Responsável Técnico</documentation>
    </annotation>
    <sequence>
      <element name="CNPJ" type="TCnpj">
        <annotation>
          <documentation>CNPJ da pessoa jurídica responsável técnica pelo sistema utilizado na emissão do documento fiscal eletrônico</documentation>
          <documentation>Informar o CNPJ da pessoa jurídica desenvolvedora do sistema utilizado na emissão do documento fiscal eletrônico.</documentation>
        </annotation>
      </element>
      <element name="xContato" type="TAnon_xContato_1">
        <annotation>
          <documentation>Nome da pessoa a ser contatada</documentation>
          <documentation>Informar o nome da pessoa a ser contatada na empresa desenvolvedora do sistema utilizado na emissão do documento fiscal eletrônico. No caso de pessoa física, informar o respectivo nome.</documentation>
        </annotation>
      </element>
      <element name="email" type="TEmail">
        <annotation>
          <documentation>Email da pessoa jurídica a ser contatada</documentation>
        </annotation>
      </element>
      <element name="fone" type="TAnon_fone_3">
        <annotation>
          <documentation>Telefone da pessoa jurídica a ser contatada</documentation>
          <documentation>Preencher com o Código DDD + número do telefone.</documentation>
        </annotation>
      </element>
      <element name="idCSRT" minOccurs="0" type="TAnon_idCSRT_1">
        <annotation>
          <documentation>Identificador do código de segurança do responsável técnico</documentation>
          <documentation>Identificador do CSRT utilizado para geração do hash</documentation>
        </annotation>
      </element>
      <element name="hashCSRT" minOccurs="0" type="TAnon_hashCSRT_1">
        <annotation>
          <documentation>Hash do token do código de segurança do responsável técnico</documentation>
          <documentation>O hashCSRT é o resultado das funções SHA-1 e base64 do token CSRT fornecido pelo fisco + chave de acesso do DF-e. (Implementação em futura NT)

Observação: 28 caracteres são representados no schema como 20 bytes do tipo base64Binary</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TProtMDFe">
    <annotation>
      <documentation>Tipo Protocolo de status resultado do processamento do MDF-e</documentation>
    </annotation>
    <sequence>
      <element name="infProt" type="TAnonComplex_infProt_1">
        <annotation>
          <documentation>Dados do protocolo de status</documentation>
        </annotation>
      </element>
      <element name="infFisco" minOccurs="0" type="TAnonComplex_infFisco_1">
        <annotation>
          <documentation>Mensagem do Fisco</documentation>
        </annotation>
      </element>
      <element ref="ds:Signature" minOccurs="0"></element>
    </sequence>
    <attribute name="versao" type="TVerMDe" use="required"></attribute>
  </complexType>
  <simpleType name="TProcEmi">
    <annotation>
      <documentation>Tipo processo de emissão do MDF-e</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="0"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TIdLote">
    <annotation>
      <documentation>Tipo Identificador de controle do envio do lote. Número seqüencial auto-incremental, de controle correspondente ao identificador único do lote enviado. A responsabilidade de gerar e controlar esse número é do próprio contribuinte.</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{1,15}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TModalMD">
    <annotation>
      <documentation>Tipo Modal Manifesto</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
      <enumeration value="4"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TModDoc">
    <annotation>
      <documentation>Tipo Modelo do Documento</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="01"></enumeration>
      <enumeration value="1B"></enumeration>
      <enumeration value="02"></enumeration>
      <enumeration value="2D"></enumeration>
      <enumeration value="2E"></enumeration>
      <enumeration value="04"></enumeration>
      <enumeration value="06"></enumeration>
      <enumeration value="07"></enumeration>
      <enumeration value="08"></enumeration>
      <enumeration value="8B"></enumeration>
      <enumeration value="09"></enumeration>
      <enumeration value="10"></enumeration>
      <enumeration value="11"></enumeration>
      <enumeration value="13"></enumeration>
      <enumeration value="14"></enumeration>
      <enumeration value="15"></enumeration>
      <enumeration value="16"></enumeration>
      <enumeration value="17"></enumeration>
      <enumeration value="18"></enumeration>
      <enumeration value="20"></enumeration>
      <enumeration value="21"></enumeration>
      <enumeration value="22"></enumeration>
      <enumeration value="23"></enumeration>
      <enumeration value="24"></enumeration>
      <enumeration value="25"></enumeration>
      <enumeration value="26"></enumeration>
      <enumeration value="27"></enumeration>
      <enumeration value="28"></enumeration>
      <enumeration value="55"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TVerMDe">
    <annotation>
      <documentation>Tipo Versão do MDF-e - 3.00</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="3\.00"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TTime">
    <annotation>
      <documentation>Tipo hora</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TPIN">
    <annotation>
      <documentation>Tipo Dados PIN (SUFRAMA)</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="2"></minLength>
      <maxLength value="9"></maxLength>
      <pattern value="[1-9]{1}[0-9]{1,8}"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TContainer">
    <annotation>
      <documentation>Tipo Número do Container</documentation>
    </annotation>
    <restriction base="xs:string">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[A-Z0-9]+"></pattern>
    </restriction>
  </simpleType>
  <simpleType name="TEmail">
    <annotation>
      <documentation>Tipo Email</documentation>
    </annotation>
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <minLength value="6"></minLength>
      <maxLength value="60"></maxLength>
      <pattern value="[^@]+@[^\.]+\..+"></pattern>
    </restriction>
  </simpleType>
</schema>