internal/mdfe/schemas/v3_0/mdfe/procMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:_xmlns="xmlns" _xmlns:ds="http://www.w3.org/2000/09/xmldsig#" _xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/mdfe" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include xmlns="http://www.w3.org/2001/XMLSchema" schemaLocation="mdfeTiposBasico_v3.00.xsd"></include>
  <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="TAnonComplex_mdfeProc_1">
    <sequence xmlns="http://www.w3.org/2001/XMLSchema">
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="MDFe" type="TMDFe"></element>
      <element xmlns="http://www.w3.org/2001/XMLSchema" name="protMDFe" type="TProtMDFe"></element>
    </sequence>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="versao" type="TVerMDe" use="required"></attribute>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="ipTransmissor" type="TIPv4" use="optional">
      <annotation xmlns="http://www.w3.org/2001/XMLSchema">
        <documentation xmlns="http://www.w3.org/2001/XMLSchema">IP do transmissor do documento fiscal para o ambiente autorizador</documentation>
      </annotation>
    </attribute>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="nPortaCon" use="optional">
      <annotation xmlns="http://www.w3.org/2001/XMLSchema">
        <documentation xmlns="http://www.w3.org/2001/XMLSchema">Porta de origem utilizada na conexão (De 0 a 65535)</documentation>
      </annotation>
      <simpleType xmlns="http://www.w3.org/2001/XMLSchema">
        <restriction xmlns="http://www.w3.org/2001/XMLSchema" base="xs:string">
          <pattern xmlns="http://www.w3.org/2001/XMLSchema" value="[0-9]{1,5}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
    <attribute xmlns="http://www.w3.org/2001/XMLSchema" name="dhConexao" type="TDateTimeUTC" use="optional">
      <annotation xmlns="http://www.w3.org/2001/XMLSchema">
        <documentation xmlns="http://www.w3.org/2001/XMLSchema">Data e Hora da Conexão de Origem</documentation>
      </annotation>
    </attribute>
  </complexType>
  <element xmlns="http://www.w3.org/2001/XMLSchema" name="mdfeProc" type="TAnonComplex_mdfeProc_1">
    <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <documentation xmlns="http://www.w3.org/2001/XMLSchema"> MDF-e processado</documentation>
    </annotation>
  </element>
</schema>