internal/mdfe/schemas/v3_0/mdfe/procMDFe_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.portalfiscal.inf.br/mdfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="mdfeTiposBasico_v3.00.xsd"></include>
  <complexType name="TAnonComplex_mdfeProc_1">
    <sequence>
      <element name="MDFe" type="TMDFe"></element>
      <element name="protMDFe" type="TProtMDFe"></element>
    </sequence>
    <attribute name="versao" type="TVerMDe" use="required"></attribute>
    <attribute name="ipTransmissor" type="TIPv4" use="optional">
      <annotation>
        <documentation>IP do transmissor do documento fiscal para o ambiente autorizador</documentation>
      </annotation>
    </attribute>
    <attribute name="nPortaCon" use="optional">
      <annotation>
        <documentation>Porta de origem utilizada na conexão (De 0 a 65535)</documentation>
      </annotation>
      <simpleType>
        <restriction base="xs:string">
          <pattern value="[0-9]{1,5}"></pattern>
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="dhConexao" type="TDateTimeUTC" use="optional">
      <annotation>
        <documentation>Data e Hora da Conexão de Origem</documentation>
      </annotation>
    </attribute>
  </complexType>
  <element name="mdfeProc" type="TAnonComplex_mdfeProc_1">
    <annotation>
      <documentation>MDF-e processado</documentation>
    </annotation>
  </element>
</schema>