internal/cte/schemas/v4_0/evento_gtv/evGTV_v4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/cte" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="eventoCTeTiposBasico_v4.00.xsd"></include>
  <simpleType name="TAnon_descEvento_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="Informações da GTV"></enumeration>
      <enumeration value="Informacoes da GTV"></enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nDoc_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_id_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="20"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_serie_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="3"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_subserie_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="3"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_nDV_1">
    <restriction base="TString">
      <minLength value="1"></minLength>
      <maxLength value="1"></maxLength>
    </restriction>
  </simpleType>
  <simpleType name="TAnon_tpEspecie_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <enumeration value="1"></enumeration>
      <enumeration value="2"></enumeration>
      <enumeration value="3"></enumeration>
      <enumeration value="4"></enumeration>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infEspecie_1">
    <sequence>
      <element name="tpEspecie" type="TAnon_tpEspecie_1">
        <annotation>
          <documentation>Tipo da Espécie</documentation>
          <documentation>1 - Numerário
2 - Cheque
3 - Moeda
4 - Outros</documentation>
        </annotation>
      </element>
      <element name="vEspecie" type="TDec_1302" minOccurs="0">
        <annotation>
          <documentation>Valor Transportada em Espécie indicada</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_IE_1">
    <restriction base="TIeDest"></restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_1">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_rem_1">
    <sequence>
      <choice>
        <element name="CNPJ" type="TCnpjOpc">
          <annotation>
            <documentation>Número do CNPJ</documentation>
            <documentation>Em caso de empresa não estabelecida no Brasil, será informado o CNPJ com zeros.
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>Número do CPF</documentation>
            <documentation>Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
      </choice>
      <element name="IE" minOccurs="0" type="TAnon_IE_1">
        <annotation>
          <documentation>Inscrição Estadual</documentation>
          <documentation>Informar a IE do remetente ou ISENTO se remetente é contribuinte do ICMS isento de inscrição no cadastro de contribuintes do ICMS. Caso o remetente não seja contribuinte do ICMS não informar o conteúdo.</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF</documentation>
          <documentation>Informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xNome" type="TAnon_xNome_1">
        <annotation>
          <documentation>Razão social ou nome do remetente</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_IE_2">
    <restriction base="TIeDest"></restriction>
  </simpleType>
  <simpleType name="TAnon_xNome_2">
    <restriction base="TString">
      <maxLength value="60"></maxLength>
      <minLength value="2"></minLength>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_dest_1">
    <sequence>
      <choice>
        <element name="CNPJ" type="TCnpjOpc">
          <annotation>
            <documentation>Número do CNPJ</documentation>
            <documentation>Em caso de empresa não estabelecida no Brasil, será informado o CNPJ com zeros.
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
        <element name="CPF" type="TCpf">
          <annotation>
            <documentation>Número do CPF</documentation>
            <documentation>Informar os zeros não significativos.</documentation>
          </annotation>
        </element>
      </choice>
      <element name="IE" minOccurs="0" type="TAnon_IE_2">
        <annotation>
          <documentation>Inscrição Estadual</documentation>
          <documentation>Informar a IE do destinatário ou ISENTO se remetente é contribuinte do ICMS isento de inscrição no cadastro de contribuintes do ICMS. Caso o remetente não seja contribuinte do ICMS não informar o conteúdo.</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf">
        <annotation>
          <documentation>Sigla da UF</documentation>
          <documentation>Informar EX para operações com o exterior.</documentation>
        </annotation>
      </element>
      <element name="xNome" type="TAnon_xNome_2">
        <annotation>
          <documentation>Razão social ou nome do destinatário</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="TAnon_RNTRC_1">
    <restriction base="xs:string">
      <whiteSpace value="preserve"></whiteSpace>
      <pattern value="[0-9]{8}|ISENTO"></pattern>
    </restriction>
  </simpleType>
  <complexType name="TAnonComplex_infGTV_1">
    <sequence>
      <element name="nDoc" type="TAnon_nDoc_1">
        <annotation>
          <documentation>Número da GTV</documentation>
        </annotation>
      </element>
      <element name="id" type="TAnon_id_1">
        <annotation>
          <documentation>Identificador para diferenciar GTV de mesmo número (Usar número do AIDF ou  identificador interno da empresa),</documentation>
        </annotation>
      </element>
      <element name="serie" minOccurs="0" type="TAnon_serie_1">
        <annotation>
          <documentation>Série</documentation>
        </annotation>
      </element>
      <element name="subserie" minOccurs="0" type="TAnon_subserie_1">
        <annotation>
          <documentation>Subsérie</documentation>
        </annotation>
      </element>
      <element name="dEmi" type="TData">
        <annotation>
          <documentation>Data de Emissão</documentation>
          <documentation>Formato AAAA-MM-DD</documentation>
        </annotation>
      </element>
      <element name="nDV" type="TAnon_nDV_1">
        <annotation>
          <documentation>Número Dígito Verificador</documentation>
        </annotation>
      </element>
      <element name="qCarga" type="TDec_1104">
        <annotation>
          <documentation>Quantidade de volumes/malotes</documentation>
        </annotation>
      </element>
      <element name="infEspecie" maxOccurs="unbounded" type="TAnonComplex_infEspecie_1">
        <annotation>
          <documentation>Informações das Espécies transportadas</documentation>
        </annotation>
      </element>
      <element name="rem" type="TAnonComplex_rem_1">
        <annotation>
          <documentation>Informações do Remetente da GTV</documentation>
        </annotation>
      </element>
      <element name="dest" type="TAnonComplex_dest_1">
        <annotation>
          <documentation>Informações do Destinatário da GTV</documentation>
        </annotation>
      </element>
      <element name="placa" type="TPlaca" minOccurs="0">
        <annotation>
          <documentation>Placa do veículo</documentation>
        </annotation>
      </element>
      <element name="UF" type="TUf" minOccurs="0">
        <annotation>
          <documentation>UF em que veículo está licenciado</documentation>
          <documentation>Sigla da UF de licenciamento do veículo.</documentation>
        </annotation>
      </element>
      <element name="RNTRC" minOccurs="0" type="TAnon_RNTRC_1">
        <annotation>
          <documentation>RNTRC do transportador</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="TAnonComplex_evGTV_1">
    <sequence>
      <element name="descEvento" type="TAnon_descEvento_1">
        <annotation>
          <documentation>Descrição do Evento - “Informações da GTV”</documentation>
        </annotation>
      </element>
      <element name="infGTV" maxOccurs="unbounded" type="TAnonComplex_infGTV_1">
        <annotation>
          <documentation>Grupo de Informações das GTV</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="evGTV" type="TAnonComplex_evGTV_1">
    <annotation>
      <documentation>Schema XML de validação do evento informações da GTV 110170</documentation>
    </annotation>
  </element>
</schema>