internal/bpe/schemas/v1_0/core/consSitBPeTiposBasico_v1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.portalfiscal.inf.br/bpe" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <include schemaLocation="tiposGeralBPe_v1.00.xsd"></include>
  <include schemaLocation="eventoBPeTiposBasico_v1.00.xsd"></include>
  <include schemaLocation="bpeTiposBasico_v1.00.xsd"></include>
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_v1.01.xsd"></import>
  <complexType name="TConsSitBPe">
    <annotation>
      <documentation>Tipo Pedido de Consulta da Situação Atual do Bilhete de Passagem Eletrônico</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="xServ" type="TServ" fixed="CONSULTAR">
        <annotation>
          <documentation>Serviço Solicitado</documentation>
        </annotation>
      </element>
      <element name="chBPe" type="TChDFe">
        <annotation>
          <documentation>Chaves de acesso do BP-e</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="versao" type="TVerConsSitBPe" use="required"></attribute>
  </complexType>
  <complexType name="TRetConsSitBPe">
    <annotation>
      <documentation>Tipo Retorno de Pedido de Consulta da Situação Atual do Bilhete de Passagem Eletrônico</documentation>
    </annotation>
    <sequence>
      <element name="tpAmb" type="TAmb">
        <annotation>
          <documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</documentation>
        </annotation>
      </element>
      <element name="verAplic" type="TVerAplic">
        <annotation>
          <documentation>Versão do Aplicativo que processou o BP-e</documentation>
        </annotation>
      </element>
      <element name="cStat" type="TStat">
        <annotation>
          <documentation>Código do status da mensagem enviada.</documentation>
        </annotation>
      </element>
      <element name="xMotivo" type="TMotivo">
        <annotation>
          <documentation>Descrição literal do status do serviço solicitado.</documentation>
        </annotation>
      </element>
      <element name="cUF" type="TCodUfIBGE">
        <annotation>
          <documentation>código da UF de atendimento</documentation>
        </annotation>
      </element>
      <element name="protBPe" type="TProtBPe" minOccurs="0" maxOccurs="unbounded"></element>
      <element name="procEventoBPe" type="TProcEvento" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
    <attribute name="versao" type="TVerConsSitBPe" use="required"></attribute>
  </complexType>
  <simpleType name="TVerConsSitBPe">
    <annotation>
      <documentation>Tipo Versão do Consulta situação de BP-e - 1.00</documentation>
    </annotation>
    <restriction base="xs:string">
      <pattern value="1\.00"></pattern>
    </restriction>
  </simpleType>
</schema>